.trainHeader {
  width: 100%;
  padding-top: 0.1rem;
}
.trainHeader .headerText {
  width: 100%;
  text-align: center;
  padding-top: 0.4rem;
  color: #333;
}
.trainHeader .headerText .textTit {
  font-size: 0.44rem;
}
.trainHeader .headerText .textAtta {
  font-size: 0.3rem;
  padding-top: 0.26666667rem;
}
.trainContent {
  width: 93%;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding-top: 0.4rem;
}
.trainContent .contentReco {
  width: 95%;
  margin: 0 auto 0.27027027rem;
  padding: 0.4rem 0.4rem;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
  background-color: #fff;
}
.trainContent .contentReco .leftImg {
  float: left;
  width: 1.3rem;
  height: 1.3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
}
.trainContent .contentReco .leftImg img {
  width: 1.3rem;
  height: 1.3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.trainContent .contentReco .leftTxt {
  float: left;
  padding-left: 0.26666667rem;
}
.trainContent .contentReco .leftTxt .txtName {
  padding: 0.21333333rem 0 0.13333333rem;
  font-size: 0.35rem;
  color: #ff9933;
}
.trainContent .contentReco .leftTxt .txtBaby {
  font-size: 0.3rem;
  color: #797979;
}
.trainContent .contentReco .trophy {
  width: 50%;
  display: block;
  margin: 0.4rem auto;
}
.trainContent .contentReco .baby {
  text-align: center;
  color: #333;
}
.trainContent .contentReco .honor {
  text-align: center;
  padding-top: 0.2rem;
  font-size: 0.42rem;
  color: rgba(239, 21, 24, 0.87843137);
}
.trainContent .contentReco .headerRight {
  width: 20%;
  float: right;
}
.trainContent .contentReco .headerRight img {
  width: 95%;
}
.trainContent .contentReco .headerRight p {
  text-align: center;
  font-size: 0.3rem;
  color: #ff9933;
  padding-top: 0.13333333rem;
}
.trainContent .contentReco h3 {
  font-size: 0.4rem;
  font-weight: 600;
}
.trainContent .contentReco .recoTest {
  width: 100%;
  position: relative;
}
.trainContent .contentReco .recoTest .testLeTop {
  float: left;
}
.trainContent .contentReco .recoTest .testLeTop .topTxt {
  font-size: 0.34666667rem;
  color: #797979;
}
.trainContent .contentReco .recoTest .testLeTop .achieBraL {
  display: block;
  font-size: 0.48rem;
  text-align: center;
  font-weight: 600;
  color: #FF8962;
}
.trainContent .contentReco .recoTest .testLeTop .achieBraS {
  display: block;
  font-size: 0.48rem;
  text-align: center;
  font-weight: 600;
  color: #66CC33;
}
.trainContent .contentReco .recoTest .imgLeTop {
  position: absolute;
  top: 1.2rem;
  left: 2.4rem;
  transform: rotate(-55deg);
}
.trainContent .contentReco .recoTest .imgRiTop {
  position: absolute;
  top: 1.2rem;
  right: 2.4rem;
  transform: rotate(55deg);
}
.trainContent .contentReco .recoTest .imgLiBot {
  position: absolute;
  top: -0.6rem;
  left: 2.4rem;
  transform: rotate(55deg);
}
.trainContent .contentReco .recoTest .imgRiBot {
  position: absolute;
  top: -0.6rem;
  right: 2.4rem;
  transform: rotate(-55deg);
}
.trainContent .contentReco .recoTest .testRiTop {
  float: right;
}
.trainContent .contentReco .recoTest .testRiTop .achieBraY {
  display: block;
  font-size: 0.48rem;
  text-align: center;
  font-weight: 600;
  color: #FFCC33;
}
.trainContent .contentReco .recoTest .testRiTop .achieBraJ {
  display: block;
  font-size: 0.48rem;
  text-align: center;
  font-weight: 600;
  color: #0099FF;
}
.trainContent .contentReco .recoDiv {
  width: 100%;
  height: 2.5rem;
  position: relative;
}
.trainContent .contentReco .recoDiv .recoDivImg {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.trainContent .contentReco .recoDiv .recoDivImg .recoImg {
  width: 1.6rem;
  height: 1.6rem;
  border: 0.05333333rem solid #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.trainContent .contentReco .recoBot {
  width: 100%;
  position: relative;
}
.trainContent .contentReco .recoBot .imgrecoTxt {
  position: absolute;
  top: -1.2rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.trainContent .contentReco .recoBot .recoTxt {
  text-align: center;
  font-size: 0.4rem;
  color: #333333;
  padding: 1.33333333rem 0 0 0;
}
.trainContent .contentReco .recoBot .recoTxt span {
  font-size: 0.48rem;
  color: #FF9933;
}
.trainContent .contentReco .recoTime,
.trainContent .contentReco .recoTerm {
  width: 100%;
  min-height: 0.6rem;
  background: url(/res/img/prekindergarten/u1072.png) no-repeat left center;
  background-size: 7%;
  padding-left: 0.66666667rem;
  padding-top: 0;
  color: #333333;
  line-height: 0.7rem;
}
.trainContent .contentReco .recoTime span,
.trainContent .contentReco .recoTerm span {
  font-size: 0.4rem;
  color: #ff9933;
}
.trainContent .contentReco .recoTerm {
  background: url(/res/img/prekindergarten/u2672.png) no-repeat left center;
  background-size: 4.5%;
  margin-left: 0.1rem;
  padding-left: 0.57rem;
}
.trainContent .contentReco .recoSubLe {
  float: left;
  width: 20%;
}
.trainContent .contentReco .recoSubLe p {
  font-size: 0.45333333rem;
  padding: 0 0.26666667rem;
  border-right: 1px solid #f2f2f2;
}
.trainContent .contentReco .recoSubLe .lang {
  padding: 0.26666667rem 0.26666667rem;
}
.trainContent .contentReco .recoSubRi {
  float: left;
  width: 80%;
  padding-left: 0.4rem;
  margin-top: 0.05rem;
}
.trainContent .contentReco .recoSubRi p {
  float: left;
  width: 50%;
  padding-top: 0;
  color: #333333;
  margin-top: 0.21333333rem;
}
.trainContent .contentReco .recoSubRi .subMar {
  margin-top: 0;
}
.trainContent .contentReco .recoSubRi .subLan {
  width: 100%;
}
.trainContent .contentTitle {
  width: 95%;
  margin: 0 auto 0.26666667rem;
  font-size: 0.4rem;
  font-weight: 600;
  padding-left: 0.26666667rem;
}
.trainContent .recoBottom {
  text-align: center;
  color: #FF9933;
  font-size: 0.48rem;
  padding: 0.53333333rem 0 0.4rem;
}
.trainContent .recoCode {
  font-size: 0.34666667rem;
  color: #333333;
  padding-top: 0;
}
.trainContent .planJoin {
  width: 60%;
  padding: 0.2rem 0;
  margin: 0.4rem auto 0.4rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #FF9933;
}
.trainContent .planJoin a {
  color: #fff;
  font-size: 0.38rem;
}
.line {
  width: 100%;
  height: 1rem;
  background-color: #f2f2f2;
}
