.wrapPage {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  overflow: auto;
  padding: 0.66666667rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapPage .calendarTitle {
  text-align: center;
  font-size: 0.5rem;
  color: #515151;
  font-weight: bold;
  padding: 0.4rem 0 0.26666667rem;
}
.wrapPage .calendarSubtitle {
  text-align: center;
  font-size: 0.38rem;
  color: #A1A1A1;
}
.wrapPage .calendarWeek {
  width: 100%;
  min-height: 5rem;
  padding-top: 1rem;
}
.wrapPage .calendarWeek .listWeek {
  width: 31%;
  float: left;
  height: 3rem;
  margin: 0.2rem 0.1rem;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
  border: 0.05333333rem solid #c9c9c9;
}
.wrapPage .calendarWeek .listWeek .listGrayMon {
  width: 100%;
  height: 0.8rem;
  text-align: center;
  line-height: 0.8rem;
  margin-top: -0.05rem;
  background: #c9c9c9;
  color: #fff;
}
.wrapPage .calendarWeek .listWeek .listOrangeMon {
  width: 104%;
  height: 0.8rem;
  text-align: center;
  line-height: 0.8rem;
  margin-left: -0.05rem;
  margin-top: -0.05rem;
  -webkit-border-radius: 0.08rem 0.08rem 0 0;
  -moz-border-radius: 0.08rem 0.08rem 0 0;
  -o-border-radius: 0.08rem 0.08rem 0 0;
  border-radius: 0.08rem 0.08rem 0 0;
  background: #ff9933;
}
.wrapPage .calendarWeek .listWeek .listGrayImg {
  display: block;
  width: 1rem;
  margin: 0.4rem auto 0;
}
.wrapPage .calendarWeek .listWeek .listTody {
  color: #ff9933;
  text-align: center;
  font-size: 0.4rem;
  font-weight: bold;
  padding: 0.8rem 0 0.03rem;
}
.wrapPage .calendarWeek .listWeek .listOrangeImg {
  display: block;
  width: 1rem;
  margin: 0.4rem auto 0;
}
.wrapPage .calendarWeek .listWeek .listNotbeginImg {
  display: block;
  width: 1.2rem;
  margin: 0.4rem auto 0;
  transform: rotate(38deg);
}
.wrapPage .calendarWeek .listWeek .listDay {
  text-align: right;
  font-size: 0.3rem;
  color: #AEAEAE;
  padding: 0.25rem 0 0 0;
  transform: scale(0.9);
  letter-spacing: 0.05rem;
}
.wrapPage .calendarWeek .listWeek .listDayPad {
  padding: 0.02rem;
}
.wrapPage .calendar {
  width: 100%;
  min-height: 5rem;
  padding-top: 0.53333333rem;
}
.wrapPage .calendar .calendarLeft {
  width: 31%;
  float: left;
  margin: 0.2rem 0.1rem;
}
.wrapPage .calendar .calendarLeft img {
  width: 1.5rem;
  margin: 0.5rem 0;
}
.wrapPage .calendar .calendarReport {
  width: 31%;
  float: left;
  height: 3rem;
  margin: 0.2rem 0.1rem;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
  border: 0.05333333rem solid #c9c9c9;
}
.wrapPage .calendar .calendarReport .listRedMon {
  width: 104%;
  height: 0.8rem;
  text-align: center;
  line-height: 0.8rem;
  margin-left: -0.05rem;
  margin-top: -0.05rem;
  -webkit-border-radius: 0.08rem 0.08rem 0 0;
  -moz-border-radius: 0.08rem 0.08rem 0 0;
  -o-border-radius: 0.08rem 0.08rem 0 0;
  border-radius: 0.08rem 0.08rem 0 0;
  background: #ef1518;
  color: #fff;
}
.wrapPage .calendar .calendarReport .listDay {
  text-align: center;
  font-size: 0.3rem;
  color: #AEAEAE;
  transform: scale(0.9);
  letter-spacing: 0.05rem;
  padding: 0.6rem 0 0.13333333rem 0.05rem;
}
.wrapPage .calendar .calendarReport .listReport {
  text-align: center;
  font-size: 0.36rem;
  letter-spacing: 0.05rem;
}
.wrapPage .calendar .calendarRight {
  width: 31%;
  float: right;
  margin: 0.2rem 0.1rem;
}
.wrapPage .calendar .calendarRight img {
  width: 1.5rem;
  margin: 0.5rem 0 0 1.2rem;
  transform: rotate(180deg);
}
.wrapPage .calendarBtn {
  text-align: center;
  font-size: 0.3rem;
  padding: 1rem 0 0.5rem;
  color: #868686;
}
