.pageHeaderImg {
  width: 100%;
}
.ceremony {
  width: 100%;
  padding: 0.2rem 0.3rem;
}
.ceremony h3 {
  font-size: 0.48rem;
  color: #333333;
  font-weight: 600;
}
.ceremony .subtitle {
  font-size: 0.34666667rem;
  color: #333333;
  padding: 0.26666667rem 0 0.53333333rem;
}
.ceremony .ceremonyWelcome {
  width: 100%;
  border-radius: 0.08rem;
  background-color: #fff;
  padding: 0.4rem 0.26666667rem;
  line-height: 0.5rem;
}
.ceremony .ceremonyWelcome h5 {
  font-size: 0.4rem;
  color: #333333;
  font-weight: 600;
  padding-bottom: 0.4rem;
}
.ceremony .ceremonyWelcome h5 span {
  color: #FF9933;
}
.ceremony .ceremonyWelcome .welP {
  text-indent: 0.7rem;
  font-size: 0.34666667rem;
  color: #333333;
}
.ceremony .trajectoryDwaw {
  width: 100%;
  min-height: 12rem;
  background-color: #fff;
  margin-top: 0.2rem;
  padding: 0 0.3rem;
}
.ceremony .trajectoryDwaw .actorTit {
  padding: 0.53333333rem 0;
  color: #530700;
  font-size: 0.44rem;
  font-weight: 600;
}
.ceremony .trajectoryDwaw .trajectory {
  width: 95%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.ceremony .trajectoryDwaw .trajectory .imgHeader .traImgHea {
  display: block;
  float: left;
  position: absolute;
  z-index: 3;
  width: 20%;
}
.ceremony .trajectoryDwaw .trajectory .imgHeader .traGo {
  float: left;
  color: #530700;
  line-height: 2rem;
  padding-left: 1.8rem;
  margin-top: -0.2rem;
  font-size: 0.37333333rem;
}
.ceremony .trajectoryDwaw .trajectory .seg0 {
  width: 2rem;
  height: 0.5rem;
  border-left: 0.05333333rem solid #530700;
  border-bottom: 0.05333333rem solid #530700;
  -webkit-border-radius: 0 0 0 0.13333333rem;
  -moz-border-radius: 0 0 0 0.13333333rem;
  -o-border-radius: 0 0 0 0.13333333rem;
  border-radius: 0 0 0 0.13333333rem;
  position: absolute;
  left: 0.85333333rem;
  bottom: -0.1rem;
}
.ceremony .trajectoryDwaw .trajectory .seg1 {
  width: 1.5rem;
  height: 1.27rem;
  border-right: 0.05333333rem solid #530700;
  border-bottom: 0.05333333rem solid #530700;
  -webkit-border-radius: 0 0 0 0.13333333rem;
  -moz-border-radius: 0 0 0 0.13333333rem;
  -o-border-radius: 0 0 0 0.13333333rem;
  border-radius: 0 0 0.13333333rem 0;
  position: absolute;
  left: 3.1rem;
  bottom: -0.1rem;
}
.ceremony .trajectoryDwaw .trajectory .segDiv {
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 2rem;
  bottom: -0.7rem;
  background-color: #FF9933;
  text-align: center;
  line-height: 1.3rem;
  z-index: 1;
}
.ceremony .trajectoryDwaw .trajectory .segDiv span {
  color: #fff;
  font-size: 0.53333333rem;
  font-weight: 600;
}
.ceremony .trajectoryDwaw .trajectory .seg2 {
  width: 1rem;
  height: 1.27rem;
  border-top: 0.05333333rem solid #530700;
  border-left: 0.02666667rem solid #530700;
  -webkit-border-radius: 0.13333333rem 0 0 0;
  -moz-border-radius: 0.13333333rem 0 0 0;
  -o-border-radius: 0.13333333rem 0 0 0;
  border-radius: 0.13333333rem 0 0 0;
  position: absolute;
  left: 4.55rem;
  top: 0.55rem;
}
.ceremony .trajectoryDwaw .trajectory .seg3 {
  width: 2rem;
  height: 3rem;
  border-top: 0.05333333rem solid #530700;
  border-bottom: 0.05333333rem solid #530700;
  border-right: 0.05333333rem solid #530700;
  -webkit-border-radius: 0 0.13333333rem 0.13333333rem 0;
  -moz-border-radius: 0 0.13333333rem 0.13333333rem 0;
  -o-border-radius: 0 0.13333333rem 0.13333333rem 0;
  border-radius: 0 0.13333333rem 0.13333333rem 0;
  position: absolute;
  left: 5.8rem;
  top: 0.6rem;
}
.ceremony .trajectoryDwaw .trajectory .seg3four {
  width: 2rem;
  height: 2.85rem;
  border-top: 0.05333333rem solid #530700;
  border-right: 0.05333333rem solid #530700;
  -webkit-border-radius: 0 0.13333333rem 0.13333333rem 0;
  -moz-border-radius: 0 0.13333333rem 0.13333333rem 0;
  -o-border-radius: 0 0.13333333rem 0.13333333rem 0;
  border-radius: 0 0.13333333rem 0.13333333rem 0;
  position: absolute;
  left: 6rem;
  top: 0.5rem;
}
.ceremony .trajectoryDwaw .trajectory .segDiv {
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #FF9933;
  text-align: center;
  line-height: 1.3rem;
  z-index: 2;
}
.ceremony .trajectoryDwaw .trajectory .segDiv span {
  color: #fff;
  font-size: 0.53333333rem;
  font-weight: 600;
}
.ceremony .trajectoryDwaw .trajectory .segDiv2 {
  position: absolute;
  left: 5.4rem;
  top: 0rem;
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid #FF9933;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 1.3rem;
  z-index: 2;
}
.ceremony .trajectoryDwaw .trajectory .segDiv2 span {
  color: #FF9933;
  font-size: 0.53333333rem;
  font-weight: 600;
}
.ceremony .trajectoryDwaw .trajectory .segDiv3 {
  position: absolute;
  left: 5.6rem;
  bottom: -2.4rem;
}
.ceremony .trajectoryDwaw .trajectory .segfour4 {
  position: absolute;
  left: 4.3rem;
  bottom: -2.3rem;
}
.ceremony .trajectoryDwaw .trajectory .seg4 {
  width: 4rem;
  height: 3.5rem;
  border-bottom: 0.05333333rem solid #530700;
  -webkit-border-radius: 0 0.13333333rem 0.13333333rem 0;
  -moz-border-radius: 0 0.13333333rem 0.13333333rem 0;
  -o-border-radius: 0 0.13333333rem 0.13333333rem 0;
  border-radius: 0 0.13333333rem 0.13333333rem 0;
  position: absolute;
  left: 2.4rem;
  bottom: -1.8rem;
}
.ceremony .trajectoryDwaw .trajectory .segfour {
  width: 7.1rem;
  height: 3.5rem;
  border-bottom: 0.05333333rem solid #530700;
  -webkit-border-radius: 0 0 0.13333333rem;
  -moz-border-radius: 0 0 0.13333333rem;
  -o-border-radius: 0 0 0.13333333rem;
  border-radius: 0 0 0.13333333rem;
  position: absolute;
  left: 0.9rem;
  bottom: -1.62rem;
}
.ceremony .trajectoryDwaw .trajectory .segDiv4 {
  position: absolute;
  left: 1.33333333rem;
  top: 2.9rem;
}
.ceremony .trajectoryDwaw .trajectory .seg5 {
  width: 1rem;
  height: 2rem;
  border-top: 0.05333333rem solid #530700;
  border-left: 0.05333333rem solid #530700;
  -webkit-border-radius: 0.13333333rem 0 0 0.13333333rem;
  -moz-border-radius: 0.13333333rem 0 0 0.13333333rem;
  -o-border-radius: 0.13333333rem 0 0 0.13333333rem;
  border-radius: 0.13333333rem 0 0 0.13333333rem;
  position: absolute;
  left: 0.93333333rem;
  bottom: -3.7rem;
}
.ceremony .trajectoryDwaw .trajectory .seg5Six {
  width: 1rem;
  height: 2.8rem;
  border-top: 0.05333333rem solid #530700;
  border-left: 0.05333333rem solid #530700;
  -webkit-border-radius: 0.13333333rem 0 0 0.13333333rem;
  -moz-border-radius: 0.13333333rem 0 0 0.13333333rem;
  -o-border-radius: 0.13333333rem 0 0 0.13333333rem;
  border-radius: 0.13333333rem 0 0 0.13333333rem;
  position: absolute;
  left: 0.93333333rem;
  bottom: -4.5rem;
}
.ceremony .trajectoryDwaw .trajectory .seg5four {
  width: 1rem;
  height: 2.3rem;
  border-left: 0.05333333rem solid #530700;
  -webkit-border-radius: 0.13333333rem 0 0 0.13333333rem;
  -moz-border-radius: 0.13333333rem 0 0 0.13333333rem;
  -o-border-radius: 0.13333333rem 0 0 0.13333333rem;
  border-radius: 0.13333333rem 0 0 0.13333333rem;
  position: absolute;
  left: 0.88rem;
  bottom: -3.85rem;
}
.ceremony .trajectoryDwaw .trajectory .seg6 {
  width: 2.5rem;
  height: 2rem;
  border-bottom: 0.05333333rem solid #530700;
  -webkit-border-radius: 0.13333333rem 0 0 0.13333333rem;
  -moz-border-radius: 0.13333333rem 0 0 0.13333333rem;
  -o-border-radius: 0.13333333rem 0 0 0.13333333rem;
  border-radius: 0.13333333rem 0 0 0.13333333rem;
  position: absolute;
  left: 0.93333333rem;
  bottom: -3.7rem;
}
.ceremony .trajectoryDwaw .trajectory .seg6Six {
  width: 2.5rem;
  height: 2rem;
  border-bottom: 0.05333333rem solid #530700;
  -webkit-border-radius: 0.13333333rem 0 0 0.13333333rem;
  -moz-border-radius: 0.13333333rem 0 0 0.13333333rem;
  -o-border-radius: 0.13333333rem 0 0 0.13333333rem;
  border-radius: 0.13333333rem 0 0 0.13333333rem;
  position: absolute;
  left: 0.93333333rem;
  bottom: -4.55rem;
}
.ceremony .trajectoryDwaw .trajectory .seg6four {
  width: 2.5rem;
  height: 2rem;
  border-bottom: 0.05333333rem solid #530700;
  -webkit-border-radius: 0.13333333rem 0 0 0.13333333rem;
  -moz-border-radius: 0.13333333rem 0 0 0.13333333rem;
  -o-border-radius: 0.13333333rem 0 0 0.13333333rem;
  border-radius: 0.13333333rem 0 0 0.13333333rem;
  position: absolute;
  left: 0.93333333rem;
  bottom: -3.85rem;
}
.ceremony .trajectoryDwaw .trajectory .seg6five {
  width: 5.5rem;
  height: 2rem;
  border-bottom: 0.05333333rem solid #530700;
  -webkit-border-radius: 0.13333333rem 0 0 0.13333333rem;
  -moz-border-radius: 0.13333333rem 0 0 0.13333333rem;
  -o-border-radius: 0.13333333rem 0 0 0.13333333rem;
  border-radius: 0.13333333rem 0 0 0.13333333rem;
  position: absolute;
  left: 0.93333333rem;
  bottom: -4.55rem;
}
.ceremony .trajectoryDwaw .trajectory .segDiv5 {
  position: absolute;
  left: 2.93333333rem;
  bottom: -4.3rem;
}
.ceremony .trajectoryDwaw .trajectory .segSix5 {
  position: absolute;
  left: 2.93333333rem;
  bottom: -5.1rem;
}
.ceremony .trajectoryDwaw .trajectory .seg7 {
  width: 2.5rem;
  height: 2rem;
  border-top: 0.05333333rem solid #530700;
  -webkit-border-radius: 0 0.13333333rem 0 0;
  -moz-border-radius: 0 0.13333333rem 0 0;
  -o-border-radius: 0 0.13333333rem 0 0;
  border-radius: 0 0.13333333rem 0 0;
  position: absolute;
  left: 2.93333333rem;
  top: 5.5rem;
}
.ceremony .trajectoryDwaw .trajectory .seg7Six {
  width: 2.5rem;
  height: 2.5rem;
  border-top: 0.05333333rem solid #530700;
  position: absolute;
  left: 3.8rem;
  top: 6.3rem;
}
.ceremony .trajectoryDwaw .trajectory .seg8 {
  width: 4.5rem;
  height: 2rem;
  border-right: 0.05333333rem solid #530700;
  border-bottom: 0.05333333rem solid #530700;
  -webkit-border-radius: 0.13333333rem 0 0.13333333rem 0;
  -moz-border-radius: 0.13333333rem 0 0.13333333rem 0;
  -o-border-radius: 0.13333333rem 0 0.13333333rem 0;
  border-radius: 0.13333333rem 0 0.13333333rem 0;
  position: absolute;
  left: 0.93333333rem;
  top: 5.6rem;
}
.ceremony .trajectoryDwaw .trajectory .segDiv6 {
  position: absolute;
  left: 0.35rem;
  top: 7.1rem;
}
.ceremony .trajectoryDwaw .trajectory .seg9 {
  width: 2.8rem;
  height: 2rem;
  border-left: 0.05333333rem solid #530700;
  border-bottom: 0.05333333rem solid #530700;
  -webkit-border-radius: 0 0 0.13333333rem 0.13333333rem;
  -moz-border-radius: 0 0 0.13333333rem 0.13333333rem;
  -o-border-radius: 0 0 0.13333333rem 0.13333333rem;
  border-radius: 0 0 0.13333333rem 0.13333333rem;
  position: absolute;
  left: 0.93333333rem;
  top: 7.8rem;
}
.ceremony .trajectoryDwaw .trajectory .seg9Seven {
  width: 6.3rem;
  height: 2rem;
  border-left: 0.05333333rem solid #530700;
  border-bottom: 0.05333333rem solid #530700;
  -webkit-border-radius: 0 0 0.13333333rem 0.13333333rem;
  -moz-border-radius: 0 0 0.13333333rem 0.13333333rem;
  -o-border-radius: 0 0 0.13333333rem 0.13333333rem;
  border-radius: 0 0 0.13333333rem 0.13333333rem;
  position: absolute;
  left: 0.93333333rem;
  top: 7.8rem;
}
.ceremony .trajectoryDwaw .trajectory .seg10 {
  width: 3rem;
  height: 0.6rem;
  border-right: 0.05333333rem solid #530700;
  -webkit-border-radius: 0 0 0.13333333rem 0.13333333rem;
  -moz-border-radius: 0 0 0.13333333rem 0.13333333rem;
  -o-border-radius: 0 0 0.13333333rem 0.13333333rem;
  border-radius: 0 0 0.13333333rem 0.13333333rem;
  position: absolute;
  left: 0.7rem;
  top: 9.2rem;
}
.ceremony .trajectoryDwaw .trajectory .seg10Seven {
  width: 3rem;
  height: 1.5rem;
  border-right: 0.05333333rem solid #530700;
  -webkit-border-radius: 0 0 0.13333333rem 0.13333333rem;
  -moz-border-radius: 0 0 0.13333333rem 0.13333333rem;
  -o-border-radius: 0 0 0.13333333rem 0.13333333rem;
  border-radius: 0 0 0.13333333rem 0.13333333rem;
  position: absolute;
  left: 4.25rem;
  top: 8.3rem;
}
.ceremony .trajectoryDwaw .trajectory .segDiv7 {
  position: absolute;
  left: 3.1rem;
  top: 8rem;
}
.ceremony .trajectoryDwaw .trajectory .seg11 {
  width: 3.35rem;
  height: 1rem;
  border-top: 0.05333333rem solid #530700;
  position: absolute;
  left: 4rem;
  top: 8.6rem;
}
.ceremony .trajectoryDwaw .trajectory .seg12 {
  width: 1.3rem;
  height: 1.5rem;
  border-right: 0.05333333rem solid #530700;
  -webkit-border-radius: 0 0 0.13333333rem 0.13333333rem;
  -o-border-radius: 0 0 0.13333333rem 0.13333333rem;
  border-radius: 0 0 0.13333333rem 0.13333333rem;
  position: absolute;
  left: 6.1rem;
  top: 7.2rem;
}
.ceremony .trajectoryDwaw .trajectory .imgBot {
  position: absolute;
  left: 6.5rem;
  top: 5.4rem;
  width: 20%;
}
.ceremony .trajectoryDwaw .trajectory .imgBot .traImgBot {
  width: 100%;
}
.ceremony .trajectoryDwaw .trajectory .imgBot .traEnd {
  text-align: center;
  padding: 0.5rem 0 0.3rem;
}
.ceremony .trajectoryDwaw .trajectory .img6Bot {
  position: absolute;
  left: 6.2rem;
  top: 4rem;
}
.ceremony .trajectoryDwaw .trajectory .img4Bot {
  position: absolute;
  left: 2.5rem;
  top: 3.4rem;
}
.ceremony .trajectorySix {
  min-height: 9rem;
}
.ceremony .cerePrompt {
  margin-top: 0.2rem;
  background-color: #fff;
}
.ceremony .cerePrompt h4 {
  color: #530700;
  font-size: 0.44rem;
  font-weight: 600;
  padding: 0.5rem 0 0 0.3rem;
}
.ceremony .cerePrompt h4 span {
  font-size: 0.26666667rem;
}
.ceremony .cerePrompt .contentReco {
  width: 100%;
  margin: 0.4rem auto 0.13513514rem;
}
.ceremony .cerePrompt .contentReco .recoSubRi {
  width: 100%;
  background-color: #fff;
  margin-bottom: 0.3rem;
}
.ceremony .cerePrompt .contentReco .recoSubRi p {
  float: left;
  color: #333333;
  font-size: 0.34666667rem;
  padding: 0.1rem 0.3rem 0.3rem;
  -webkit-border-radius: 0 0.08rem 0.08rem 0;
  -moz-border-radius: 0 0.08rem 0.08rem 0;
  -o-border-radius: 0 0.08rem 0.08rem 0;
  border-radius: 0 0.08rem 0.08rem 0;
  line-height: 0.5rem;
}
.ceremony .cereBottom {
  width: 100%;
}
.ceremony .cereBottom p {
  width: 50%;
  margin: 0.53333333rem auto;
  border-radius: 1.33333333rem 1.33333333rem;
  padding: 0.26666667rem 0;
  border: 0.02666667rem solid #FF9933;
  background-color: #fff;
  text-align: center;
}
