.fundPopup {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
.fundPopup .popupBox {
  width: 100%;
  height: 100%;
  position: relative;
}
.fundPopup .popupBox .popupContent {
  width: 8rem;
  height: 10rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.4rem;
  margin-left: -4rem;
  margin-top: -6rem;
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -o-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
}
.fundPopup .popupBox .popupContent .contentImg {
  width: 3rem;
  display: block;
  margin: 0.66666667rem auto 0.4rem;
}
.fundPopup .popupBox .popupContent .contentTitH {
  text-align: center;
  font-size: 0.6rem;
  font-weight: bold;
}
.fundPopup .popupBox .popupContent .contentLook {
  padding: 0.4rem;
  color: #868686;
  line-height: 0.6rem;
  font-size: 0.38rem;
}
.fundPopup .popupBox .popupContent .shadoweBtn {
  width: 70%;
  display: block;
  padding: 0.25rem 0;
  margin: 0.5rem auto;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #FF9900;
  color: #fff;
  font-size: 0.4rem;
}
.fundPopup .popupBotImg {
  width: 0.8rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -0.4rem;
}
.cashPopup {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
.cashPopup .exchangeBox {
  width: 100%;
  height: 100%;
  position: relative;
}
.cashPopup .exchangeBox .popupContent {
  width: 8rem;
  height: 10rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4rem;
  margin-top: -6rem;
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -o-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
}
.cashPopup .exchangeBox .popupContent .exchangeImg {
  width: 1.2rem;
  display: block;
  margin: 0.6rem auto 0.3rem;
}
.cashPopup .exchangeBox .popupContent .exchangeTitH3 {
  text-align: center;
  font-size: 0.6rem;
  font-weight: bold;
}
.cashPopup .exchangeBox .popupContent .exchangeFund {
  font-size: 0.3rem;
  text-align: center;
  padding: 0.26666667rem;
  color: #0099FF;
  border-bottom: 0.02666667rem solid #f2f2f2;
}
.cashPopup .exchangeBox .popupContent .exchangeFund span {
  font-size: 0.44rem;
}
.cashPopup .exchangeBox .popupContent .fundNum {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  padding: 0.8rem 0.53333333rem 0.4rem;
}
.cashPopup .exchangeBox .popupContent .fundNum li {
  text-align: center;
}
.cashPopup .exchangeBox .popupContent .fundNum .numReduce {
  width: 25%;
  height: 1rem;
  font-size: 0.66rem;
  line-height: 0.9rem;
  color: #BCBCBC;
  border: 0.02666667rem solid #aeaeae;
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -o-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
}
.cashPopup .exchangeBox .popupContent .fundNum .current {
  color: #ff9900;
}
.cashPopup .exchangeBox .popupContent .fundNum .sizeCurrent {
  color: #BCBCBC;
}
.cashPopup .exchangeBox .popupContent .fundNum .numPic {
  width: 50%;
  height: 1rem;
  font-size: 0.8rem;
  color: #ff9900;
}
.cashPopup .exchangeBox .popupContent .available {
  text-align: center;
  color: #797979;
  font-size: 0.32rem;
}
.cashPopup .exchangeBox .popupContent .shadoweBtn {
  width: 70%;
  display: block;
  padding: 0.15rem 0;
  margin: 0.5rem auto;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #FF9900;
  color: #fff;
  font-size: 0.36rem;
}
.cashPopup .exchangeBox .popupContent .exchangeTextBtn {
  font-size: 0.32rem;
  color: #AEAEAE;
  padding: 0 0.4rem;
}
.cashPopup .popupBotImg {
  width: 0.8rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -0.4rem;
}
.goodsPopup {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
.goodsPopup .goodsBox {
  width: 100%;
  height: 100%;
  position: relative;
}
.goodsPopup .goodsBox .goodsPopupContent {
  width: 8.5rem;
  height: 11rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4.25rem;
  margin-top: -6.5rem;
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -o-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
}
.goodsPopup .goodsBox .goodsPopupContent .goodsHeader {
  width: 100%;
  padding: 0.4rem;
  border-bottom: 0.02666667rem solid #f2f2f2;
}
.goodsPopup .goodsBox .goodsPopupContent .goodsHeader .headerLeftImg {
  float: left;
  width: 2.5rem;
  height: 2.8rem;
  margin-right: 0.26666667rem;
}
.goodsPopup .goodsBox .goodsPopupContent .goodsHeader .headerRightCon {
  padding-top: 0.4rem;
}
.goodsPopup .goodsBox .goodsPopupContent .goodsHeader .headerRightCon .goodsName {
  font-size: 0.46rem;
}
.goodsPopup .goodsBox .goodsPopupContent .goodsHeader .headerRightCon .goodsFund {
  font-size: 0.4rem;
  color: #949494;
  padding: 0.15rem 0 0.1rem;
}
.goodsPopup .goodsBox .goodsPopupContent .goodsHeader .headerRightCon .goodsFund span {
  font-size: 0.8rem;
  color: #FF9900;
}
.goodsPopup .goodsBox .goodsPopupContent .goodsHeader .headerRightCon .goodsAvailable {
  font-size: 0.32rem;
  color: #0099FF;
}
.goodsPopup .goodsBox .goodsPopupContent .exchangeMode {
  color: #333;
  margin: 0.4rem 0.4rem 0.2rem;
  font-size: 0.38rem;
}
.goodsPopup .goodsBox .goodsPopupContent .foodsText {
  padding: 0 0.4rem 0;
  line-height: 0.6rem;
  color: #949494;
  font-size: 0.34rem;
}
.goodsPopup .goodsBox .goodsPopupContent .nonRefundable {
  min-height: 0.5rem;
  color: #949494;
  font-size: 0.34rem;
  margin: 0.4rem;
  background: url(../../img/prekindergarten/fund/u10692.png) no-repeat left center;
  background-size: 0.4rem;
  padding-left: 0.6rem;
}
.goodsPopup .goodsBox .goodsPopupContent .shadoweBtn {
  width: 70%;
  padding: 0.15rem 0;
  margin: 0.6rem auto;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #FF9900;
}
.goodsPopup .goodsBox .goodsPopupContent .shadoweBtn a {
  color: #fff;
  font-size: 0.36rem;
}
.goodsPopup .goodsBox .goodsPopupContent .shadoweBtn1 {
  width: 70%;
  padding: 0.15rem 0;
  margin: 0.5rem auto 0.3rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #c9c9c9;
}
.goodsPopup .goodsBox .goodsPopupContent .shadoweBtn1 a {
  color: #fff;
  font-size: 0.36rem;
}
.goodsPopup .goodsBox .goodsPopupContent .goodsBtn {
  text-align: center;
  color: #FF9933;
  font-size: 0.3rem;
}
.goodsPopup .goodsBox .popupBotImg {
  width: 0.8rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -0.4rem;
}
.succExchangecash {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
.succExchangecash .succBox {
  width: 100%;
  height: 100%;
  position: relative;
}
.succExchangecash .succBox .succPopupContent {
  width: 8rem;
  height: 10rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4rem;
  margin-top: -6rem;
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -o-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
}
.succExchangecash .succBox .succPopupContent .exchangeImg {
  width: 1.2rem;
  display: block;
  margin: 2rem auto 0.7rem;
}
.succExchangecash .succBox .succPopupContent .succExchangeTit {
  text-align: center;
  font-size: 0.6rem;
  font-weight: bold;
}
.succExchangecash .succBox .succPopupContent .succExchangeText {
  padding: 0.8rem 0.3rem;
  font-size: 0.3rem;
  text-align: center;
  color: #AEAEAE;
}
.succExchangecash .succBox .succPopupContent .shadoweBtn {
  width: 70%;
  display: block;
  padding: 0.15rem 0;
  margin: 0.5rem auto;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #FF9900;
  color: #fff;
  font-size: 0.36rem;
}
.succExchangecash .succBox .popupBotImg {
  width: 0.8rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -0.4rem;
}
.succExchangeGoods {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
.succExchangeGoods .succGoodsBox {
  width: 100%;
  height: 100%;
  position: relative;
}
.succExchangeGoods .succGoodsBox .succExchangeContent {
  width: 8.5rem;
  height: 11.2rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4.25rem;
  margin-top: -6.5rem;
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -o-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
}
.succExchangeGoods .succGoodsBox .succExchangeContent .succGoodsImg {
  width: 3rem;
  display: block;
  margin: 0.5rem auto 0.4rem;
}
.succExchangeGoods .succGoodsBox .succExchangeContent .succGoodsTit {
  text-align: center;
  font-size: 0.46rem;
  font-weight: bold;
  padding-bottom: 0.4rem;
}
.succExchangeGoods .succGoodsBox .succExchangeContent .succGoodsCard {
  width: 100%;
  min-height: 3rem;
  background-color: #F2F2F2;
  padding: 0.4rem;
}
.succExchangeGoods .succGoodsBox .succExchangeContent .succGoodsCard .cardContent {
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  -webkit-border-radius: 0.13333333rem;
  -moz-border-radius: 0.13333333rem;
  -o-border-radius: 0.13333333rem;
  border-radius: 0.13333333rem;
}
.succExchangeGoods .succGoodsBox .succExchangeContent .succGoodsCard .cardContent .conTitle {
  font-size: 0.36rem;
  color: #333;
  padding: 0.26666667rem 0.4rem;
  border-bottom: 0.02666667rem dashed #f2f2f2;
}
.succExchangeGoods .succGoodsBox .succExchangeContent .succGoodsCard .cardContent .circular {
  width: 100%;
  position: relative;
}
.succExchangeGoods .succGoodsBox .succExchangeContent .succGoodsCard .cardContent .circular .circularLeft {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #F2F2F2;
  border-radius: 50%;
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
}
.succExchangeGoods .succGoodsBox .succExchangeContent .succGoodsCard .cardContent .circular .circularRight {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #F2F2F2;
  border-radius: 50%;
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
}
.succExchangeGoods .succGoodsBox .succExchangeContent .succGoodsCard .cardContent .costMon {
  padding: 0.26666667rem 0.4rem 0.15rem;
  font-size: 0.6rem;
  font-weight: bold;
}
.succExchangeGoods .succGoodsBox .succExchangeContent .succGoodsCard .cardContent .effective {
  padding: 0 0.4rem 0.3rem;
  font-size: 0.32rem;
  color: #AEAEAE;
}
.succExchangeGoods .succGoodsBox .succExchangeContent .shadoweBtn {
  width: 70%;
  display: block;
  padding: 0.15rem 0;
  margin: 0.5rem auto 0.2rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #0099ff;
  color: #fff;
  font-size: 0.36rem;
}
.succExchangeGoods .succGoodsBox .succExchangeContent .btnLook {
  text-align: center;
  font-size: 0.32rem;
  color: #AEAEAE;
}
.succExchangeGoods .succGoodsBox .popupBotImg {
  width: 0.8rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -0.4rem;
}
.intelligence {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
.intelligence .inteBox {
  width: 100%;
  height: 100%;
  position: relative;
}
.intelligence .inteBox .inteContent {
  width: 8.5rem;
  height: 13rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4.25rem;
  margin-top: -7.2rem;
  padding: 0.53333333rem;
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -o-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
}
.intelligence .inteBox .inteContent .inteTitle {
  text-align: center;
  color: #FF9900;
  font-size: 0.68rem;
}
.intelligence .inteBox .inteContent .inteText {
  color: #333;
  font-size: 0.36rem;
  padding: 0.4rem 0 0.8rem;
}
.intelligence .inteBox .inteContent .inteImg {
  width: 4rem;
  display: block;
  margin: 0 auto;
}
.intelligence .inteBox .inteContent .inteMethod {
  color: #333;
  font-size: 0.36rem;
  padding: 0.8rem 0 0.3rem;
}
.intelligence .inteBox .inteContent .inteStep {
  font-size: 0.3rem;
  color: #333;
  line-height: 0.6rem;
  margin-left: -0.15rem;
}
.intelligence .popupBotImg {
  width: 0.8rem;
  position: absolute;
  bottom: 0.8rem;
  left: 50%;
  margin-left: -0.4rem;
}
.wrapPage {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapPage .fund {
  width: 100%;
  height: auto;
}
.wrapPage .fund .fundTitle {
  padding: 0.53333333rem 0;
  font-size: 0.6rem;
  font-weight: bold;
  color: #ff9900;
  text-align: center;
  background-color: #fff;
}
.wrapPage .fund .numBack {
  width: 100%;
  background-color: #fff;
  padding-bottom: 0.8rem;
}
.wrapPage .fund .numBack .fundNum {
  width: 4.5rem;
  border-radius: 50%;
  margin: 0 auto;
  border: 0.18666667rem solid #ff8e2d;
  text-align: center;
  -webkit-box-shadow: 0.13333333rem 0.13333333rem 0.13333333rem rgba(255, 140, 44, 0.35);
  -moz-box-shadow: 0.13333333rem 0.13333333rem 0.13333333rem rgba(255, 140, 44, 0.35);
  -o-box-shadow: 0.13333333rem 0.13333333rem 0.13333333rem rgba(255, 140, 44, 0.35);
  box-shadow: 0.13333333rem 0.13333333rem 0.13333333rem rgba(255, 140, 44, 0.35);
}
.wrapPage .fund .numBack .fundNum .numText {
  padding: 0.6rem 0 0.2rem;
  font-size: 0.3rem;
  color: #949494;
}
.wrapPage .fund .numBack .fundNum .numPic {
  color: #FF9933;
  font-size: 1.3rem;
  font-weight: bold;
  background: url(../../img/prekindergarten/fund/u9539.png) no-repeat 0.4rem 0.95rem;
  background-size: 0.4rem;
}
.wrapPage .fund .numBack .fundNum .numGold {
  color: #949494;
  font-size: 0.3rem;
  padding-left: 0.3rem;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}
.wrapPage .fund .fundGray {
  width: 100%;
  height: 0.13333333rem;
  background-color: #F2F2F2;
}
.wrapPage .fund .fundDetailTitle {
  width: 100%;
  background-color: #fff;
}
.wrapPage .fund .fundDetailTitle .detailLine {
  width: 92%;
  margin: 0 auto;
  padding: 0.26666667rem 0;
  border-bottom: 0.02666667rem solid #f2f2f2;
}
.wrapPage .fund .fundDetailTitle .detailLine .titleLeft {
  font-size: 0.4rem;
  color: #333;
  font-weight: bold;
}
.wrapPage .fund .fundDetailTitle .detailLine .titleRight {
  font-size: 0.32rem;
  color: #BCBCBC;
  padding-top: 0.05rem;
}
.wrapPage .fund .fundDetailTitle .detailLine .titleTask {
  font-size: 0.36rem;
  padding-bottom: 0.26666667rem;
}
.wrapPage .fund .fundDetailTitle .detailLine .detaildate {
  color: #AEAEAE;
  font-size: 0.3rem;
}
.wrapPage .fund .fundDetailTitle .detailLine .detailNum {
  font-size: 0.52rem;
  color: #FF8E2D;
  margin-top: -0.5rem;
}
.wrapPage .fund .fundDetailTitle .detailLine .detailNum span {
  font-size: 0.4rem;
}
.wrapPage .fund .fundDetailTitle .detailLine .detailColor {
  color: #868686;
}
.wrapPage .fund .fundDetailTitle .detailTitle {
  border-bottom: none;
}
.wrapPage .fund .exchangeGift {
  width: 100%;
  padding: 0.26666667rem 0.53333333rem;
}
.wrapPage .fund .exchangeGift .exchangeLi {
  width: 100%;
  min-height: 4rem;
  margin-bottom: 0.4rem;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 0.13333333rem;
  -moz-border-radius: 0.13333333rem;
  -ms-border-radius: 0.13333333rem;
  -o-border-radius: 0.13333333rem;
  border-radius: 0.13333333rem;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeLeft {
  width: 45%;
  min-height: 4rem;
  padding: 0.4rem;
  border-right: 1px solid #e4e4e4;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeLeft img {
  display: block;
  width: 1.5rem;
  margin: 0 auto 0.32rem;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeLeft .goodsImg {
  width: 2.2rem;
  margin: 0 auto 0.4rem;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeLeft .leftMoney {
  text-align: center;
  font-size: 0.6rem;
  color: #333;
  padding: 0.66666667rem 0 0.32rem;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeLeft .leftText {
  text-align: center;
  font-size: 1rem;
  color: #FF8E2D;
  font-weight: bold;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeLeft .leftText1 {
  font-size: 0.8rem;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeLeft .goods {
  text-align: center;
  font-size: 0.42rem;
  color: #333;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeRight {
  width: 54%;
  min-height: 4rem;
  text-align: center;
  padding: 0.4rem;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeRight .rightTop {
  text-align: right;
  font-size: 0.32rem;
  color: #0099FF;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeRight .topEnd {
  text-align: right;
  font-size: 0.32rem;
  color: #BCBCBC;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeRight .rightText {
  font-size: 0.4rem;
  padding: 0.5rem 0 0.4rem;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeRight .rightText span {
  font-size: 0.64rem;
  color: #ff9933;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeRight .rightBtnOrange {
  display: block;
  width: 100%;
  height: 1rem;
  margin: 0 auto;
  line-height: 1rem;
  color: #FFAF2F;
  font-size: 0.38rem;
  border: 1px solid #ffaf2f;
  -webkit-border-radius: 0.13333333rem;
  -moz-border-radius: 0.13333333rem;
  -ms-border-radius: 0.13333333rem;
  -o-border-radius: 0.13333333rem;
  border-radius: 0.13333333rem;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeRight .rightBtnGray {
  display: block;
  width: 100%;
  height: 1rem;
  margin: 0 auto;
  line-height: 1rem;
  color: #A1A1A1;
  font-size: 0.38rem;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 0.13333333rem;
  -moz-border-radius: 0.13333333rem;
  -ms-border-radius: 0.13333333rem;
  -o-border-radius: 0.13333333rem;
  border-radius: 0.13333333rem;
}
.wrapPage .fund .exchangeGift .exchangeLi .yearVip {
  font-size: 0.6rem;
  color: #ff9933;
  padding: 0.4rem 0.4rem 0.13333333rem;
}
.wrapPage .fund .exchangeGift .exchangeLi .yearMoney {
  font-size: 0.4rem;
  padding: 0 0.4rem 0.8rem;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeYear {
  width: 100%;
  padding: 0 0.4rem;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeYear .rightText {
  font-size: 0.36rem;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeYear .rightText span {
  font-size: 0.64rem;
  color: #ff9933;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeYear .rightBtnOrange {
  display: block;
  width: 4rem;
  height: 1rem;
  text-align: center;
  margin: 0 auto;
  line-height: 1rem;
  color: #FFAF2F;
  font-size: 0.38rem;
  border: 1px solid #ffaf2f;
  -webkit-border-radius: 0.13333333rem;
  -moz-border-radius: 0.13333333rem;
  -ms-border-radius: 0.13333333rem;
  -o-border-radius: 0.13333333rem;
  border-radius: 0.13333333rem;
}
.wrapPage .fund .exchangeGift .exchangeLi .exchangeYear .rightBtnGray {
  display: block;
  width: 4rem;
  height: 1rem;
  margin: 0 auto;
  text-align: center;
  line-height: 1rem;
  color: #A1A1A1;
  font-size: 0.38rem;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 0.13333333rem;
  -moz-border-radius: 0.13333333rem;
  -ms-border-radius: 0.13333333rem;
  -o-border-radius: 0.13333333rem;
  border-radius: 0.13333333rem;
}
.wrapPage .fund .fundRule {
  width: 92%;
  margin: 0 auto;
  padding: 0.26666667rem 0;
}
.wrapPage .fund .fundRule .ruleTitle {
  font-size: 0.4rem;
  color: #333;
  font-weight: bold;
}
.wrapPage .fund .fundRule .ruleText {
  font-size: 0.36rem;
  color: #949494;
  line-height: 0.6rem;
  padding: 0.26666667rem 0 0 0.13333333rem;
}
.wrapPage .fund .fundRule .ruleText1 {
  padding-top: 0;
}
.wrapPage .fund .fundRule .seeText {
  color: #0066FF;
  text-align: right;
  font-size: 0.36rem;
  padding-top: 0.26666667rem;
}
.wrapPage .fundDetail {
  width: 100%;
  height: auto;
}
.wrapPage .fundDetail .detailTit {
  width: 92%;
  color: #AEAEAE;
  font-size: 0.3rem;
  margin: 0 auto;
  padding: 0.4rem 0;
  border-bottom: 0.02666667rem solid #f2f2f2;
}
.wrapPage .fundDetail .detailMon {
  width: 92%;
  margin: 0 auto;
  font-size: 0.38rem;
  padding: 0.4rem 0;
  background: url(../../img/prekindergarten/fund/u9539.png) no-repeat 3.5rem center;
  background-size: 0.8rem;
}
.wrapPage .fundDetail .detailMon span {
  font-size: 1rem;
}
.wrapPage .fundDetail .fundGray {
  width: 100%;
  height: 0.13333333rem;
  background-color: #F2F2F2;
}
.wrapPage .fundDetail .fundDetailTitle {
  width: 100%;
  background-color: #fff;
}
.wrapPage .fundDetail .fundDetailTitle .detailLine {
  width: 92%;
  margin: 0 auto;
  padding: 0.26666667rem 0;
  border-bottom: 0.02666667rem solid #f2f2f2;
}
.wrapPage .fundDetail .fundDetailTitle .detailLine .titleLeft {
  font-size: 0.4rem;
  color: #333;
  font-weight: bold;
}
.wrapPage .fundDetail .fundDetailTitle .detailLine .titleRight {
  font-size: 0.32rem;
  color: #BCBCBC;
  padding-top: 0.05rem;
}
.wrapPage .fundDetail .fundDetailTitle .detailLine .titleTask {
  font-size: 0.36rem;
  padding-bottom: 0.26666667rem;
}
.wrapPage .fundDetail .fundDetailTitle .detailLine .detaildate {
  color: #AEAEAE;
  font-size: 0.3rem;
}
.wrapPage .fundDetail .fundDetailTitle .detailLine .detailNum {
  font-size: 0.52rem;
  color: #FF8E2D;
  margin-top: -0.5rem;
}
.wrapPage .fundDetail .fundDetailTitle .detailLine .detailNum span {
  font-size: 0.4rem;
}
.wrapPage .fundDetail .fundDetailTitle .detailLine .detailColor {
  color: #868686;
}
.wrapPage .fundDetail .fundDetailTitle .detailTitle {
  border-bottom: none;
}
.wrapPage .fundDetail .shadoweBtn {
  width: 60%;
  display: block;
  padding: 0.21333333rem 0;
  margin: 1.5rem auto 0.4rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #f2f2f2;
  color: #333;
  font-size: 0.4rem;
}
.wrapPage .fundDetail .fundBlank {
  width: 100%;
  height: 1rem;
}
.wrapPage .fund_v2 {
  width: 100%;
  height: auto;
}
.wrapPage .fund_v2 .fundvTitle {
  width: 100%;
  color: #fff;
  min-height: 3rem;
  padding: 0.53333333rem 0.53333333rem 0.4rem;
  background-color: #FF9900;
}
.wrapPage .fund_v2 .fundvTitle .titH3 {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.26666667rem 0;
}
.wrapPage .fund_v2 .fundvTitle .titBaby {
  font-size: 0.32rem;
  padding-bottom: 0.13333333rem;
}
.wrapPage .fund_v2 .detailMon {
  width: 100%;
  font-size: 0.38rem;
  padding: 0.2rem 0.53333333rem;
}
.wrapPage .fund_v2 .detailMon span {
  float: left;
  color: #FF9900;
  font-size: 1.3rem;
  background: url(../../img/prekindergarten/fund/u9539.png) no-repeat right 0.9rem;
  background-size: 0.5rem;
  padding-right: 1rem;
  margin-right: 0.2rem;
}
.wrapPage .fund_v2 .detailMon p {
  color: #A1A1A1;
  font-size: 0.3rem;
  padding-top: 1rem;
}
.wrapPage .fund_v2 .fundvDetailTitle {
  width: 100%;
}
.wrapPage .fund_v2 .fundvDetailTitle .detailLine {
  width: 95%;
  margin: 0 auto;
  padding: 0.26666667rem;
  border-bottom: 0.02666667rem solid #f2f2f2;
}
.wrapPage .fund_v2 .fundvDetailTitle .detailLine .titleLeft {
  font-size: 0.38rem;
  color: #333;
  background: url(../../img/prekindergarten/fund/u9845.png) no-repeat left center;
  background-size: 0.6rem;
  padding-left: 0.9rem;
}
.wrapPage .fund_v2 .fundvDetailTitle .detailLine .titleRecord {
  background: url(../../img/prekindergarten/fund/u9743.png) no-repeat left center;
  background-size: 0.6rem;
  padding-left: 0.9rem;
}
.wrapPage .fund_v2 .fundvDetailTitle .detailLine .titleChannel {
  background: url(../../img/prekindergarten/fund/u9719.png) no-repeat left center;
  background-size: 0.75rem;
  padding-left: 0.95rem;
}
.wrapPage .fund_v2 .fundvDetailTitle .detailLine .titleExchange {
  background: url(../../img/prekindergarten/fund/u9783.png) no-repeat left center;
  background-size: 0.6rem;
  padding-left: 0.9rem;
}
.wrapPage .fund_v2 .fundvDetailTitle .detailLine .titleRight {
  font-size: 0.32rem;
  color: #BCBCBC;
  padding-top: 0.05rem;
}
.wrapPage .fund_v2 .fundvDetailTitle .detailLine .titleTask {
  font-size: 0.36rem;
  padding-bottom: 0.26666667rem;
  padding-left: 0.9rem;
}
.wrapPage .fund_v2 .fundvDetailTitle .detailLine .detaildate {
  color: #AEAEAE;
  font-size: 0.3rem;
  padding-left: 0.9rem;
}
.wrapPage .fund_v2 .fundvDetailTitle .detailLine .detailNum {
  font-size: 0.5rem;
  color: #FF8E2D;
  margin-top: -0.5rem;
}
.wrapPage .fund_v2 .fundvDetailTitle .detailLine .detailNum span {
  font-size: 0.36rem;
}
.wrapPage .fund_v2 .fundvDetailTitle .detailLine .detailColor {
  color: #868686;
}
.wrapPage .fund_v2 .fundvDetailTitle .detailTitle {
  border-bottom: none;
}
.wrapPage .fund_v2 .fundPoster {
  width: 85%;
  display: flex;
  border: 0.02666667rem solid #ff9900;
  border-bottom: none;
  margin: 0.4rem auto;
  -webkit-border-radius: 0.21333333rem 0.21333333rem 0 0;
  -moz-border-radius: 0.21333333rem 0.21333333rem 0 0;
  -o-border-radius: 0.21333333rem 0.21333333rem 0 0;
  border-radius: 0.21333333rem 0.21333333rem 0 0;
  -webkit-box-shadow: 0.08rem 0px 0.08rem rgba(255, 153, 51, 0.34901961);
  -moz-box-shadow: 0.08rem 0px 0.08rem rgba(255, 153, 51, 0.34901961);
  -o-box-shadow: 0.08rem 0px 0.08rem rgba(255, 153, 51, 0.34901961);
  box-shadow: 0.08rem 0px 0.08rem rgba(255, 153, 51, 0.34901961);
}
.wrapPage .fund_v2 .fundPoster li {
  flex: 1;
  width: 33.33%;
  font-size: 0.3rem;
  padding: 0.5rem;
}
.wrapPage .fund_v2 .fundPoster .posterArrow {
  background: url(../../img/prekindergarten/fund/u9753.png) no-repeat right center;
  background-size: 0.5rem;
  padding-right: 0.8rem;
}
.wrapPage .fund_v2 .fundPoster .posterColor {
  color: #ff9900;
}
.wrapPage .fund_v2 .shadoweBtn {
  width: 60%;
  display: block;
  padding: 0.25rem 0;
  margin: 0.8rem auto 0.3rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  order-radius: 1.33333333rem;
  background-color: #FF9900;
  color: #fff;
  font-size: 0.4rem;
}
.wrapPage .fund_v2 .fundvNothing {
  text-align: center;
  font-size: 0.3rem;
  color: #BCBCBC;
  padding: 0.26666667rem 0 0.21333333rem;
}
.wrapPage .fund_v2 .fundvimplement {
  padding: 0 0.66666667rem;
  margin-bottom: 0.4rem;
  min-height: 1rem;
  text-align: center;
}
.wrapPage .fund_v2 .fundvimplement li {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  margin: 0.26666667rem 0.08rem 0;
  border-radius: 50%;
}
.wrapPage .fund_v2 .fundvimplement li img {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
}
.wrapPage .fund_v2 .fundvSource {
  padding: 0.4rem 0.65rem 0.4rem;
}
.wrapPage .fund_v2 .fundvSource h4 {
  font-size: 0.36rem;
  color: #333;
  background: url(../../img/prekindergarten/fund/u9725.png) no-repeat 0.1rem center;
  background-size: 0.2rem;
  padding-left: 0.8rem;
}
.wrapPage .fund_v2 .fundvSource .sourceText {
  padding: 0.13333333rem 0 0 0.8rem;
  font-size: 0.32rem;
  color: #AEAEAE;
}
.wrapPage .fund_v2 .fundvSourcePad {
  padding-top: 0;
}
.wrapPage .fund_v2 .exchangeRules {
  width: 92%;
  margin: 0 auto;
  font-size: 0.36rem;
  padding: 0.4rem 0.26666667rem 0;
}