.pupopFund {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
.pupopFund .pupopBox {
  width: 100%;
  height: 100%;
  position: relative;
}
.pupopFund .pupopBox .fundLook {
  color: #fff;
  text-align: right;
  font-size: 0.38rem;
  padding: 3.9rem 1rem 0.5rem  0;
}
.pupopFund .pupopBox .fundArrow {
  width: 3.7rem;
  position: absolute;
  top: 4.5rem;
  right: 0.5rem;
}
.pupopFund .pupopBox .parkFund {
  width: 45%;
  height: 1.2rem;
  background-color: #fff;
  position: absolute;
  top: 8.5rem;
  right: 0.3rem;
  text-align: center;
  line-height: 1.2rem;
}
.pupopFund .pupopBox .parkFund p {
  color: #515151;
  font-size: 0.38rem;
  background: url(../../img/u9512.png) no-repeat 1rem center;
  background-size: 17%;
  padding-left: 0.8rem;
}
.pupopFund .pupopBox .shadoweBtn {
  width: 6rem;
  display: block;
  padding: 0.25rem 0;
  position: absolute;
  top: 13rem;
  left: 50%;
  margin-left: -3rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #fff;
  border: 0.02666667rem solid #ff9900;
  color: #FF9900;
  font-size: 0.4rem;
}
.pupopFund1 {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
.pupopFund1 .pupopBox {
  width: 100%;
  height: 100%;
  position: relative;
}
.pupopFund1 .pupopBox .botTwo {
  text-align: center;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  float: right;
  margin: 1.3rem 0.5rem;
  padding-top: 0.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.pupopFund1 .pupopBox .fundArrow {
  width: 3.7rem;
  position: absolute;
  top: 3.5rem;
  right: 1rem;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pupopFund1 .pupopBox .parkFund {
  width: 8rem;
  height: 6rem;
  background-color: #fff;
  position: absolute;
  top: 6rem;
  left: 50%;
  margin-left: -4rem;
  border-radius: 0.13333333rem;
}
.pupopFund1 .pupopBox .parkFund .parkTitle {
  color: #FF9900;
  font-size: 0.45rem;
  padding: 1rem 0.5rem 0.5rem;
  font-weight: bold;
  text-align: center;
}
.pupopFund1 .pupopBox .parkFund .parkText {
  color: #333;
  font-size: 0.36rem;
  text-align: center;
}
.pupopFund1 .pupopBox .parkFund .shadoweBtn {
  width: 6rem;
  display: block;
  padding: 0.25rem 0;
  text-align: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  margin-left: -3rem;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #FF9900;
  border: 0.02666667rem solid #ff9900;
  color: #fff;
  font-size: 0.4rem;
}
.wrap .public {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap .public .homePage {
  width: 100%;
  height: 100%;
  max-width: 540px;
}
.wrap .public .homePage .homeHeader {
  width: 100%;
  background-color: #fff;
  padding: 0.53333333rem 0 0.26666667rem;
}
.wrap .public .homePage .homeHeader .headerImg {
  float: left;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 0.2rem;
}
.wrap .public .homePage .homeHeader .headerImg img {
  width: 1.3rem;
  height: 1.3rem;
}
.wrap .public .homePage .homeHeader .headerRight {
  float: right;
  width: 80%;
}
.wrap .public .homePage .homeHeader .headerRight .rightTop {
  width: 100%;
  height: 1.06666667rem;
  border-bottom: 0.02666667rem solid #eeeeee;
}
.wrap .public .homePage .homeHeader .headerRight .rightTop .topName {
  height: 1.06666667rem;
  float: left;
  line-height: 1.06666667rem;
  color: #FF9900;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom {
  margin-top: 0.34666667rem;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul {
  width: 100%;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul li {
  float: left;
  text-align: left;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul li span {
  display: block;
  padding-left: 0.7rem;
  font-size: 0.4rem;
  color: #333;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul li p {
  margin-top: 0.13333333rem;
  font-size: 0.26666667rem;
  color: #868686;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul li .participateNum {
  color: #FF9933;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul li .participate {
  margin-top: 0.1rem;
  font-size: 0.26666667rem;
  color: #FF9933;
  padding-bottom: 0.26666667rem;
  border-bottom: 0.05333333rem solid #FF9933;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botOne {
  width: 27%;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botTwo {
  text-align: center;
  width: 38%;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botTwo .botOneSpan {
  padding-left: 0;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botThree .botOneSpan {
  padding-left: 0;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botThree {
  width: 35%;
  text-align: center;
  padding-right: 0.4rem;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botJoinOne {
  width: 33.33%;
  text-align: center;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botJoinOne .botJoinSpan {
  text-align: center;
  padding-left: 0;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botJoinTwo {
  width: 33.33%;
  text-align: center;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botJoinTwo .botJoinSpan {
  text-align: center;
  padding-left: 0;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botJoinThree {
  width: 33.33%;
  text-align: center;
}
.wrap .public .homePage .homeHeader .headerRight .rightBottom ul .botJoinThree .botJoinSpan {
  text-align: center;
  padding-left: 0;
}
.wrap .public .homePage .participateHeader {
  width: 100%;
  background-color: #fff;
  padding: 0.53333333rem 0 0;
}
.wrap .public .homePage .homePlan {
  width: 95%;
  min-height: 5rem;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 0.13333333rem;
}
.wrap .public .homePage .homePlan .planTit {
  width: 100%;
}
.wrap .public .homePage .homePlan .planTit .tit {
  width: 100%;
  height: 0.8rem;
}
.wrap .public .homePage .homePlan .planTit .tit div {
  width: 0.08rem;
  height: 0.8rem;
  background-color: #ff9900;
  -webkit-border-radius: 0 0.13333333rem 0.13333333rem 0;
  -ms-border-radius: 0 0.13333333rem 0.13333333rem 0;
  -moz-border-radius: 0 0.13333333rem 0.13333333rem 0;
  border-radius: 0 0.13333333rem 0.13333333rem 0;
  float: left;
  margin-top: 0.3rem;
}
.wrap .public .homePage .homePlan .planTit .tit h4 {
  float: left;
  padding-left: 0.18666667rem;
  line-height: 0.8rem;
  font-size: 0.4rem;
  color: #333;
  font-weight: 600;
  margin-top: 0.3rem;
}
.wrap .public .homePage .homePlan .planTit .tit h4 span {
  font-size: 0.32rem;
  color: #333;
  font-weight: 300;
}
.wrap .public .homePage .homePlan .planTit .tit .participateStar {
  font-weight: 300;
}
.wrap .public .homePage .homePlan .planTit .tit .participateTit {
  font-size: 0.37333333rem;
  color: #333;
  font-weight: 600;
}
.wrap .public .homePage .homePlan .planTit .tit .participateTit span {
  font-weight: 300;
}
.wrap .public .homePage .homePlan .planTit .tit .participateTit span e {
  color: #f2f2f2;
}
.wrap .public .homePage .homePlan .planTit .planContent {
  width: 95%;
  margin: 0 auto 0.15rem;
  padding-top: 0.53333333rem;
  position: relative;
}
.wrap .public .homePage .homePlan .planTit .planContent .planIcon {
  width: 1.33333333rem;
  position: absolute;
  right: 0.13333333rem;
  top: -0.26666667rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  transform: rotate(15deg);
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidImg {
  width: 30%;
  float: left;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText {
  width: 67%;
  float: right;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP {
  width: 100%;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .textTit {
  text-align: left;
  font-size: 0.37333333rem;
  color: #333;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .participateStar {
  font-weight: 300;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .participateTit {
  font-size: 0.37333333rem;
  color: #333;
  font-weight: 600;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .participateTit span {
  font-weight: 300;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .participateTit span e {
  color: #f2f2f2;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP p {
  padding-top: 0.26666667rem;
  font-size: 0.32rem;
  color: #AEAEAE;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .work {
  padding-top: 0.4rem 0;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .work span {
  color: #ff9933;
  font-size: 0.53333333rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .work span e {
  font-size: 0.34666667rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .unpaidBtn {
  width: 22%;
  height: 0.4rem;
  margin-top: 0.4rem;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  text-align: center;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .unpaidBtn img {
  width: 15%;
  float: left;
  margin-left: 0.16rem;
  margin-top: 0.10666667rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .unpaidBtn span {
  display: block;
  float: left;
  font-size: 0.34666667rem;
  transform: scale(0.5);
  margin-top: -0.32rem;
  margin-left: 0.13333333rem;
  color: #AEAEAE;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .sign {
  width: 23%;
  height: 0.4rem;
  margin-top: 0.4rem;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  text-align: center;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .sign img {
  margin-top: 0.05333333rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .sign span {
  font-size: 0.34666667rem;
  transform: scale(0.5);
  margin-top: -0.32rem;
  margin-left: 0.21333333rem;
  color: #ff9933;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task {
  width: 100%;
  margin-top: 0.26666667rem;
  height: 0.48rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task .taskTxt {
  float: left;
  font-size: 0.32rem;
  line-height: 0.48rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task .taskTxt .txtClass {
  color: #333;
  background: url(../../img/kec.png) no-repeat left center;
  background-size: 20%;
  padding-left: 0.4rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task .taskTxt .txtDate {
  color: #AEAEAE;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task .taskTxt .txtTask {
  color: #AEAEAE;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task .taskTxt .costNum {
  color: #ff9933;
  font-size: 0.53333333rem;
  margin-left: 0.4rem;
  font-style: oblique;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task .taskTxt .costOrig {
  font-size: 0.37333333rem;
  color: #AEAEAE;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task a {
  float: right;
  font-size: 0.29333333rem;
  line-height: 0.48rem;
  color: #AEAEAE;
  margin-right: 0.4rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task .review {
  width: 30%;
  color: #ff9933;
  text-align: center;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  border-radius: 0.08rem;
  padding: 0.02666667rem 0.4rem;
  border: 0.02666667rem solid #ff9933;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .task .completedDet {
  width: 30%;
  color: #fff;
  text-align: center;
  border-radius: 0.08rem;
  padding: 0.08rem 0.26666667rem;
  background-color: #ff9933;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .unpaidTask {
  width: 70%;
  position: absolute;
  bottom: 0;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .unpaidTask .taskT {
  float: left;
  color: #AEAEAE;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .unpaidTask .taskT .taskQ {
  font-size: 0.8rem;
  color: #FF9933;
  float: left;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .unpaidTask .taskT .taskLine {
  float: left;
  padding-top: 0.27rem;
  font-size: 0.5rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .unpaidTask .taskT .taskH {
  font-size: 0.34rem;
  float: left;
  padding-top: 0.5rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .unpaidTask .taskJoin {
  float: right;
  margin-right: 0.3rem;
  margin-top: 0.39rem;
  width: 2.5rem;
  text-align: center;
  padding: 0.13333333rem;
  border-radius: 0.08rem;
  background-color: #FF9933;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .unpaidTask .taskJoin a {
  font-size: 0.3rem;
  color: #fff;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .taskBot {
  margin-top: 0.48rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .textLeftH {
  width: 20%;
}
.wrap .public .homePage .homePlan .planTit .planContent .unpaidText .textP .textLeftX {
  width: 80%;
}
.wrap .public .homePage .homePlan .planTit .planContent .planImg {
  width: 100%;
}
.wrap .public .homePage .homePlan .planTit .planContent .planText {
  width: 100%;
  height: auto;
  min-height: 2.5rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .planText .textP {
  font-size: 0.34666667rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .planText .textP p {
  color: #333;
  padding-top: 0.21333333rem;
  line-height: 0.6rem;
}
.wrap .public .homePage .homePlan .planTit .planContent .planText .textP .textpLeft {
  float: left;
  width: 20%;
}
.wrap .public .homePage .homePlan .planTit .planContent .planText .textP .textpRight {
  float: left;
  width: 80%;
  color: #333;
}
.wrap .public .homePage .homePlan .planTit .planContent .planText .textP .textpRight1 {
  color: #333;
  padding-top: 0;
}
.wrap .public .homePage .homePlan .planTit .planContent .planText .planJoin {
  width: 60%;
  padding: 0.16rem 0;
  margin: 0.4rem auto 0.4rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #ff9900;
}
.wrap .public .homePage .homePlan .planTit .planContent .planText .planJoin a {
  color: #fff;
  font-size: 0.34666667rem;
}
.wrap .public .homePage .homePlan .planTit .line {
  width: 95%;
  height: 1px;
  background-color: #F2F2F2;
  margin: 0.08rem auto 0.21333333rem;
}
.wrap .public .homePage .homePlan .planTit .planJoin {
  width: 60%;
  padding: 0.16rem 0;
  margin: 0.13333333rem auto 0.4rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #ff9900;
}
.wrap .public .homePage .homePlan .planTit .planJoin a {
  color: #fff;
  font-size: 0.34666667rem;
}
.wrap .public .homePage .homePlan .taskDate {
  width: 90%;
  margin: 0 auto;
  color: #515151;
  font-size: 0.38rem;
  padding: 0.13333333rem 0 0.4rem;
}
.wrap .public .homePage .homePlan .taskDate .txtClass {
  float: left;
  width: 50%;
  text-align: center;
  background: url(../../img/u9504.png) no-repeat 1rem center;
  background-size: 18%;
  padding-left: 0.5rem;
  border-right: 0.02666667rem solid #f2f2f2;
}
.wrap .public .homePage .homePlan .taskDate .txtR {
  float: right;
  width: 50%;
  background: url(../../img/prekindergarten/redpackimg.png) no-repeat 1rem center;
  background-size: 0.6rem;
  padding-left: 0.8rem;
  text-align: center;
}
.wrap .public .homePage .homePlan .planSkill {
  margin-top: 0.13333333rem;
}
.wrap .public .homePage .homePlan .planSkill .skillBottom {
  text-align: center;
  padding: 0.21333333rem 0;
}
.wrap .public .homePage .homePlan .planSkill .skillBottom a {
  color: #FF9900;
  font-size: 0.4rem 0;
}
.wrap .public .homeLine {
  width: 100%;
  height: 0.13333333rem;
  background-color: #f2f2f2;
}
