.share1 {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.05);
}
.share1 .shareBox {
  width: 80%;
  height: 100%;
  padding-left: 0.26666667rem;
  background-color: #fff;
  position: relative;
  left: -5rem;
  padding-top: 0.26666667rem;
}
.share1 .shareBox .shareHeader {
  width: 100%;
  padding: 0 0.4rem;
  border-bottom: 0.02666667rem solid #f2f2f2;
  color: #333;
}
.share1 .shareBox .shareHeader h3 {
  font-size: 0.44rem;
  padding: 0.26666667rem 0;
}
.share1 .shareBox .shareHeader h3 span {
  font-size: 0.34rem;
  color: #A1A1A1;
}
.share1 .shareBox .shareHeader .navLeft {
  float: left;
  line-height: 1rem;
  width: 50%;
  background: url('../../img/prekindergarten/lifetable/u7421.png') no-repeat left center;
  background-size: 15%;
  padding-left: 0.8rem;
  font-size: 0.38rem;
  color: #333;
}
.share1 .shareBox .shareHeader .shareSurface {
  background: url('../../img/prekindergarten/lifetable/u7465.png') no-repeat left center;
  background-size: 15%;
  padding-left: 0.8rem;
}
.share1 .shareBox .shareHeader .timeTable {
  background: url('../../img/prekindergarten/lifetable/u7467.png') no-repeat left center;
  background-size: 15%;
  padding-left: 0.8rem;
}
.share1 .shareBox .shareHeader .navImg {
  line-height: 1rem;
  width: 50%;
  font-size: 0.38rem;
  color: #333;
  background: url('../../img/prekindergarten/lifetable/u2666.png') no-repeat left center;
  background-size: 15%;
  padding-left: 0.8rem;
}
.share1 .shareBox .shareHeader .navRight {
  float: right;
  width: 50%;
  line-height: 1rem;
}
.share1 .shareBox .shareHeader .navRight span {
  margin-left: 88%;
}
.share1 .shareBox .shareHeader .navRight img {
  width: 15%;
  margin-left: 83%;
}
.share1 .shareBox .shareHeader .card {
  width: 100%;
  padding-left: 0.8rem;
  text-align: left;
  color: #AEAEAE;
  font-size: 0.34rem;
}
.share1 .shareBox .shareHeader .navText {
  padding-left: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 0.1rem;
}
.share1 .shareBox .shareHeader .navText p {
  font-size: 0.34rem;
  padding: 0 0 0.4rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.choiceDate {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}
.choiceDate .layer {
  width: 100%;
  height: 11rem;
  position: absolute;
  top: 0;
}
.choiceDate .layer p {
  text-align: center;
  padding-top: 8rem;
  color: #fff;
  font-size: 0.3rem;
}
.choiceDate .dateBox {
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}
.choiceDate .dateBox .dateHeader {
  width: 100%;
  padding: 0 0.4rem;
  color: #fff;
  background-color: #ff9933;
}
.choiceDate .dateBox .dateHeader .headerLeft {
  float: left;
  line-height: 1.5rem;
  font-size: 0.4rem;
}
.choiceDate .dateBox .dateHeader .headerLeft .leftImg {
  width: 0.8rem;
}
.choiceDate .dateBox .dateHeader .headerRight {
  float: right;
  font-size: 0.4rem;
  line-height: 1.5rem;
}
.choiceDate .dateBox .dateTime {
  width: 90%;
  margin: 0 auto;
  height: auto;
}
.choiceDate .dateBox .dateTime .timeText {
  width: 100%;
  line-height: 1.5rem;
  font-size: 0.36rem;
}
.choiceDate .dateBox .dateTime .timeText .startTime {
  float: left;
  width: 45%;
  text-align: center;
}
.choiceDate .dateBox .dateTime .timeText img {
  float: left;
  padding: 0.5rem  0 0.5rem 1.8rem;
}
.choiceDate .dateBox .dateTime .timeText .endTime {
  float: right;
  width: 45%;
  text-align: center;
}
.choiceDate .dateBox .dateTime .timeNum {
  width: 100%;
}
.choiceDate .dateBox .dateTime .timeNum .startNum {
  float: left;
  width: 45%;
  height: 4.5rem;
  text-align: center;
  overflow: hidden;
  position: relative;
  top: 50%;
  z-index: 99;
}
.choiceDate .dateBox .dateTime .timeNum .startNum .startHour {
  float: left;
  font-size: 0.5rem;
  width: 47.5%;
}
.choiceDate .dateBox .dateTime .timeNum .startNum .startMinute {
  float: left;
  font-size: 0.5rem;
  width: 47.5%;
}
.choiceDate .dateBox .dateTime .timeNum .startNum .colon {
  float: left;
  width: 5%;
}
.choiceDate .dateBox .dateTime .timeNum .startNum .colon span {
  padding: 0.1rem 0 1rem;
  display: block;
}
.choiceDate .dateBox .dateTime .timeNum .endNum {
  float: right;
  width: 45%;
  height: 4.5rem;
  text-align: center;
  overflow: hidden;
  position: relative;
  top: 50%;
  z-index: 99;
}
.choiceDate .dateBox .dateTime .timeNum .endNum .endHour {
  float: left;
  font-size: 0.5rem;
  width: 47.5%;
}
.choiceDate .dateBox .dateTime .timeNum .endNum .endMinute {
  float: left;
  font-size: 0.5rem;
  width: 47.5%;
}
.choiceDate .dateBox .dateTime .timeNum .endNum .colon {
  float: left;
  width: 5%;
}
.choiceDate .dateBox .dateTime .timeNum .endNum .colon span {
  padding: 0.1rem 0 1rem;
  display: block;
}
.choiceDate .dateBox .dateTime .timeNum .slide {
  color: #ff9963;
}
.wrapPage {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.wrapPage .headerImg {
  width: 100%;
}
.wrapPage .headerImg .lifeNav {
  width: 100%;
  max-width: 540px;
  padding: 0 0.53333333rem;
  height: 1.3rem;
  z-index: 1;
  position: fixed;
  top: 0;
  background-color: #f2f2f2;
}
.wrapPage .headerImg .lifeNav .navLeft {
  float: left;
  line-height: 1.3rem;
  background: url('../../img/prekindergarten/lifetable/u2640.png') no-repeat left center;
  background-size: 20%;
  padding-left: 0.6rem;
  font-size: 0.38rem;
  color: #949494;
}
.wrapPage .headerImg .lifeNav .navRight {
  float: right;
  line-height: 1.3rem;
  color: #949494;
  font-size: 0.4rem;
}
.wrapPage .headerImg .lifeNav .navRight span {
  color: #ff9963;
}
.wrapPage .headerImg img {
  width: 100%;
  height: 3.5rem;
}
.wrapPage .mark {
  width: 100%;
  padding: 0 0.4rem;
}
.wrapPage .mark h3 {
  font-size: 0.52rem;
  padding: 0.4rem 0 0.5rem;
  font-weight: bold;
  color: #141414;
}
.wrapPage .mark .target {
  font-size: 0.4rem;
  color: #303030;
  font-weight: bold;
  line-height: 0.75rem;
  background: url(../../img/prekindergarten/lifetable/u452.png) no-repeat left center;
  background-size: 0.4rem;
  padding-left: 0.55rem;
}
.wrapPage .mark .targetCon {
  color: #434343;
  font-size: 0.36rem;
  line-height: 0.7rem;
  padding: 0.21333333rem 0 0;
}
.wrapPage .mark .targetCon1 {
  font-size: 0.36rem;
  line-height: 0.7rem;
  padding: 0.32rem 0 0;
  color: #797979;
}
.wrapPage .markTitle {
  width: 100%;
  min-height: 1rem;
  background-color: #f2f2f2;
  line-height: 1rem;
}
.wrapPage .markTitle h3 {
  padding: 0 0.4rem;
  font-size: 0.4rem;
  font-weight: bold;
  margin-top: 0.4rem;
}
.wrapPage .blank {
  width: 100%;
  height: 5rem;
}
.wrapPage .meet {
  width: 100%;
  padding: 0 0.4rem;
  color: #333;
  min-height: 6.5rem;
}
.wrapPage .meet h4 {
  font-size: 0.38rem;
  font-weight: bold;
  background: url('../../img/prekindergarten/lifetable/u3174.png') no-repeat left center;
  padding-left: 0.53333333rem;
}
.wrapPage .meet p {
  padding: 0.13333333rem 0.53333333rem;
  color: #333;
  font-size: 0.36rem;
  line-height: 0.75rem;
}
.wrapPage .subject {
  width: 100%;
  padding: 0.4rem 0.6rem;
  background-color: #f2f2f2;
}
.wrapPage .subject .subH {
  font-size: 0.38rem;
}
.wrapPage .subject h3 {
  color: #333;
  padding: 0 0 0 0.4rem;
  margin: 0.4rem 0 0.4rem;
  font-weight: bold;
  font-size: 0.44rem;
  background: url("../../img/prekindergarten/selfrating/u4007.png") no-repeat left center;
}
.wrapPage .subject .selfTxt {
  width: 100%;
}
.wrapPage .subject .selfTxt .txtOpt {
  float: left;
  padding-top: 0.1rem;
}
.wrapPage .subject .selfTxt .txtSize {
  padding-left: 0.6rem;
  line-height: 0.7rem;
}
.wrapPage .subject .selfTxtCurrent {
  width: 100%;
  background: url('../img/selfrating/dg.png') no-repeat left 0.1rem;
  background-size: 0.26666667rem;
}
.wrapPage .subject .selfTxtCurrent .selectionBox {
  width: 0.26666667rem;
  height: 0.26666667rem;
  float: left;
}
.wrapPage .subject .selfTxtCurrent .txtOpt {
  float: left;
  font-size: 0.34rem;
  line-height: 0.6rem;
  color: #FF9933;
  padding: 0 0.1rem 0 0.25rem;
}
.wrapPage .subject .selfTxtCurrent .txtSize {
  line-height: 0.6rem;
  padding-bottom: 0.3rem;
  color: #FF9933;
  font-size: 0.34rem;
  overflow: hidden;
}
.wrapPage .planJoin {
  width: 70%;
  padding: 0.21333333rem 0;
  margin: 0.5rem auto 0.4rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #ff9900;
}
.wrapPage .planJoin a {
  color: #fff;
  font-size: 0.4rem;
}
.wrapPage .surface {
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
}
.wrapPage .surface .surfaceDiv {
  width: 92%;
  margin: 0 auto;
}
.wrapPage .surface .surfaceDiv .surTitle {
  font-size: 0.38rem;
  padding: 0.26666667rem 0;
  font-weight: bold;
}
.wrapPage .surface .surfaceDiv .workSurfaceRight {
  float: right;
  width: 20%;
  text-align: right;
  padding: 0.29333333rem 0;
  font-size: 0.3rem;
  color: #949494;
  background: url('../../img/prekindergarten/lifetable/u1283.png') no-repeat right center;
  padding-right: 0.53333333rem;
  background-size: 0.4rem;
}
.wrapPage .surface .workSurface {
  width: 100%;
}
.wrapPage .surface .workSurface .workSurfaceLeft {
  float: left;
}
.wrapPage .surface .workSurface .workSurfaceLeft .workSche {
  font-size: 0.46rem;
  padding: 0.26666667rem 0 0.26666667rem 0.8rem;
  font-weight: bold;
  background: url('../../img/prekindergarten/lifetable/u3244.png') no-repeat left center;
  background-size: 7%;
}
.wrapPage .surface .workSurface .workSurfaceLeft .workScheText {
  font-size: 0.38rem;
  padding: 0 0 0.4rem 0;
}
.wrapPage .surface .workSurface .workSurfaceRight {
  float: right;
  width: 20%;
  padding: 0.26666667rem 0 0.26666667rem 0.42666667rem;
  background: url('../../img/prekindergarten/lifetable/u1283.png') no-repeat 1.3rem center;
  background-size: 0.5rem;
}
.wrapPage .surface .surTime {
  width: 92%;
  margin: 0 auto 0.13333333rem;
  background-color: #fff;
  min-height: 1rem;
}
.wrapPage .surface .surTime img {
  float: left;
  width: 20%;
  padding: 0.4rem 0.4rem 0.53333333rem;
}
.wrapPage .surface .surTime .timeArrange {
  float: left;
  width: 80%;
  padding-top: 0.53333333rem;
}
.wrapPage .surface .surTime .timeArrange p {
  font-size: 0.36rem;
  padding-left: 0.26666667rem;
}
.wrapPage .surface .surTime .timeArrange .timeD {
  padding-top: 0.26666667rem;
}
.wrapPage .surface .surTime .timeArrange .timeD .timeLeft {
  width: 33.33%;
  color: #A1A1A1;
  font-size: 0.34rem;
}
.wrapPage .surface .surTime .timeArrange .timeD .timeImg {
  margin-top: -0.2rem;
}
.wrapPage .surface .surTime .timeArrange .timeD .timeRight {
  width: 33.33%;
  color: #A1A1A1;
  font-size: 0.34rem;
}
.wrapPage .surface .surTime .timeArrange .timeD .timeCol {
  width: 33.33%;
  background: url('../../img/prekindergarten/lifetable/u2041.png') no-repeat right center;
  padding-left: 0.26666667rem;
  color: #A1A1A1;
}
.wrapPage .surface .timeNit {
  width: 92%;
  margin: 0 auto 0.13333333rem;
  background-color: #fff;
  min-height: 1rem;
}
.wrapPage .surface .timeNit img {
  float: left;
  width: 20%;
  padding: 0.53333333rem 0.4rem 0.53333333rem;
}
.wrapPage .surface .timeNit .timeArrange {
  float: left;
  width: 80%;
  padding-top: 0.66666667rem;
}
.wrapPage .surface .timeNit .timeArrange p {
  font-size: 0.36rem;
}
.wrapPage .surface .timeNit .timeArrange .arran {
  padding-right: 0.53333333rem;
  float: left;
}
.wrapPage .surface .timeNit .timeArrange .timeD .arranImg {
  display: block;
  float: left;
  width: 33.33%;
  color: #A1A1A1;
  font-size: 0.34rem;
  padding-top: 0.1rem;
}
.wrapPage .surface .timeNit .timeArrange .arranDiv {
  padding: 0;
}
.wrapPage .edit {
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
}
.wrapPage .edit .surTime {
  width: 92%;
  margin: 0 auto 0.13333333rem;
  background-color: #fff;
  min-height: 1rem;
}
.wrapPage .edit .surTime img {
  float: left;
  width: 20%;
  padding: 0.4rem 0.4rem 0.53333333rem;
}
.wrapPage .edit .surTime .timeArrange {
  float: left;
  width: 80%;
  padding-top: 0.53333333rem;
}
.wrapPage .edit .surTime .timeArrange p {
  font-size: 0.36rem;
  padding-left: 0.26666667rem;
}
.wrapPage .edit .surTime .timeArrange .timeD {
  padding-top: 0.26666667rem;
}
.wrapPage .edit .surTime .timeArrange .timeD .timeLeft {
  width: 33.33%;
  background: url('../../img/prekindergarten/lifetable/u2041.png') no-repeat 1.8rem center;
  padding-left: 0.26666667rem;
  color: #A1A1A1;
  font-size: 0.34rem;
}
.wrapPage .edit .surTime .timeArrange .timeD .timeImg {
  margin-top: -0.2rem;
}
.wrapPage .edit .surTime .timeArrange .timeD .timeRight {
  width: 33.33%;
  background: url('../../img/prekindergarten/lifetable/u2041.png') no-repeat 1.8rem center;
  padding-left: 0.26666667rem;
  color: #A1A1A1;
  font-size: 0.34rem;
}
.wrapPage .edit .surTime .timeArrange .timeD .timeCol {
  width: 33.33%;
  background: url('../../img/prekindergarten/lifetable/u2041.png') no-repeat right center;
  padding-left: 0.26666667rem;
  color: #A1A1A1;
}
.wrapPage .edit .timeNit {
  width: 92%;
  margin: 0 auto 0.13333333rem;
  background-color: #fff;
  min-height: 1rem;
}
.wrapPage .edit .timeNit img {
  float: left;
  width: 20%;
  padding: 0.53333333rem 0.4rem 0.53333333rem;
}
.wrapPage .edit .timeNit .timeArrange {
  float: left;
  width: 80%;
  padding-top: 0.66666667rem;
}
.wrapPage .edit .timeNit .timeArrange p {
  font-size: 0.36rem;
}
.wrapPage .edit .timeNit .timeArrange .arran {
  padding-right: 0.53333333rem;
  float: left;
}
.wrapPage .edit .timeNit .timeArrange .timeD .arranImg {
  display: block;
  float: left;
  width: 33.33%;
  color: #A1A1A1;
  font-size: 0.34rem;
  padding-top: 0.1rem;
  background: url('../../img/prekindergarten/lifetable/u2041.png') no-repeat 1.8rem center;
  padding-left: 0.26666667rem;
}
.wrapPage .edit .timeNit .timeArrange .arranDiv {
  padding: 0;
}
.wrapPage .line {
  width: 30%;
  height: 0.13333333rem;
  margin-bottom: 0.4rem;
  border-radius: 1.33333333rem 1.33333333rem;
  background-color: #f2f2f2;
}
.wrapPage .liftBot {
  width: 100%;
  padding: 0.4rem 0 0.26666667rem;
  min-height: 3.5rem;
}
.wrapPage .liftBot p {
  text-align: center;
  color: #AEAEAE;
  padding: 0 0.4rem;
}
.wrapPage .liftBot .planJoin {
  width: 70%;
  padding: 0.21333333rem 0;
  margin: 0.5rem auto 0.4rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #ff9900;
}
.wrapPage .liftBot .planJoin a {
  color: #fff;
  font-size: 0.4rem;
}
.wrapPage .lifeBottom {
  width: 100%;
  max-width: 540px;
  height: 1.5rem;
  position: absolute;
  margin-top: 0.4rem;
  line-height: 1.4rem;
  border-top: 0.02666667rem solid #e3e2e1;
  padding: 0 0.4rem 0;
  font-size: 0.38rem;
}
.wrapPage .lifeBottom .navLeft {
  float: left;
  background: url('../../img/prekindergarten/lifetable/u2307.png') no-repeat left center;
  background-size: 22%;
  padding-left: 0.53333333rem;
}
.wrapPage .lifeBottom .navRight {
  float: right;
  background: url('../../img/prekindergarten/lifetable/u2744.png') no-repeat right center;
  background-size: 25%;
  padding-right: 0.53333333rem;
}
.wrapPage .lifeBottomLast {
  width: 100%;
  height: 1.5rem;
}
.wrapPage .lifeBottomLast .navLeft {
  float: left;
  background: url('../../img/prekindergarten/lifetable/u2307.png') no-repeat left center;
  background-size: 23%;
  padding-left: 0.53333333rem;
}
.wrapPage .lifeBottomLast .navRight {
  float: right;
  background: url('../../img/prekindergarten/lifetable/u2313.png') no-repeat right center;
  background-size: 13%;
  padding-right: 0.53333333rem;
}
.wrapPage .markSubject {
  position: fixed;
  bottom: 1rem;
  max-width: 540px;
}
.time {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
.workSchedule {
  min-height: 100%;
}
.workSchedule .mark {
  min-height: 6rem;
}
