.wrap .public {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0.34rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap .public .recommendPage {
  width: 100%;
}
.wrap .public .recommendPage .recommendMess {
  width: 100%;
  height: auto;
  min-height: 3rem;
  margin: 0 auto;
  background-color: #fff;
}
.wrap .public .recommendPage .recommendMess .recommendHeader {
  width: 95%;
  margin: 0 auto;
  min-height: 2rem;
  padding: 0.4rem 0 0.26666667rem;
  border-bottom: 0.02666667rem solid #f2f2f2;
}
.wrap .public .recommendPage .recommendMess .recommendHeader .headerImg {
  float: left;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  overflow: hidden;
}
.wrap .public .recommendPage .recommendMess .recommendHeader .headerName {
  float: left;
  margin-left: 0.4rem;
}
.wrap .public .recommendPage .recommendMess .recommendHeader .headerName span {
  display: block;
  font-size: 0.35rem;
  margin-top: 0.2rem;
  font-weight: bold;
}
.wrap .public .recommendPage .recommendMess .recommendHeader .headerName p {
  color: #A1A1A1;
  font-size: 0.26666667rem;
  padding-top: 0.15rem;
}
.wrap .public .recommendPage .recommendMess .recommendHeader .headerScore {
  float: right;
  font-size: 0.77333333rem;
  color: #FF9933;
  padding-right: 0.53333333rem;
}
.wrap .public .recommendPage .recommendMess .recommendContent {
  width: 100%;
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentTit {
  width: 100%;
  padding-top: 0.4rem;
  text-align: left;
  padding-left: 0.47745358rem;
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentTit .tit {
  font-size: 0.4rem;
  color: #333333;
  font-weight: bold;
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentTit .addTit {
  font-size: 0.37333333rem;
  color: #949494;
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentSurface {
  padding-bottom: 0.4rem;
  position: relative;
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentSurface p {
  width: 20%;
  position: absolute;
  font-size: 0.3rem;
  left: -0.55rem;
  color: #C9C9C9;
  top: 1.33333333rem;
  transform: rotate(-90deg);
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentSurface .bar-chart {
  width: 90%;
  text-align: center;
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentSurface .contentChart {
  width: 88%;
  height: 4.5rem;
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  margin: 0.4rem auto;
  margin-left:0.7rem;
  position: relative;
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentSurface .contentChart span {
  width: 13%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  margin: 0 0.66666667rem;
  text-align: center;
  padding: 0.26666667rem 0;
  background: #ff9933;
  border: 1px solid #ff9933;
  opacity: 0.88;
  border-bottom: 0;
  border-radius: 0.08rem 0.08rem 0 0;
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentSurface .contentChart .chartTwo {
  width: 13%;
  height: 2rem;
  position: absolute;
  bottom: 0;
  left: 22%;
  background: #ff3333;
  border: 1px solid #ff3333;
  opacity: 0.88;
  border-bottom: 0;
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentSurface .contentChart .chartTthree {
  width: 13%;
  height: 2.3rem;
  position: absolute;
  bottom: 0;
  left: 44%;
  background: #0099ff;
  border: 1px solid #0099ff;
  opacity: 0.88;
  border-bottom: 0;
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentSurface .contentChart .chartFour {
  width: 13%;
  height: 1.8rem;
  position: absolute;
  bottom: 0;
  left: 66%;
  background: #66cc33;
  border: 1px solid #66cc33;
  opacity: 0.88;
  border-bottom: 0;
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentSurface .dottedLine {
  width: 100%;

  border-bottom: 1px dashed #f2f2f2;
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentSurface .chartText {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentSurface .chartText font {
  position: absolute;
  bottom: -0.1rem;
  margin: 0 0.8rem;
  font-size: 0.3rem;
  transform: scale(0.8);
  color: #A1A1A1;
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentSurface .chartText .textTwo {
  position: absolute;
  left: 21.5%;
  font-size: 0.3rem;
  color: #A1A1A1;
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentSurface .chartText .textTthree {
  position: absolute;
  left: 43%;
  font-size: 0.32rem;
  color: #A1A1A1;
}
.wrap .public .recommendPage .recommendMess .recommendContent .contentSurface .chartText .textFour {
  position: absolute;
  left: 64%;
  font-size: 0.32rem;
  color: #A1A1A1;
}
.wrap .public .recommendPage .recommendData {
  width: 100%;
  margin-top: 0.1rem;
}
.wrap .public .recommendPage .recommendData .general {
  font-size: 0.4rem;
  padding: 0.53333333rem 0 0.3rem;
  color: #FF9933;
  text-align: center;
}
.wrap .public .recommendPage .recommendData .general span{
  font-size: 0.7rem;
  color: #FF9933;
}
.wrap .public .recommendPage .recommendData .dataText {
  width:90%;
  margin: 0 auto;
  font-size: 0.35rem;
  color:#0099FF;
  text-align: center;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #F2F2F2;
}
.wrap .public .recommendPage .recommendData .presenTop {
  width:45%;
  margin:0 auto;
  font-size: 0.35rem;
  color:#949494;
  text-align: center;
  padding: 0.3rem 0;
  background: url("../../img/prekindergarten/u302.png") no-repeat right center;
  -webkit-background-size:0.5rem;
  background-size:0.5rem;
}
.wrap .public .recommendPage .recommendData .presenBtn {
  display: none;
  width:38%;
  margin:0 auto;
  font-size: 0.35rem;
  color:#949494;
  text-align: center;
  padding: 0.3rem 0;
  background: url("../../img/prekindergarten/u301.png") no-repeat right center;

  -webkit-background-size:0.5rem;
  background-size:0.5rem;
}
.wrap .public .recommendPage .recommendData .analysis {
  width: 100%;
}
.wrap .public .recommendPage .recommendData .planTit {
  width: 100%;
  margin-top: 0.2rem;
}
.wrap .public .recommendPage .recommendData .planTit .tit {
  width: 100%;
  height: 0.8rem;
  padding-left: 0.4rem;
}
.wrap .public .recommendPage .recommendData .planTit .tit div {
  width: 0.13333333rem;
  height: 0.8rem;
  background-color: rgba(215, 215, 215, 1);
  -webkit-border-radius: 0 0.13333333rem 0.13333333rem 0;
  -ms-border-radius: 0 0.13333333rem 0.13333333rem 0;
  -moz-border-radius: 0 0.13333333rem 0.13333333rem 0;
  border-radius: 0 0.13333333rem 0.13333333rem 0;
  float: left;
}
.wrap .public .recommendPage .recommendData .planTit .tit .titT {
  background-color: #ff6633;
}
.wrap .public .recommendPage .recommendData .planTit .tit h4 {
  float: left;
  padding-left: 0.4rem;
  line-height: 0.8rem;
  font-size: 0.40rem;
  color: #333333;
  font-weight: bold;
}
.wrap .public .recommendPage .recommendData .planTit .tit .headerScore {
  float: right;
  font-size: 0.53333333rem;
  color: #333333;
  padding-right: 0.53333333rem;
  line-height: 0.8rem;
}
.wrap .public .recommendPage .recommendData .planTit .tit .headerScore font {
  font-size: 0.37333333rem;
}
.wrap .public .recommendPage .recommendData .planTit .planContent {
  width: 95%;
  margin: 0 auto 0.26666667rem;
  position: relative;
}
.wrap .public .recommendPage .recommendData .planTit .planContent .planText {
  width: 100%;
  height: auto;
  min-height: 2.5rem;
}
.wrap .public .recommendPage .recommendData .planTit .planContent .planText .textP {
  font-size: 0.38rem;
  padding-bottom: 0.26666667rem;
  padding-left: 0.4rem;
}
.wrap .public .recommendPage .recommendData .planTit .planContent .planText .textP p {
  color: #363636;
  padding-top: 0.26666667rem;
}
.wrap .public .recommendPage .recommendData .planTit .planContent .planText .textP p span {
  color: #FF9933;
}
.wrap .public .recommendPage .recommendData .planTit .planContent .planText .textP p .textSpanOne {
  color: #FF6633;
}
.wrap .public .recommendPage .recommendPark {
  width: 100%;
  height: auto;
  min-height: 3rem;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 0.2rem;

}
.wrap .public .recommendPage .recommendPark .parkTit {
  font-size: 0.53333333rem;
  color: #333333;
  text-align: center;
  padding: 0.3rem 0;
}
.wrap .public .recommendPage .recommendPark .parkH4 {
  font-weight:bold;
}
.wrap .public .recommendPage .recommendPark .mode {
  width:80%;
  display: block;
  margin:0 auto;
}
.wrap .public .recommendPage .recommendPark .mode {
  width:80%;
  display: block;
  margin:0 auto;
}
.wrap .public .recommendPage .recommendPark .activity_v {
  width:90%;
  margin:0 auto;
}
.wrap .public .recommendPage .recommendPark .activity_v {
  padding-bottom:0.4rem;
}
.wrap .public .recommendPage .recommendPark .activity_v .actTit{
  font-size:0.46rem;
  font-weight: bold;
}
.wrap .public .recommendPage .recommendPark .activity_v .actText{
  font-size:0.36rem;
  line-height: 0.6rem;
  padding: 0.3rem 0 0.2rem 0;
  border-bottom: 1px solid #F2F2F2;
}
.wrap .public .recommendPage .recommendPark .activity_v .reason{
  font-size:0.34rem;
  line-height: 0.6rem;
  padding-top: 0.3rem;
  background: url("../../img/prekindergarten/u439.png") no-repeat left 0.2rem;
  padding-left:0.8rem;
  background-size: 0.6rem;
}
.wrap .public .recommendPage .recommendPark .targetList {
  width: 100%;
  padding:0.3rem;
}
/*.wrap .public .recommendPage .recommendPark .listPad {*/
  /*padding-top: 0.5rem;*/
/*}*/
.wrap .public .recommendPage .recommendPark .targetList .parkList {
  background: url("../../img/prekindergarten/u723.png") no-repeat left center;
  background-size: 7%;
}

.wrap .public .recommendPage .recommendPark .targetList .parkList .list {
  font-size: 0.4rem;
  padding-left: 0.7rem;
  color: #333333;
  font-weight: bold;
}
.wrap .public .recommendPage .recommendPark .targetList .listSubtitle {
   padding-left: 0.8rem;
   padding-top:0.2rem;
   color: #949494;
  font-size: 0.3rem;
 }
.wrap .public .recommendPage .recommendPark .targetList .customDiv{

  margin-top:0.5rem;

}
.wrap .public .recommendPage .recommendPark .targetList .customDiv img{
  float: left;
  width:0.5rem;
}
.wrap .public .recommendPage .recommendPark .targetList .custom {
  font-size:0.36rem;
  color: #A1A1A1;
  margin-top:0.5rem;
  margin-left:0.5rem;
  padding-left: 0.3rem;
}
.wrap .public .recommendPage .recommendPark .targetList .modify {

  float: right;
  margin:0.3rem 0;
  background: url("../../img/prekindergarten/u1283.png") no-repeat left center;
  background-size: 0.5rem;
  padding-left: 0.6rem;
  padding-right: 0.3rem;
  width: 40%;
}
input::-webkit-input-placeholder { /* WebKit browsers*/
  　　font-size:0.32rem !important;
  color: #0099FF !important;
}
input[placeholder], [placeholder], *[placeholder] {


}
.wrap .public .recommendPage .recommendPark .targetList .parkList .flip {
  color: #949494;
  font-size: 0.34rem;
}
.wrap .public .recommendPage .recommendPark .targetList .choice {
  background: url("../../img/prekindergarten/u727.png") no-repeat left center;
  background-size: 5%;
  margin-left: 0.13333333rem;
}
.wrap .public .recommendPage .recommendPark .listPad .choice{
   background: url("../../img/prekindergarten/u727.png") no-repeat left center;
   background-size: 6%;
   padding-left: 0.05rem;
}
.wrap .public .recommendPage .recommendPark .targetList .Cost {
  background: url("../../img/prekindergarten/u829.png") no-repeat left center;
  background-size: 5%;
  margin-left: 0.13333333rem;
}
.wrap .public .recommendPage .recommendPark .targetList .recommendRotate {
  width: 100%;
  padding-left:0.13rem;
  /*margin: 0 0.5rem;*/
}
.wrap .public .recommendPage .recommendPark .targetList .recommendRotate li {
  width: 24%;
  margin-top: 0.4rem;
  height: 2.8rem;
  border: 0.05333333rem solid #ff9900;
  border-radius: 0.13333333rem;
  float: left;
  background-color: #fff;
  margin: 0.45rem 0.03rem;
}
.wrap .public .recommendPage .recommendPark .targetList .recommendRotate li .rotateTxt{
  width: 24%;
  /*margin-top: 0.4rem;*/
  /*height: 3.5rem;*/
  /*border: 0.05333333rem solid #ff9900;*/
  /*border-radius: 0.13333333rem;*/
  /*float: left;*/
  background-color: #fff;
  /*margin: 0.53333333rem 0.03rem;*/
}
.wrap .public .recommendPage .recommendPark .targetList .recommendRotate li .rotateTxt h3 {
  color: #333333;
  font-style: oblique;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0.26666667rem;
}
.wrap .public .recommendPage .recommendPark .targetList .recommendRotate li .rotateTxt p {
  color: #333333;
  font-size: 0.29333333rem;
  text-align: center;
  padding: 0.26666667rem 0.26666667rem;
}
.wrap .public .recommendPage .recommendPark .targetList .recommendRotate li .rotateImg {
  width: 100%;
  height: 100px;
  background-color: #ff9900;
  display: none;
  position: relative;
}
.wrap .public .recommendPage .recommendPark .targetList .recommendRotate li .rotateImg img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap .public .recommendPage .recommendPark .targetList .choiceSlide{
  margin-bottom: 0;
}
/*.wrap .public .recommendPage .recommendPark .targetList .choiceSlide .choiceCycle {*/
  /*width: 100%;*/
  /*padding:0.5rem;*/
/*}*/
.wrap .public .recommendPage .recommendPark .targetList .choiceCycle {
  width: 100%;
  padding-top:0.2rem;

}

.wrap .public .recommendPage .recommendPark .targetList .choiceCycle ul{
  width: 100%;
}
.wrap .public .recommendPage .recommendPark .targetList .choiceCycle ul li{
  text-align: center;

}
.wrap .public .recommendPage .recommendPark .targetList .choiceCycle ul li a{
  display: block;
  font-size: 0.36rem;
  color: #A1A1A1;
  width: 90%;
  margin:0.3rem auto;
  height: 1rem;
  background-color: #F2F2F2;
  border-radius: 1.3rem 1.3rem;
  
  line-height: 1rem;
}
.wrap .public .recommendPage .recommendPark .targetList .choiceCycle ul li a .choicePirc{
  font-size: 0.3rem;
  line-height: 1rem;
}
.wrap .public .recommendPage .recommendPark .targetList  .choiceCycle .cycleCurrent  {
  color: #ff9900;
  font-size: 0.44rem;
  background-color: #fff;
  border: 1px solid #ff9900;
}
.wrap .public .recommendPage .recommendPark .targetList  .choiceCycle .surplus  {
  text-align: center;
  padding: 0.3rem;
  font-size: 0.3rem;
  color: #868686;
}
.wrap .public .recommendPage .recommendPark .targetList  .choiceCycle .surplus span {
  color: #0099ff;
  font-size: 0.4rem;
}
.wrap .public .recommendPage .recommendPark .targetList  .choiceCycle  .volunteerBtn {
   width: 6.2rem;
    display: block;
    padding: 0.21333333rem 0;
    margin: 0.4rem auto;
    text-align: center;
    -webkit-border-radius: 1.33333333rem;
    -moz-border-radius: 1.33333333rem;
    -ms-border-radius: 1.33333333rem;
    border-radius: 1.33333333rem;
    background-color: #FF9900;
    color: #fff;

}
.wrap .public .recommendPage .recommendPark .targetList  .choiceCycle  .volunteerBtn a{
  color: #fff;
}

.wrap .public .recommendPage .recommendPark .line {
  width: 95%;
  height: 1px;
  background-color: #F2F2F2;
  margin: 0.4rem auto;
}
.wrap .public .recommendPage .recommendPark .costMon {
  text-align: center;
  min-height: 3rem;
  position: relative;
  padding-top: 0.26666667rem;
}
.wrap .public .recommendPage .recommendPark .costMon .costCur {
  color: #333333;
  font-size: 0.4rem;
  position: absolute;
  top: 0.4rem;
}
.wrap .public .recommendPage .recommendPark .costMon .costNum {
  color: #ff9933;
  font-size: 1.33333333rem;
  margin-left: 0.4rem;
}
.wrap .public .recommendPage .recommendPark .costMon .costOrig {
  font-size: 0.48rem;
}
.wrap .public .recommendPage .recommendFooter {
  width: 100%;
  height: auto;
  min-height: 1.5rem;
  position: relative;
}
.wrap .public .recommendPage .recommendFooter img {
  position: absolute;
  left: 30%;
  top: 0.4rem;
  transform: rotate(180deg);
}
.wrap .public .recommendPage .clicImg{
  width: 100%;
  position: relative;
  padding-top:0.8rem;
}
.wrap .public .recommendPage .clicImg img{
  width: 15%;
  margin:0 auto;
  position: absolute;
  left:50%;
  transform: translate(-50%,0);
}
.wrap .public .recommendPage .recommendFooterText {
  width: 100%;
  margin: 1.9rem 0;
}
.wrap .public .recommendPage .recommendFooterText p {
  text-align: center;
  font-size: 0.2rem;
}

.wrap .public .recommendPage .recommendPark .targetList .recommendRotate .box{

  position:relative;
  transform-origin: 0 0;


}
.wrap .public .recommendPage .recommendPark .targetList .recommendRotate .box .rotateTxt,
.wrap .public .recommendPage .recommendPark .targetList .recommendRotate .box .rotateImg{
            
  width: 100%;
  height: 100%;
  transition:all 1s;
  position: absolute;
  backface-visibility: hidden;
            
}


.wrap .public .recommendPage .recommendPark .targetList .recommendRotate .box .rotateTxt{

  /*transform:rotateY(-180deg);*/
}
.wrap .public .recommendPage .recommendPark .targetList .recommendRotate li.box .rotateImg{
  z-index:2;
  display:block;
}
.wrap .public .recommendPage .contentReco {
      width: 100%;
      margin: 0.2rem auto 0.2rem;
      padding: 0.4rem 0.4rem;
      -webkit-border-radius: 0.08rem;
      -moz-border-radius: 0.08rem;
      -o-border-radius: 0.08rem;
      border-radius: 0.08rem;
      background-color: #fff;
      position: relative;
}
.wrap .public .recommendPage .contentRecoLimit {
  width: 100%;
  margin: 0.2rem auto 0.2rem;
  padding: 0.2rem 0.2rem;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
  background-color: #fff;
  position: relative;
}
.wrap .public .recommendPage .messContent .contentHeader h3{
  padding: 0.26666667rem 0;
  font-size: 0.4rem;
  color: #FF9933;
}
.wrap .public .recommendPage .messContent .contentHeader p {
  color: #515151;
  font-size: 0.34rem;
}
.wrap .public .recommendPage .messContent .contentHeader ul {
  width: 5rem;
  margin: 0.4rem auto;
}
.wrap .public .recommendPage .messContent .contentHeader ul li {
  float: left;
  margin: 0 0.13333333rem;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 0.02666667rem solid #dbdbdb;
  overflow: hidden;
  position: relative;
  margin-left: 0.2rem;
}
.wrap .public .recommendPage .messContent .contentHeader ul li img {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0.8rem;
  height: 0.8rem;
  transform: translate(-50%, 0);
}
.wrap .public .recommendPage .messContent .contentHeader ul li .volunteerImg {
  width: 1.31rem;
  height: 1.31rem;
}
.wrap .public .recommendPage .messContent .contentHeader .volunteerBtn {
  width: 70%;
  padding: 0.21333333rem 0;
  margin: 0.5rem auto 0.4rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #ff9900;
}
.wrap .public .recommendPage .contentRecoLimit .messContentBorder{
  width: 100%;
  border: 1em double;
  border-image: url(../../img/prekindergarten/u850.png) 15 repeat;
  margin: 0 auto;
  padding-left: 0.1rem;
}
.wrap .public .recommendPage .contentRecoLimit .messContentBorder .payContent h4{
  font-size: 0.38rem;
  color: #333333;

}
.wrap .public .recommendPage .contentRecoLimit .messContentBorder .payContent .choiceCycle{
  width: 100%;
}
.wrap .public .recommendPage .contentRecoLimit .messContentBorder .payContent .choiceCycle .costMon {
  text-align: center;
  position: relative;
  padding-top: 0.26666667rem;
}
.wrap .public .recommendPage .contentRecoLimit .messContentBorder .payContent .choiceCycle .costMon .costCur {
  color: #333333;
  font-size: 0.4rem;
  position: absolute;
  top: 0.4rem;
}
.wrap .public .recommendPage .contentRecoLimit .messContentBorder .payContent .choiceCycle .costMon .costNum {
  color: #ff9933;
  font-size: 1.33333333rem;
  margin-left: 0.4rem;
}
.wrap .public .recommendPage .contentRecoLimit .messContentBorder .payContent .choiceCycle .costMon .costOrig {
  font-size: 0.4rem;
  color: #aeaeae;
}
.wrap .public .recommendPage .contentRecoLimit .messContentBorder .payContent p {
  text-align: center;
  padding: 0.53333333rem;
  font-size: 0.26rem;
  color: #868686;
}
.wrap .public .recommendPage .contentRecoLimit .messContentBorder .payContent p span{
  color: #0099ff;
  font-size: 0.4rem;
}
.wrap .public .recommendPage .contentRecoLimit .messContentBorder .payContent .volunteerBtn{
  width: 70%;
  padding: 0.21333333rem 0;
  margin: 0.1rem auto 0.3rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #ff9900;
}
.wrap .public .recommendPage .contentRecoLimit .messContentBorder .payContent .volunteerBtn a{
  color: #fff;
  font-size: 0.4rem;
}
.wrap .public .recommendPage .messContent .contentHeader .volunteerBtn a{
  color: #fff;
  font-size: 0.4rem;
}
.wrap .public .contentReco .messContent .contentHeader .volunteerTime span {
  display: block;
  text-align: center;
  font-size: 0.26666667rem;
  color: #0066FF;
}
.wrap .public .recommendPage .contentReco h2 {
  font-size: 0.48rem;
  font-weight: bold;
}
.wrap .public .recommendPage .contentReco .passTxt {
    float: left;
  width:70%;
}
.wrap .public .recommendPage .contentReco .passTxt p{
  font-size:0.34rem;
  padding: 0.3rem 0 0.2rem 0;
  color: #868686;
}
.wrap .public .recommendPage .contentReco .passTxt .free{
  margin-top: 0.25rem;
  color: #0099FF;
}
.wrap .public .recommendPage .contentReco .passImg {
  float: right;
  width:30%;
}
.wrap .public .recommendPage .contentReco h3 {
    font-size: 0.4rem;
    /* font-weight: bold; */
}
.wrap .public .recommendPage .contentReco .recoTime {
    width: 100%;
    min-height: 0.6rem;
    background: url(../../img/prekindergarten/u1275.png) no-repeat left center;
    background-size: 6%;
    padding-left: 0.8rem;
    padding-top: 0;
    margin-top: 0.3rem;
    color: #333333;
    line-height: 0.7rem;
}
.wrap .public .recommendPage .contentReco .recoTerm {
    background: url(../../img/prekindergarten/u1279.png) no-repeat left center;
    background-size: 6%;
    margin-top: 0.3rem;
    padding-left: 0.8rem;
}
.wrap .public .recommendPage .contentReco .recoImg {
    position: absolute;
    width: 6%;
    top: 0.5rem;
    right: 0.4rem;
}

.wrap .public .recommendPage .contentReco .recoColor {
    color: #AEAEAE;
}
.wrap .public .recommendPage .contentReco .recoCom {
    position: absolute;
    width: 25%;
    top: -0.11rem;
    right: -0.11rem;
}

.wrap .public .recommendPage .contentReco .recoRelevant{
  padding-bottom: 0.1rem;
  padding-top:0.2rem;
  width:100%;
  border-bottom: 1px solid #f2f2f2;
}
.wrap .public .recommendPage .contentReco .recoRemo{

  border-bottom: none;
}
.wrap .public .recommendPage .contentReco .recomTit{
  font-size:0.4rem;
  font-weight: 300;
  padding-bottom: 0.1rem;
}
.wrap .public .recommendPage .contentReco .recomImg{
  width: 3rem;
  height: 1.87rem;
  border-radius: 0.1rem;
  float: left;

}
.wrap .public .recommendPage .contentReco .recomClass{

  padding-left: 0.25rem;
  overflow: hidden;

}
.wrap .public .recommendPage .contentReco .recomClass .classTop{
  font-size:0.36rem;
  color: #333;
  padding:0.1rem 0 0.3rem;
}
.wrap .public .recommendPage .contentReco .recomClass .classMiddle{
  font-size:0.3rem;
  color: #A1A1A1;

}
.wrap .public .recommendPage .contentReco .recomClass .classBottom{
  font-size:0.3rem;
  color:#FF9933;
  text-align: right;
  padding-top: 0.1rem;
}
.wrap .public .recommendPage .joinFixed{
  width: 6.2rem;
  display: block;
  position: fixed;
  bottom: 0.5rem;
  left:50%;
  margin-left: -3.1rem;
  padding: 0.21333333rem 0;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #FF9900;
  color: #fff;
}
.wrap .public .recommendPage .contentReco .fundvimplement {
    padding: 0 0.66666667rem;
    margin: 0.3rem 0 0.5rem;
    min-height: 1rem;
    text-align: center;
}
.wrap .public .recommendPage .contentReco .fundvimplement li {
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    margin: 0.26666667rem 0.08rem 0;
    border-radius: 50%;
}
.wrap .public .recommendPage .contentReco .fundvimplement li img {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
}
.wrap .public .recommendPage .contentReco .join {
    width: 6.2rem;
		display: block;
    padding: 0.21333333rem 0;
    margin: 0.4rem auto;
    text-align: center;
    -webkit-border-radius: 1.33333333rem;
    -moz-border-radius: 1.33333333rem;
    -ms-border-radius: 1.33333333rem;
    border-radius: 1.33333333rem;
    background-color: #FF9900;
    color: #fff;
}
.wrap .public .recommendPage .contentReco .listBot {
	text-align: center;
	color: #A1A1A1;
	font-size: 0.3rem;
}
.wrap .public .recommendPage .contentReco .listJoin {
	font-size: 0.38rem;
	color: #333;
	padding: 0.4rem 0 0.2rem;
}
.wrap .public .recommendPage .contentReco .listJoin span{
	font-size: 0.48rem;
	font-weight: bold;
}
.wrap .public .recommendPage .contentReco .listTextP {
	font-size: 0.32rem;
	color: #868686;
}
.wrap .public .recommendPage .contentReco .listTextP span{
	color: #ff9900;
}
.wrap .public .recommendPage .contentReco .fundvNothing {
 text-align: center;
  font-size: 0.3rem;
  color: #BCBCBC;
  padding-top: 0.5rem;
}
.fundPopup {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
.fundPopup .popupBox {
  width: 100%;
  height: 100%;
  position: relative;
}
.fundPopup .popupBox .popupContent {
  width: 8rem;
  height: 10rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.4rem;
  margin-left: -4rem;
  margin-top: -6rem;
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -o-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
}
.fundPopup .popupBox .popupContent .contentImg {
  width: 3rem;
  display: block;
  margin: 0.66666667rem auto 0.4rem;
}
.fundPopup .popupBox .popupContent .contentTitH {
  text-align: center;
  font-size: 0.6rem;
  font-weight: bold;
}
.fundPopup .popupBox .popupContent .contentLook {
  padding: 0.4rem;
  color: #868686;
  line-height: 0.6rem;
  font-size: 0.38rem;
}
.fundPopup .popupBox .popupContent .shadoweBtn {
  width: 70%;
  display: block;
  padding: 0.25rem 0;
  margin: 0.5rem auto;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #FF9900;
  color: #fff;
  font-size: 0.4rem;
}
.fundPopup .popupBotImg {
  width: 0.8rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -0.4rem;
}
.scrollDateTime {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  font-size: 0.42666667rem;
  background: rgba(0, 0, 0, 0.5);
}
.scrollDateTime .scrollList {
  width: 100%;
  height: 6.4rem;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}
.scrollDateTime .scrollList .scrollTit {
  width: 100%;
  min-height: 1.3rem;
  background: #ff9900;
  line-height: 1.3rem;
  display: flex;
}
.scrollDateTime .scrollList .scrollTit span {
  font-size: 0.38rem;
  text-align: center;
}
.scrollDateTime .scrollList .scrollTit .btn_cancle1 {
  flex: 1;
  color: #fff;
  font-size: 0.4rem;
  padding-left: 0.53333333rem;
}
.scrollDateTime .scrollList .scrollTit .btn_sure1 {
  flex: 1;
  color: #fff;
  font-size: 0.4rem;
  text-align: right;
  padding-right: 0.53333333rem;
}
.scrollDateTime .scrollList .scrollTime {
  width: 100%;
  height: 4.5rem;
  text-align: center;
  overflow: hidden;
  z-index: 99;
  font-size: 0.5rem;
  color: #949494;
  padding: 1rem 0 0.5rem;
}
.scrollDateTime .scrollList .scrollTime .scrollYear {
  float: left;
  width: 33.33%;
}
.scrollDateTime .scrollList .scrollTime .scrollMonth {
  float: left;
  width: 33.33%;
}
.scrollDateTime .scrollList .scrollTime .scrollDay {
  float: left;
  width: 33.33%;
}
/*section {*/
  /*float: left;*/
  /*min-width: 150px;*/
  /*width: 33.33%;*/
  /*padding: 25px 0;*/
  /*min-height: 100px;*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -0);;*/
/*}*/

/*!*=====================*!*/
/*.checkbox {*/
  /*position: relative;*/
  /*display: inline-block;*/
/*}*/
/*.checkbox:after, .checkbox:before {*/
  /*font-family: FontAwesome;*/
  /*-webkit-font-feature-settings: normal;*/
  /*-moz-font-feature-settings: normal;*/
  /*font-feature-settings: normal;*/
  /*-webkit-font-kerning: auto;*/
  /*-moz-font-kerning: auto;*/
  /*font-kerning: auto;*/
  /*-webkit-font-language-override: normal;*/
  /*-moz-font-language-override: normal;*/
  /*font-language-override: normal;*/
  /*font-stretch: normal;*/
  /*font-style: normal;*/
  /*font-synthesis: weight style;*/
  /*font-variant: normal;*/
  /*font-weight: normal;*/
  /*text-rendering: auto;*/
/*}*/
/*.checkbox label {*/
  /*width: 3.5rem;*/
  /*height: 1rem;*/
  /*background: #fff;*/
  /*position: relative;*/
  /*display: inline-block;*/
  /*border-radius: 46px;*/
  /*-webkit-transition: 0.4s;*/
  /*transition: 0.4s;*/
  /*border: 1px solid rgba(255, 153, 51, 1);*/
/*}*/
/*.checkbox label:after {*/
  /*content: '';*/
  /*position: absolute;*/
  /*width: 1.2rem;*/
  /*height: 1.2rem;*/
  /*border-radius: 100%;*/
  /*left: 0;*/
  /*top: -5px;*/
  /*z-index: 2;*/
  /*background: rgba(255, 153, 51, 1);*/
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/
  /*-webkit-transition: 0.4s;*/
  /*transition: 0.4s;*/
/*}*/
/*.checkbox input {*/
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 0;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*z-index: 5;*/
  /*opacity: 0;*/
  /*cursor: pointer;*/
/*}*/
/*.checkbox input:hover + label:after {*/
  /*box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);*/
/*}*/
/*.checkbox input:checked + label:after {*/
  /*left: 2.3rem;*/
/*}*/

/*.model-1 .checkbox input:checked + label {*/
  /*background: rgba(255, 153, 51, 1);*/
/*}*/
/*.model-1 .checkbox input:checked + label:after {*/
  /*background: rgba(255, 153, 51, 1);*/
/*}*/


