.share {
  display: none;
  width: 100%;
  max-width: 540px;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
}
.share .headerImg {
  width: 100%;
}
.share .headerImg .lifeNav {
  width: 100%;
  max-width: 540px;
  padding: 0 0.53333333rem;
  height: 1rem;
  z-index: 1;
  position: fixed;
  top: 0;
  background-color: #f2f2f2;
}
.share .headerImg .lifeNav .navLeft {
  float: left;
  line-height: 1rem;
  background: url('/res/img/prekindergarten/lifetable/u2640.png') no-repeat left center;
  background-size: 25%;
  padding-left: 0.6rem;
  font-size: 0.38rem;
  color: #333;
}
.share .headerImg .lifeNav .navRight {
  float: right;
  line-height: 1rem;
  color: #333;
  font-size: 0.4rem;
}
.share .headerImg img {
  width: 100%;
  height: 3.5rem;
}
.share .mark {
  width: 100%;
  padding: 0 0.4rem;
}
.share .mark h3 {
  font-size: 0.45rem;
  padding: 0.4rem 0;
  font-weight: bold;
  color: #141414;
}
.share .mark p {
  font-size: 0.36rem;
  color: #303030;
  line-height: 0.75rem;
}
.share .meet {
  width: 100%;
  padding: 0 0.4rem;
  color: #333;
  min-height: 6.5rem;
}
.share .meet h4 {
  font-size: 0.38rem;
  font-weight: bold;
  background: url('/res/img/prekindergarten/lifetable/u3174.png') no-repeat left center;
  padding-left: 0.53333333rem;
}
.share .meet p {
  padding: 0.13333333rem 0.53333333rem;
  color: #333;
  font-size: 0.36rem;
  line-height: 0.75rem;
}
.share .subject {
  width: 100%;
  padding: 0.4rem 0.6rem;
  background-color: #f2f2f2;
}
.share .subject .subH {
  font-size: 0.38rem;
}
.share .subject h3 {
  color: #333;
  padding: 0 0 0 0.4rem;
  margin: 0.4rem 0 0.4rem;
  font-weight: bold;
  font-size: 0.44rem;
  background: url("/res/img/prekindergarten/selfrating/u4007.png") no-repeat left center;
}
.share .subject .selfTxt {
  width: 100%;
  background: url('/res/img/prekindergarten/selfrating/fk.png') no-repeat left 0.1rem;
  background-size: 0.26666667rem;
  padding-left: 0.26666667rem;
  margin-left: 0.35rem;
}
.share .subject .selfTxt .selectionBox {
  width: 0.26666667rem;
  height: 0.26666667rem;
  float: left;
}
.share .subject .selfTxt .txtOpt {
  float: left;
  font-size: 0.34rem;
  line-height: 0.6rem;
  padding: 0 0.1rem 0 0.25rem;
}
.share .subject .selfTxt .txtSize {
  line-height: 0.6rem;
  padding-bottom: 0.3rem;
  color: #797979;
  font-size: 0.34rem;
  overflow: hidden;
}
.share .subject .selfTxtCurrent {
  width: 100%;
  background: url('/res/img/prekindergarten/selfrating/dg.png') no-repeat left 0.1rem;
  background-size: 0.34666667rem;
  padding-left: 0.34666667rem;
  margin-left: 0.35rem;
}
.share .subject .selfTxtCurrent .selectionBox {
  width: 0.26666667rem;
  height: 0.26666667rem;
  float: left;
}
.share .subject .selfTxtCurrent .txtOpt {
  float: left;
  font-size: 0.34rem;
  line-height: 0.6rem;
  color: #FF9933;
  padding: 0 0.1rem 0 0.25rem;
}
.share .subject .selfTxtCurrent .txtSize {
  line-height: 0.6rem;
  padding-bottom: 0.3rem;
  color: #FF9933;
  font-size: 0.34rem;
  overflow: hidden;
}
.share .planJoin {
  width: 70%;
  padding: 0.21333333rem 0;
  margin: 0.5rem auto 0.4rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #ff9900;
}
.share .planJoin a {
  color: #fff;
  font-size: 0.4rem;
}
.share .surface {
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
}
.share .surface .surTitle {
  font-size: 0.38rem;
  padding: 0.26666667rem 0.4rem;
  font-weight: bold;
}
.share .surface .workSurface {
  width: 100%;
}
.share .surface .workSurface .workSurfaceLeft {
  float: left;
}
.share .surface .workSurface .workSurfaceLeft .workSche {
  font-size: 0.46rem;
  padding: 0.26666667rem 0 0.26666667rem 0.8rem;
  font-weight: bold;
  background: url('/res/img/prekindergarten/lifetable/u3244.png') no-repeat left center;
  background-size: 7%;
}
.share .surface .workSurface .workSurfaceLeft .workScheText {
  font-size: 0.38rem;
  padding: 0 0 0.4rem 0;
}
.share .surface .workSurface .workSurfaceRight {
  float: right;
  width: 20%;
  padding: 0.26666667rem 0 0.26666667rem 0.42666667rem;
  background: url('/res/img/prekindergarten/lifetable/u1283.png') no-repeat 1.3rem center;
  background-size: 0.5rem;
}
.share .surface .surTime {
  width: 92%;
  margin: 0 auto 0.13333333rem;
  background-color: #fff;
  min-height: 1rem;
}
.share .surface .surTime img {
  float: left;
  width: 20%;
  padding: 0.4rem 0.4rem 0.53333333rem;
}
.share .surface .surTime .timeArrange {
  float: left;
  width: 80%;
  padding-top: 0.53333333rem;
}
.share .surface .surTime .timeArrange p {
  font-size: 0.36rem;
  padding-left: 0.26666667rem;
}
.share .surface .surTime .timeArrange .timeD {
  padding-top: 0.26666667rem;
}
.share .surface .surTime .timeArrange .timeD .timeLeft {
  width: 33.33%;
  background: url('/res/img/prekindergarten/lifetable/u2041.png') no-repeat right center;
  padding-left: 0.26666667rem;
  color: #FF9933;
  font-size: 0.34rem;
}
.share .surface .surTime .timeArrange .timeD .timeImg {
  margin-top: -0.2rem;
}
.share .surface .surTime .timeArrange .timeD .timeRight {
  width: 33.33%;
  background: url('/res/img/prekindergarten/lifetable/u2041.png') no-repeat right center;
  padding-left: 0.26666667rem;
  color: #FF9933;
  font-size: 0.34rem;
}
.share .surface .surTime .timeArrange .timeD .timeCol {
  width: 33.33%;
  background: url('/res/img/prekindergarten/lifetable/u2041.png') no-repeat right center;
  padding-left: 0.26666667rem;
  color: #A1A1A1;
}
.share .surface .timeNit {
  width: 92%;
  margin: 0 auto 0.13333333rem;
  background-color: #fff;
  min-height: 1rem;
}
.share .surface .timeNit img {
  float: left;
  width: 20%;
  padding: 0.53333333rem 0.4rem 0.53333333rem;
}
.share .surface .timeNit .timeArrange {
  float: left;
  width: 80%;
  padding-top: 0.66666667rem;
}
.share .surface .timeNit .timeArrange p {
  font-size: 0.4rem;
}
.share .surface .timeNit .timeArrange .arran {
  padding-right: 0.53333333rem;
  float: left;
}
.share .surface .timeNit .timeArrange .arranImg {
  display: block;
  float: left;
  width: 33.33%;
  background: url('/res/img/prekindergarten/lifetable/u2041.png') no-repeat right center;
  padding-left: 0.26666667rem;
  color: #FF9933;
  padding-top: 0.1rem;
}
.share .line {
  width: 100%;
  height: 0.26666667rem;
  background-color: #f2f2f2;
}
.share .liftBot {
  width: 100%;
  padding: 0.4rem 0 0.26666667rem;
  min-height: 3.5rem;
}
.share .liftBot p {
  text-align: center;
  color: #AEAEAE;
}
.share .liftBot .planJoin {
  width: 70%;
  padding: 0.21333333rem 0;
  margin: 0.5rem auto 0.4rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #ff9900;
}
.share .liftBot .planJoin a {
  color: #fff;
  font-size: 0.4rem;
}
.share .lifeBottom {
  width: 100%;
  height: 1rem;
  border-top: 0.05333333rem solid #f2f2f2;
  padding: 0.26666667rem 0.8rem 0.8rem 0.8rem;
}
.share .lifeBottom .navLeft {
  float: left;
  background: url('/res/img/prekindergarten/lifetable/u2307.png') no-repeat left center;
  background-size: 23%;
  padding-left: 0.53333333rem;
}
.share .lifeBottom .navRight {
  float: right;
  background: url('/res/img/prekindergarten/lifetable/u2744.png') no-repeat right center;
  background-size: 25%;
  padding-right: 0.53333333rem;
}
.share .lifeBottomLast {
  width: 100%;
  height: 1rem;
  max-width: 540px;
  position: fixed;
  bottom: 0;
  border-top: 0.05333333rem solid #f2f2f2;
  padding: 0.26666667rem 0.8rem 0.8rem 0.8rem;
}
.share .lifeBottomLast .navLeft {
  float: left;
  background: url('/res/img/prekindergarten/lifetable/u2307.png') no-repeat left center;
  background-size: 23%;
  padding-left: 0.53333333rem;
}
.share .lifeBottomLast .navRight {
  float: right;
  background: url('/res/img/prekindergarten/lifetable/u2313.png') no-repeat right center;
  background-size: 13%;
  padding-right: 0.53333333rem;
}
.share .markSubject {
  position: fixed;
  bottom: 1rem;
  max-width: 540px;
}
.wrapPage {
  width: 100%;
  max-width: 540px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapPage .selfrating {
  width: 100%;
  max-width: 540px;
}
.wrapPage .selfrating .frating {
  width: 100%;
  min-height: 11rem;
  position: relative;
}
.wrapPage .selfrating .frating .selfHeader {
  width: 100%;
  padding: 0.53333333rem 0.26666667rem 0.8rem 0.8rem;
  background-color: #ff9900;
  position: relative;
  -webkit-background-image: linear-gradient(10deg, #fff 25%, #ff9900 25.5%, #ff9900 50%, #ff9900 50%, #ff9900 75%, #ff9900 75%, #ff9900 100%);
  -moz-background-image: linear-gradient(10deg, #fff 25%, #ff9900 25.5%, #ff9900 50%, #ff9900 50%, #ff9900 75%, #ff9900 75%, #ff9900 100%);
  -o-background-image: linear-gradient(10deg, #fff 25%, #ff9900 25.5%, #ff9900 50%, #ff9900 50%, #ff9900 75%, #ff9900 75%, #ff9900 100%);
  background-image: linear-gradient(10deg, #fff 25%, #ff9900 25.5%, #ff9900 50%, #ff9900 50%, #ff9900 75%, #ff9900 75%, #ff9900 100%);
}
.wrapPage .selfrating .frating .selfHeader h5 {
  color: #fff;
  font-size: 0.7rem;
  font-weight: bold;
}
.wrapPage .selfrating .frating .selfHeader .headerText {
  padding: 0.25rem 0 0.73333333rem;
  color: #fff;
  font-size: 0.36rem;
}
.wrapPage .selfrating .frating .selfHeader .headerBot {
  color: #fff;
  font-size: 0.3rem;
  text-align: right;
  padding: 0 0.13333333rem 0.53333333rem;
}
.wrapPage .selfrating .frating .selfHeader .headerImg {
  width: 1.1rem;
  height: 1.1rem;
  border: 0.05333333rem solid #ff9900;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  left: 0.8rem;
  background-color: #fff;
  z-index: 20;
}
.wrapPage .selfrating .frating .selfHeader .headerImg img {
  display: block;
  margin: 0.25rem auto;
  width: 0.5rem;
}
.wrapPage .selfrating .frating .selfHeader .headerImgEnve {
  position: absolute;
  bottom: 0.75rem;
  left: 2.3rem;
}
.wrapPage .selfrating .frating .selfDiv {
  width: 100%;
  margin-top: -0.55rem;
  position: relative;
}
.wrapPage .selfrating .frating .selfForm {
  width: 92%;
  border: 0.02666667rem solid #f2f2f2;
  margin: 0 auto;
  -webkit-border-radius: 0.13333333rem;
  -moz-border-radius: 0.13333333rem;
  -o-border-radius: 0.13333333rem;
  border-radius: 0.13333333rem;
}
.wrapPage .selfrating .frating .selfForm .selfTop {
  width: 100%;
  min-height: 1.5rem;
  background-color: #f2f2f2;
}
.wrapPage .selfrating .frating .selfForm .selfTop h3 {
  float: left;
  padding: 0.3rem 0.2rem 0.15rem 0.4rem;
  font-size: 0.8rem;
  color: #333;
  font-weight: bold;
}
.wrapPage .selfrating .frating .selfForm .selfTop span {
  display: block;
  font-size: 0.45rem;
  padding: 0.5rem;
  font-weight: bold;
}
.wrapPage .selfrating .frating .selfForm .selfTxt {
  width: 100%;
  padding: 0.4rem 0.53333333rem 0.13333333rem 0.9rem;
}
.wrapPage .selfrating .frating .selfForm .selfTxt .txtOpt {
  float: left;
  padding-top: 0.1rem;
}
.wrapPage .selfrating .frating .selfForm .selfTxt .txtSize {
  padding-left: 0.6rem;
  line-height: 0.7rem;
}
.wrapPage .selfrating .frating .selfForm .selfUnexe {
  float: right;
  font-size: 0.34rem;
  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
}
.wrapPage .selfrating .frating .selfForm .selfUnexe .unexeDeta {
  color: #0099FF;
}
.wrapPage .selfrating .frating .selfForm3 {
  margin-top: 0.2rem;
}
.wrapPage .selfrating .selfBottom {
  padding: 0.53333333rem 0.4rem;
}
.wrapPage .selfrating .selfBottom .selfTips {
  font-size: 0.36rem;
  color: #FF9933;
  padding-bottom: 0.26666667rem;
}
.wrapPage .selfrating .selfBottom .tipsTxt {
  font-size: 0.32rem;
  color: #949494;
  line-height: 0.5rem;
}
.wrapPage .selfrating .btn {
  padding-bottom: 0.5rem;
}
.wrapPage .selfrating .btn .planJoin {
  width: 70%;
  padding: 0.21333333rem 0;
  margin: 0.5rem auto 0.4rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #ff9900;
}
.wrapPage .selfrating .btn .planJoin a {
  color: #fff;
  font-size: 0.4rem;
}
.wrapPage .selfrating .frating .selfForm .selfTxtCurrent {
  color: #FF9933 !important;
}