.wrapPage {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.wrapPage .shaDetTit {
  text-align: center;
  font-size: 0.5rem;
  font-weight: bold;
  padding-top: 0.8rem;
}
.wrapPage .shaDetAtta {
  padding: 0.4rem 0;
  text-align: center;
  color: #868686;
  font-size: 0.32rem;
}
.wrapPage .contentReco {
  width: 85%;
  margin: 0 auto 0.27027027rem;
  padding: 0.4rem 0.4rem;
  -webkit-border-radius: 0.13333333rem;
  -moz-border-radius: 0.13333333rem;
  -o-border-radius: 0.13333333rem;
  border-radius: 0.13333333rem;
  border: 0.05333333rem solid #f2f2f2;
}
.wrapPage .contentReco .leftImg {
  float: left;
  width: 1.3rem;
  height: 1.3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
}
.wrapPage .contentReco .leftImg img {
  width: 1.3rem;
  height: 1.3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.wrapPage .contentReco .leftTxt {
  float: left;
  padding-left: 0.26666667rem;
}
.wrapPage .contentReco .leftTxt .txtName {
  padding: 0.21333333rem 0 0.13333333rem;
  font-size: 0.35rem;
  color: #ff9933;
}
.wrapPage .contentReco .leftTxt .txtBaby {
  font-size: 0.3rem;
  color: #797979;
}
.wrapPage .contentReco .trophy {
  width: 50%;
  display: block;
  margin: 0.4rem auto;
}
.wrapPage .contentReco .baby {
  text-align: center;
  color: #333;
}
.wrapPage .contentReco .honor {
  text-align: center;
  padding-top: 0.2rem;
  font-size: 0.42rem;
  color: #ff9933;
}
.wrapPage .contentReco .headerRight {
  width: 20%;
  float: right;
}
.wrapPage .contentReco .headerRight img {
  width: 95%;
}
.wrapPage .contentReco .headerRight p {
  text-align: center;
  font-size: 0.3rem;
  color: #ff9933;
  padding-top: 0.13333333rem;
}
.wrapPage .contentReco h3 {
  font-size: 0.4rem;
  font-weight: 600;
}
.wrapPage .contentReco .recoTest {
  width: 100%;
  position: relative;
}
.wrapPage .contentReco .recoTest .testLeTop {
  float: left;
}
.wrapPage .contentReco .recoTest .testLeTop .topTxt {
  font-size: 0.34666667rem;
  color: #797979;
}
.wrapPage .contentReco .recoTest .testLeTop .achieBraL {
  display: block;
  font-size: 0.48rem;
  text-align: center;
  font-weight: 600;
  color: #FF8962;
}
.wrapPage .contentReco .recoTest .testLeTop .achieBraS {
  display: block;
  font-size: 0.48rem;
  text-align: center;
  font-weight: 600;
  color: #66CC33;
}
.wrapPage .contentReco .recoTest .imgLeTop {
  position: absolute;
  top: 1.2rem;
  left: 2.4rem;
  transform: rotate(-55deg);
}
.wrapPage .contentReco .recoTest .imgRiTop {
  position: absolute;
  top: 1.2rem;
  right: 2.4rem;
  transform: rotate(55deg);
}
.wrapPage .contentReco .recoTest .imgLiBot {
  position: absolute;
  top: -0.6rem;
  left: 2.4rem;
  transform: rotate(55deg);
}
.wrapPage .contentReco .recoTest .imgRiBot {
  position: absolute;
  top: -0.6rem;
  right: 2.4rem;
  transform: rotate(-55deg);
}
.wrapPage .contentReco .recoTest .testRiTop {
  float: right;
}
.wrapPage .contentReco .recoTest .testRiTop .achieBraY {
  display: block;
  font-size: 0.48rem;
  text-align: center;
  font-weight: 600;
  color: #FFCC33;
}
.wrapPage .contentReco .recoTest .testRiTop .achieBraJ {
  display: block;
  font-size: 0.48rem;
  text-align: center;
  font-weight: 600;
  color: #0099FF;
}
.wrapPage .contentReco .recoDiv {
  width: 100%;
  height: 2.5rem;
  position: relative;
}
.wrapPage .contentReco .recoDiv .recoDivImg {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapPage .contentReco .recoDiv .recoDivImg .recoImg {
  width: 1.6rem;
  height: 1.6rem;
  border: 0.05333333rem solid #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.wrapPage .contentReco .recoBot {
  width: 100%;
  position: relative;
}
.wrapPage .contentReco .recoBot .imgrecoTxt {
  position: absolute;
  top: -1.2rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.wrapPage .contentReco .recoBot .recoTxt {
  text-align: center;
  font-size: 0.4rem;
  color: #333333;
  padding: 1.33333333rem 0 0 0;
}
.wrapPage .contentReco .recoBot .recoTxt span {
  font-size: 0.48rem;
  color: #FF9933;
}
.wrapPage .contentReco .recoTime,
.wrapPage .contentReco .recoTerm {
  width: 100%;
  min-height: 0.6rem;
  background: url(../img/u1072.png) no-repeat left center;
  background-size: 7%;
  padding-left: 0.66666667rem;
  padding-top: 0;
  color: #333333;
  line-height: 0.7rem;
}
.wrapPage .contentReco .recoTime span,
.wrapPage .contentReco .recoTerm span {
  color: #ff9933;
}
.wrapPage .contentReco .recoTerm {
  background: url(../img/u2672.png) no-repeat left center;
  background-size: 4.5%;
  margin-left: 0.1rem;
  padding-left: 0.57rem;
}
.wrapPage .contentReco .recoSubLe {
  float: left;
  width: 20%;
}
.wrapPage .contentReco .recoSubLe p {
  font-size: 0.45333333rem;
  padding: 0 0.26666667rem;
  border-right: 1px solid #f2f2f2;
}
.wrapPage .contentReco .recoSubLe .lang {
  padding: 0.26666667rem 0.26666667rem;
}
.wrapPage .contentReco .recoSubRi {
  float: left;
  width: 80%;
  padding-left: 0.4rem;
  margin-top: 0.05rem;
}
.wrapPage .contentReco .recoSubRi p {
  float: left;
  width: 50%;
  padding-top: 0;
  color: #333333;
  margin-top: 0.21333333rem;
}
.wrapPage .contentReco .recoSubRi .subMar {
  margin-top: 0;
}
.wrapPage .contentReco .recoSubRi .subLan {
  width: 100%;
}
.wrapPage .shadoweBtn {
  width: 60%;
  display: block;
  padding: 0.21333333rem 0;
  margin: 0.7rem auto 0.4rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #fff;
  border: 0.02666667rem solid #ff9900;
  color: #ff9900;
  font-size: 0.4rem;
}
.wrapPage .shaDetBtn {
	 text-align: center;
	 font-size: 0.3rem;
	 color: #949494;
	 padding-bottom: 0.5rem;
}
.wrapPage .lifeBottom {
  width: 100%;
  max-width: 540px;
  height: 1.5rem;
  margin-top: 0.4rem;
  line-height: 1.4rem;
  border-top: 0.02666667rem solid #e3e2e1;
  padding: 0 0.4rem 0;
  font-size: 0.38rem;
}
.wrapPage .lifeBottom .navLeft {
  float: left;
  background: url(/res/img/prekindergarten/lifetable/u2307.png) no-repeat left center;
  background-size: 35%;
  padding-left: 0.53333333rem;
}
.wrapPage .lifeBottom .navRight {
  float: right;
  background: url(/res/img/prekindergarten/lifetable/u2744.png) no-repeat right center;
  background-size: 18%;
  padding-right: 0.53333333rem;
}
