.coverLayer {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
.coverLayer .layerText {
  text-align: center;
  padding: 3rem 0 1rem;
  font-size: 0.38rem;
  color: #fff;
}
@keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateY(-100%);
    transform: translateX(-100%);
  }
}
.coverLayer .layerImg {
  display: block;
  width: 30%;
  margin-left: 5rem;
  animation: moveToLeft ease-in-out 1.5s infinite alternate;
}
.coverLayer .layerBtn {
  width: 50%;
  padding: 0.2rem 0;
  margin: 3rem auto 0.4rem;
  text-align: center;
  max-width: 540px;
  -webkit-border-radius: 0.13333333rem;
  -moz-border-radius: 0.13333333rem;
  -ms-border-radius: 0.13333333rem;
  border-radius: 0.13333333rem;
  border: 0.02666667rem solid #fff;
}
.coverLayer .layerBtn a {
  color: #fff;
  font-size: 0.4rem;
}
.menuDiv {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.05);
}
.menuDiv .shareBox {
  width: 80%;
  height: 100%;
  padding-left: 0.26666667rem;
  background-color: #fff;
  position: relative;
  left: -5rem;
  padding-top: 0.26666667rem;
}
.menuDiv .shareBox .shareHeader {
  width: 100%;
  padding: 0 0.4rem;
  border-bottom: 0.02666667rem solid #f2f2f2;
  color: #333;
}
.menuDiv .shareBox .shareHeader h3 {
  font-size: 0.44rem;
  padding: 0.26666667rem 0;
}
.menuDiv .shareBox .shareHeader h3 span {
  font-size: 0.34rem;
  color: #A1A1A1;
}
.menuDiv .shareBox .shareHeader .navLeft {
  float: left;
  line-height: 1rem;
  width: 50%;
  background: url('/res/img/prekindergarten/lifetable/u7421.png') no-repeat left center;
  background-size: 15%;
  padding-left: 0.8rem;
  font-size: 0.38rem;
  color: #333;
}
.menuDiv .shareBox .shareHeader .shareSurface {
  background: url('/res/img/prekindergarten/lifetable/u7465.png') no-repeat left center;
  background-size: 15%;
  padding-left: 0.8rem;
}
.menuDiv .shareBox .shareHeader .timeTable {
  background: url('/res/img/prekindergarten/lifetable/u7467.png') no-repeat left center;
  background-size: 15%;
  padding-left: 0.8rem;
}
.menuDiv .shareBox .shareHeader .navImg {
  line-height: 1rem;
  width: 50%;
  font-size: 0.38rem;
  color: #333;
  background: url('/res/img/prekindergarten/lifetable/u2666.png') no-repeat left center;
  background-size: 15%;
  padding-left: 0.8rem;
}
.menuDiv .shareBox .shareHeader .navRight {
  float: right;
  width: 50%;
  line-height: 1rem;
}
.menuDiv .shareBox .shareHeader .navRight span {
  margin-left: 88%;
}
.menuDiv .shareBox .shareHeader .navRight img {
  width: 15%;
  margin-left: 83%;
}
.menuDiv .shareBox .shareHeader .card {
  width: 100%;
  padding-left: 0.8rem;
  text-align: left;
  color: #AEAEAE;
  font-size: 0.34rem;
}
.menuDiv .shareBox .shareHeader .navText {
  padding-left: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 0.1rem;
}
.menuDiv .shareBox .shareHeader .navText p {
  font-size: 0.34rem;
  padding: 0 0 0.4rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrap {
  width: 100%;
  max-width: 540px;
  position: relative;
}
.wrap .public {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap .public .slideHeader {
  width: 100%;
  height: 1.33333333rem;
  font-size: 0.36rem;
  padding: 0.3rem;
  color: #434343;
}
.wrap .public .slideHeader .headerLfet e {
  color: #FF9933;
}
.wrap .public .slideHeader .navLeft {
  background: url('/res/img/prekindergarten/lifetable/u2640.png') no-repeat left center;
  background-size: 20%;
  padding-left: 0.6rem;
  font-size: 0.38rem;
}
.wrap .public .slide {
  width: 7.8rem;
  height: 11rem;
  margin-top: 1rem;
}
.wrap .public .slide .slideContent {
  height: 10rem;
  width: 100%;
  background-color: #FFFFFF;
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -ms-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
}
.wrap .public .slide .slideContent .ContentList {
  width: 100%;
  height: 10rem;
  margin: 0.8rem auto 0;
  background-color: #fffcfd;
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -ms-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
  position: relative;
}
.wrap .public .slide .slideContent .ContentList .contentImg {
  width: 7rem;
  height: 2.65rem;
  display: block;
  position: absolute;
  top: -0.8rem;
  left: 50%;
  margin-left: -3.5rem;
}
.wrap .public .slide .slideContent .ContentList .contentTask {
  padding: 2.1rem 0.48rem;
  height: 9.13rem;
  position: relative;
  overflow: hidden;
}
.wrap .public .slide .slideContent .ContentList .contentTask h2 {
  font-size: 0.42rem;
  font-weight: bold;
  color: #333;
  padding: 0.1rem 0 0.1rem;
  display: table-cell;
  vertical-align: bottom;
}
.wrap .public .slide .slideContent .ContentList .contentTask h2 span {
  font-size: 0.4rem;
  padding-top: 0.05rem;
}
.wrap .public .slide .slideContent .ContentList .contentTask .contentTaskTitle li {
  width: 100%;
  position: relative;
}
.wrap .public .slide .slideContent .ContentList .contentTask .contentTaskTitle li div {
  width: 0.21333333rem;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.08rem;
}
.wrap .public .slide .slideContent .ContentList .contentTask .contentTaskTitle li h3 {
  padding-top: 0.1rem;
  font-size: 0.32rem;
}
.wrap .public .slide .slideContent .ContentList .contentTask .contentTaskDetail {
  color: #A1A1A1;
  font-size: 0.3rem;
  line-height: 0.6rem;
}
.wrap .public .slide .slideContent .ContentList .contentBot {
  width: 100%;
  font-size: 0.32rem;
  color: #333;
  height: 2.3rem;
  text-align: center;
  color: #f59268;
  position: absolute;
  bottom: 0;
  padding-top: 1.7rem;
  -webkit-border-radius: 0 0 0.21333333rem 0.21333333rem;
  -moz-border-radius: 0 0 0.21333333rem 0.21333333rem;
  -ms-border-radius: 0 0 0.21333333rem 0.21333333rem;
  border-radius: 0 0 0.21333333rem 0.21333333rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.9));
}
.wrap .public .slide .slideContent .ContentList .commentCon {
  width: 90%;
  height: 7.5rem;
  max-width: 540px;
  background-color: #fff;
  position: absolute;
  top: 2.1rem;
  left: 50%;
  padding: 0.26666667rem;
  transform: translate(-50%, 0);
  overflow: hidden;
  border: 0.02666667rem solid #ffcc00;
  -webkit-border-radius: 0.21333333rem 0.21333333rem 0.21333333rem 0.21333333rem;
  -moz-border-radius: 0.21333333rem 0.21333333rem 0.21333333rem 0.21333333rem;
  -o-border-radius: 0.21333333rem 0.21333333rem 0.21333333rem 0.21333333rem;
  border-radius: 0.21333333rem 0.21333333rem 0.21333333rem 0.21333333rem;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
}
.wrap .public .slide .slideContent .ContentList .commentCon .contentTxt {
  background: url(../img/u3498.png) no-repeat left 0.15rem;
  background-size: 4%;
  padding-left: 0.4rem;
  font-size: 0.3rem;
  color: #333;
  font-weight: bold;
  line-height: 0.6rem;
}
.wrap .public .slide .slideContent .ContentList .commentBot {
  position: absolute;
  bottom: 0;
  text-align: center;
}
.wrap .public .slide .slideContent .aloneHome {
  width: 100%;
}
.wrap .public .slide .slideContent .aloneHome .homeTop {
  height: 4.5rem;
  padding: 1.1rem 0;
}
.wrap .public .slide .slideContent .aloneHome .homeTop img {
  float: left;
  width: 2.3rem;
  height: 2.3rem;
  margin-left: -0.5rem;
}
.wrap .public .slide .slideContent .aloneHome .homeTop .topText {
  float: left;
  padding: 0.13333333rem 0.4rem 0;
}
.wrap .public .slide .slideContent .aloneHome .homeTop .topText p {
  padding-bottom: 0.26666667rem;
}
.wrap .public .slide .slideContent .aloneHome .homeTop .topText .textName {
  font-size: 0.4rem;
  color: #FF9933;
}
.wrap .public .slide .slideContent .aloneHome .homeTop .topText .textBaby {
  font-size: 0.3rem;
  color: #5E5E5E;
}
.wrap .public .slide .slideContent .aloneHome .homeTop .topText .textBaby1 {
  font-size: 0.34rem;
  color: #5E5E5E;
}
.wrap .public .slide .slideContent .aloneHome .homeBottom {
	height: 5.5rem;
	background-color: #f2f2f2;
	padding: 0.66666667rem 0.4rem 0;
}
.wrap .public .slide .slideContent .aloneHome .homeBottom p {
	 font-size: 0.34rem;
	 padding-top: 0.26666667rem;
	 line-height: 0.6rem;
	 color: #5E5E5E;
}
.wrap .public .slide .slideContent .aloneShadowe {
  padding: 1rem 0.66666667rem;
}
.wrap .public .slide .slideContent .aloneShadowe .shadoweTitle {
  font-size: 0.5rem;
  text-align: center;
  font-weight: bold;
}
.wrap .public .slide .slideContent .aloneShadowe .shadoweText {
  padding-top: 0.53333333rem;
  font-size: 0.38rem;
  color: #333;
  line-height: 0.6rem;
}
.wrap .public .slide .slideContent .aloneShadowe ul {
  padding-top: 0.3rem;
  color: #333;
  font-size: 0.36rem;
}
.wrap .public .slide .slideContent .aloneShadowe .shadoweBtnP {
  padding-top: 1rem;
  font-size: 0.32rem;
  color: #949494;
}
.wrap .public .slide .slideContent .aloneShadowe .shadoweBtn {
  width: 75%;
  display: block;
  padding: 0.21333333rem 0;
  margin: 0.7rem auto 0.4rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #fff;
  border: 0.02666667rem solid #ff9900;
  color: #ff9900;
  font-size: 0.4rem;
}
.wrap .public .slide .slideContentTask {
  width: 100%;
  background-color: #FFFFFF;
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -ms-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
}
.wrap .public .slide .slideContentTask .ContentList {
  padding: 3rem 0.6rem 1rem 0.7rem;
}
.wrap .public .slide .slideContentTask .ContentList .contentDiv .leftImg {
  width: 15%;
}
.wrap .public .slide .slideContentTask .ContentList .contentDiv .leftImg .img1 {
  width: 0.6rem;
}
.wrap .public .slide .slideContentTask .ContentList .contentDiv .leftImg .img2 {
  display: block;
  width: 0.2rem;
  margin-top: 0.3rem;
  transform: translateX(0.8rem);
}
.wrap .public .slide .slideContentTask .ContentList .contentDiv .leftImg .img3 {
  width: 0.2rem;
  transform: translateX(0.2rem) translateY(0.5rem);
}
.wrap .public .slide .slideContentTask .ContentList .contentDiv .listText {
  width: 65%;
  padding-top: 0.2rem;
  margin: 0 auto;
  text-align: center;
  padding-left: 0.25rem;
  letter-spacing: 0.08rem;
}
.wrap .public .slide .slideContentTask .ContentList .contentDiv .listText .txt1 {
  font-size: 0.5rem;
  font-weight: 800;
}
.wrap .public .slide .slideContentTask .ContentList .contentDiv .listText .txt2 {
  font-size: 0.4rem;
  padding-top: 0.2rem;
  font-weight: 800;
}
.wrap .public .slide .slideContentTask .ContentList .contentDiv .rightImg {
  width: 20%;
}
.wrap .public .slide .slideContentTask .ContentList .contentDiv .rightImg .img1 {
  width: 0.3rem;
  transform: translateX(0.8rem);
}
.wrap .public .slide .slideContentTask .ContentList .contentDiv .rightImg .img2 {
  display: block;
  width: 0.2rem;
  margin-top: 0.3rem;
  transform: translateX(0.2rem) translateY(0.1rem);
}
.wrap .public .slide .slideContentTask .ContentList .contentDiv .rightImg .img3 {
  width: 0.4rem;
  transform: translateX(0.8rem) translateY(0.6rem);
}
.wrap .public .slide .slideContentTask .ContentList .listClick {
  margin-top: 0.8rem;
  font-size: 0.3rem;
  color: #BCBCBC;
  text-align: center;
}
.wrap .public .slide .slideContentTask .ContentList .showBtn {
  width: 75%;
  display: block;
  padding: 0.21333333rem 0;
  margin: 2rem auto 0.4rem;
  text-align: center;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #ff9900;
  color: #fff;
  font-size: 0.4rem;
}
.wrap .public .headerRight {
  color: #868686;
  padding-top: 0.4rem;
  text-align: center;
}
.wrap .public .headerRight span {
  color: #FF9933;
}
.wrap .public .slideFooter {
  margin-top: 1.5rem;
  text-align: center;
  color: #AEAEAE;
  padding-bottom: 0.5rem;
}
.wrap .public .slideBot {
  margin: 0.3rem auto;
  text-align: center;
}
.wrap .public .slideBot p {
  font-size: 0.3rem;
  transform: scale(0.9);
  color: #C9C9C9;
}
.wrap .public .slideBot .planJoin {
  width: 60%;
  padding: 0.16rem 0;
  margin: 0.6rem auto 0.4rem;
  text-align: center;
  max-width: 540px;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #ff9900;
}
.wrap .public .slideBot .planJoin a {
  color: #fff;
  font-size: 0.4rem;
}
.wrap .comment {
  width: 100%;
}
.wrap .comment .commentDetails {
  width: 100%;
}
.wrap .comment .commentDetails .ContentList {
  width: 100%;
}
.wrap .comment .commentDetails .ContentList .listDiv {
  padding: 1rem 0.8rem 0.8rem 1rem;
}
.wrap .comment .commentDetails .ContentList .listDiv .leftImg {
  width: 15%;
}
.wrap .comment .commentDetails .ContentList .listDiv .leftImg .img1 {
  width: 0.6rem;
}
.wrap .comment .commentDetails .ContentList .listDiv .leftImg .img2 {
  display: block;
  width: 0.2rem;
  margin-top: 0.3rem;
  transform: translateX(0.8rem);
}
.wrap .comment .commentDetails .ContentList .listDiv .leftImg .img3 {
  width: 0.2rem;
  transform: translateX(0.2rem) translateY(0.5rem);
}
.wrap .comment .commentDetails .ContentList .listDiv .listText {
  width: 65%;
  margin: 0 auto;
  padding-top: 0.2rem;
  text-align: center;
  letter-spacing: 0.08rem;
}
.wrap .comment .commentDetails .ContentList .listDiv .listText .txt1 {
  font-size: 0.52rem;
  font-weight: 800;
}
.wrap .comment .commentDetails .ContentList .listDiv .listText .txt2 {
  font-size: 0.42rem;
  padding-top: 0.2rem;
}
.wrap .comment .commentDetails .ContentList .listDiv .rightImg {
  width: 20%;
}
.wrap .comment .commentDetails .ContentList .listDiv .rightImg .img1 {
  width: 0.3rem;
  transform: translateX(0.8rem);
}
.wrap .comment .commentDetails .ContentList .listDiv .rightImg .img2 {
  display: block;
  width: 0.2rem;
  margin-top: 0.3rem;
  transform: translateX(0.2rem) translateY(0.1rem);
}
.wrap .comment .commentDetails .ContentList .listDiv .rightImg .img3 {
  width: 0.4rem;
  transform: translateX(0.8rem) translateY(0.6rem);
}
.wrap .comment .commentDetails .ContentList .commentCon {
  width: 92%;
  margin: 0 auto;
  border-top: 0.02666667rem solid #ff9933;
  padding: 0.53333333rem 0.66666667rem;
}
.wrap .comment .commentDetails .ContentList .commentCon .tear {
  font-size: 0.4rem;
  color: #FF9933;
  padding-bottom: 0.2rem;
  font-weight: bold;
}
.wrap .comment .commentDetails .ContentList .commentCon .contentD .dot {
  width: 0.18rem;
  height: 0.18rem;
  margin-top: 0.15rem;
  background-color: #FF9933;
  border-radius: 50%;
}
.wrap .comment .commentDetails .ContentList .commentCon .contentD .contentTxt {
  padding-left: 0.48rem;
  line-height: 0.5rem;
  font-size: 0.38rem;
  color: #333;
  margin-bottom: 0.2rem;
}
.wrap .comment .commentDetails .ContentList .planJoin {
  display: block;
  width: 60%;
  padding: 0.16rem 0;
  margin: 0.1rem auto 0.4rem;
  text-align: center;
  max-width: 540px;
  -webkit-border-radius: 1.33333333rem;
  -moz-border-radius: 1.33333333rem;
  -ms-border-radius: 1.33333333rem;
  border-radius: 1.33333333rem;
  background-color: #ff9900;
  color: #fff;
  font-size: 0.4rem;
}
.wrap .comment .commentDetails .ContentList .commentBtm {
  text-align: center;
  font-size: 0.3rem;
  color: #949494;
}
.wrap .comment .commentDetails .ContentList .lifeBottom {
  width: 100%;
  max-width: 540px;
  height: 1.5rem;
  margin-top: 0.4rem;
  line-height: 1.4rem;
  border-top: 0.02666667rem solid #e3e2e1;
  padding: 0 0.4rem 0;
  font-size: 0.38rem;
}
.wrap .comment .commentDetails .ContentList .lifeBottom .navLeft {
  float: left;
  background: url(/res/img/prekindergarten/lifetable/u2307.png) no-repeat left center;
  background-size: 35%;
  padding-left: 0.53333333rem;
}
.wrap .comment .commentDetails .ContentList .lifeBottom .navRight {
  float: right;
  background: url(/res/img/prekindergarten/lifetable/u2744.png) no-repeat right center;
  background-size: 18%;
  padding-right: 0.53333333rem;
}
