.wrap {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap .headerImg {
  width: 100%;
  margin: 0 auto;
  padding: 0.8rem 0.53333333rem 0.1rem;
}
.wrap .headerImg .welTitle {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.wrap .headerImg .webArr {
  width: 13%;
  transform: rotate(-100deg);
}
.wrap .subtitle {
  font-size: 0.44rem;
  font-weight: bold;
  color: #530700;
  text-align: center;
  padding-top: 0.3rem;
}
.wrap .welContent {
  width: 100%;
  margin: 0.8rem auto 0;
  position: relative;
}
.wrap .welContent .dottedLeft {
  width: 6.5%;
  position: absolute;
  top: -2rem;
  right: 0.25rem;
}
.wrap .welContent .dottedRight {
  width: 6%;
  position: absolute;
  top: 50%;
  left: 0.15rem;
  transform: translate(0, -50%);
}
.wrap .welContent .welMess {
  width: 95%;
  margin: 0 auto;
  min-height: 10rem;
  border: 0.05333333rem solid #F09031;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
  position: relative;
}
.wrap .welContent .welMess .recoDivImg {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  position: absolute;
  top: -0.8rem;
  left: 0.5rem;
}
.wrap .welContent .welMess .recoDivImg .recoImg {
  width: 1.6rem;
  height: 1.6rem;
  border: 0.05333333rem solid #F09031;
  border-radius: 50%;
}
.wrap .welContent .welMess .messImg {
  width: 1.1rem;
  float: right;
  padding: 0.26666667rem 0.26666667rem 0;
}
.wrap .welContent .welMess .messBaby {
  display: block;
  padding: 1.2rem 0 0;
  color: #F09031;
  font-size: 0.38rem;
  padding-left: 0.5rem;
}
.wrap .welContent .welMess .messText {
  padding: 0.3rem 0.5rem 0.3rem;
  line-height: 0.6rem;
  font-size: 0.36rem;
  color: #434343;
}
.wrap .welContent .welMess .messText .text1 {
  text-indent: 0.8rem;
}
.wrap .welContent .welMess .messText .text1 .txtSpan {
  display: block;
  text-indent: 0.8rem;
}
.wrap .welContent .welMess .messText .textBtn {
  text-align: right;
  font-size: 0.3rem;
  color: #797979;
  padding: 0.5rem 0 0;
}
.wrap .welContent .welMess .line {
  width: 95%;
  margin: 0 auto;
}
.wrap .welContent .welMess .line ul {
  width: 100%;
  height: 0.5rem;
  padding-left: 0.2rem;
}
.wrap .welContent .welMess .line ul li {
  float: left;
  width: 5%;
  height: 0.4rem;
  background: #F09031;
  border-radius: 50%;
  margin-right: 0.1rem;
  position: relative;
}
.wrap .welContent .welMess .line ul li .lineTop {
  width: 100%;
  height: 0.25rem;
  position: absolute;
  bottom: 0;
  background-color: #fff;
}
.wrap .welContent .welMess .knowTitle {
  font-size: 0.4rem;
  padding-left: 0.5rem;
  font-weight: 600;
}
.wrap .welContent .welMess .modeImg {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.wrap .welContent .welMess .messReply {
  width: 100%;
  padding: 0 0.5rem;
  color: #333;
}
.wrap .welContent .welMess .messReply .sak {
  display: block;
  font-size: 0.38rem;
  background: url('../../img/prekindergarten/wel/u3081.png') no-repeat left center;
  background-size: 0.4rem;
  padding-left: 0.53333333rem;
}
.wrap .welContent .welMess .messReply .answer {
  margin-left: 0.5rem;
  padding: 0.4rem 0 0.5rem 0;
  font-size: 0.36rem;
  line-height: 0.6rem;
  background: url('../../img/prekindergarten/wel/u3077.png') no-repeat left 0.55rem;
  background-size: 0.4rem;
  padding-left: 0.53333333rem;
}
.wrap .welContent .welMess .recommendPark {
  width: 100%;
  height: auto;
  min-height: 3rem;
  padding: 0 0.26666667rem;
}
.wrap .welContent .welMess .recommendPark h4 {
  font-size: 0.46rem;
  color: #333333;
}
.wrap .welContent .welMess .recommendPark .reason {
  font-size: 0.34rem;
  line-height: 0.6rem;
  padding-top: 0.3rem;
  background: url(../../img/prekindergarten/wel/u439.png) no-repeat left 0.2rem;
  padding-left: 0.8rem;
  background-size: 0.6rem;
}
.wrap .welContent .welMess .messBtn {
  text-align: center;
  padding: 0 0 0.26666667rem;
  color: #FF9933;
  font-size: 0.44rem;
  font-weight: bold;
}
.wrap .welContent .welMess .btnJoin {
  width: 70%;
  margin: 0.5rem auto;
  text-align: center;
  padding: 0.2rem 0;
  background-color: #FF9933;
  border-radius: 1.33333333rem 1.33333333rem;
}
.wrap .welContent .welMess .btnJoin a {
  color: #fff;
  font-size: 0.36rem;
}
.wrap .welBottom {
  padding: 0.53333333rem 0.8rem 0.4rem;
}
.wrap .welBottom .prompt {
  font-size: 0.38rem;
  color: #0099FF;
  background: url('../../img/prekindergarten/wel/u3171.png') no-repeat left center;
  background-size: 0.5rem;
  padding-left: 0.66666667rem;
}
.wrap .welBottom p {
  padding-top: 0.3rem;
  color: #515151;
  font-size: 0.3rem;
  line-height: 0.6rem;
}
.wrap .botCode {
  width: 100%;
}
.wrap .botCode .code {
  width: 30%;
}
.wrap .botCode .botRight {
  padding-left: 0.26666667rem;
}
.wrap .botCode .botRight .rightPress {
  font-size: 0.3rem;
  color: #949494;
  min-height: 1rem;
  margin-top: 0.4rem;
  background: url('../../img/prekindergarten/wel/u3183.png') no-repeat left center;
  background-size: 1rem;
  padding-left: 1.2rem;
}
.wrap .botCode .botRight .rightFollow {
  font-size: 0.38rem;
  color: #333;
  font-weight: bold;
  padding-top: 0.53333333rem;
}
