@import "../base.css";
.body,
html {
  max-width: 540px;
  margin: 0 auto;
}
.w_page_two {
  width: 100%;
  height: 100%;
}
.w_page_two .page_bgtwo {
  width: 10rem;
  height: 17.78125rem;
  background: url("../../../img/anniversary/homepage/z_bg.png") no-repeat;
  background-size: cover;
  position: relative;
}
.w_page_two .page_bgtwo .page_two_top {
  width: 100%;
  height: 0.546875rem;
}
.w_page_two .page_bgtwo .page_two_top img {
  width: 5.140625rem;
  height: 0.546875rem;
  position: absolute;
  top: 1.5625rem;
  left: 50%;
  margin-left: -2.578125rem;
}
.w_page_two .page_bgtwo .page_two_top .line_w {
  width: 7.53125rem;
  height: 0.0625rem;
  background-color: #fff;
  position: absolute;
  top: 2.625rem;
  left: 50%;
  margin-left: -3.765625rem;
}
.w_page_two .page_bgtwo .page_two_content {
  position: relative;
}
.w_page_two .page_bgtwo .page_two_content .content_left {
  height: 10.109375rem;
  position: absolute;
  top: 2.34375rem;
}
.w_page_two .page_bgtwo .page_two_content .content_left img {
  width: 0.078125rem;
  height: 10.109375rem;
  position: absolute;
  top: 0.9375rem;
  left: 1rem;
  z-index: 2;
}
.w_page_two .page_bgtwo .page_two_content .content_left ul {
  width: 0.34375rem;
  height: 10.109375rem;
}
.w_page_two .page_bgtwo .page_two_content .content_left ul li {
  width: 0.34375rem;
  height: 0.34375rem;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 1.28125rem;
  margin-top: 0.9375rem;
  margin-left: 0.859375rem;
  position: relative;
  -webkit-box-shadow: 1px -1px 3px 1px #fff;
  -moz-box-shadow: 1px -1px 3px 1px #fff;
  -o-box-shadow: 1px -1px 3px 1px #fff;
  box-shadow: 1px -1px 3px 1px #fff;
  z-index: 2;
}
.w_page_two .page_bgtwo .page_two_content .content_right {
  width: 7.75rem;
  height: 7.875rem;
}
.w_page_two .page_bgtwo .page_two_content .content_right ul {
  width: 7.75rem;
  height: 7.875rem;
  position: relative;
}
.w_page_two .page_bgtwo .page_two_content .content_right ul li {
  width: 7.75rem;
  height: 1.125rem;
}
.w_page_two .page_bgtwo .page_two_content .content_right ul li img {
  width: 7.75rem;
  height: 1.125rem;
}
.w_page_two .page_bgtwo .page_two_content .content_right ul li .font_one {
  position: absolute;
  top: 3.125rem;
  left: 1.5625rem;
}
.w_page_two .page_bgtwo .page_two_content .content_right ul li .font_two {
  position: absolute;
  top: 4.6875rem;
  left: 1.5625rem;
}
.w_page_two .page_bgtwo .page_two_content .content_right ul li .font_three {
  position: absolute;
  top: 6.40625rem;
  left: 1.5625rem;
}
.w_page_two .page_bgtwo .page_two_content .content_right ul li .font_four {
  width: 7.515625rem;
  height: 0.40625rem;
  position: absolute;
  top: 8.03125rem;
  left: 1.5625rem;
}
.w_page_two .page_bgtwo .page_two_content .content_right ul li .font_five {
  width: 7.21875rem;
  height: 1.15625rem;
  position: absolute;
  top: 9.5rem;
  left: 1.5625rem;
  z-index: 3;
}
.w_page_two .page_bgtwo .page_two_content .content_right ul li .font_six {
  position: absolute;
  top: 11.21875rem;
  left: 1.5625rem;
  z-index: 3;
}
.w_page_two .page_bgtwo .page_two_content .content_right ul li .font_seven {
  position: absolute;
  top: 12.78125rem;
  left: 1.5625rem;
  z-index: 3;
}
.w_page_two .page_bgtwo .footer_arrow {
  width: 1.09375rem;
  height: 1.09375rem;
}
.w_page_two .page_bgtwo .footer_arrow a {
  display: block;
  width: 1.09375rem;
  height: 1.09375rem;
}
.w_page_two .page_bgtwo .footer_arrow a img {
  width: 1.09375rem;
  height: 1.09375rem;
  position: absolute;
  bottom: 0.3125rem;
  left: 4.296875rem;
}
