@import "base.css";
@import "madia.css";
.body {
  max-width: 640px;
}
.wrap {
  width: 100%;
  max-width: 540px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap .homepage_bg {
  width: 10rem;
  height: 17.78125rem;
  background-size: cover;
  background: url("../../img/anniversary/homepage/z_bg.png") no-repeat;
}
.wrap .homepage_bg .header {
  position: relative;
  height: 1.84375rem;
  z-index: 10;
}
.wrap .homepage_bg .header img {
  width: 1.96875rem;
  height: 1.84375rem;
  position: absolute;
  top: 1.09375rem;
  left: 50%;
  margin-left: -1.09375rem;
  z-index: 10;
}
.wrap .homepage_bg .conter {
  position: relative;
  margin-top: 0.125rem;
}
.wrap .homepage_bg .conter .love {
  width: 4.6875rem;
  height: 1.875rem;
  position: absolute;
  top: 1.40625rem;
  left: 50%;
  margin-left: -1.875rem;
  z-index: 3;
}
.wrap .homepage_bg .conter .content_bg {
  width: 8.21875rem;
  height: 10.0625rem;
  position: absolute;
  top: -0.3125rem;
  left: 50%;
  margin-left: -4.109375rem;
  z-index: 2;
}
.wrap .homepage_bg .conter .goddess {
  width: 7.359375rem;
  height: 1.515625rem;
  position: absolute;
  top: 3.75rem;
  left: 50%;
  margin-left: -3.671875rem;
  z-index: 3;
}
.wrap .homepage_bg .conter .line_top,
.wrap .homepage_bg .conter .line_bottom {
  width: 6.625rem;
  height: 0.109375rem;
  background-color: #ea6037;
  border: 1px solid #ea6037;
  z-index: 2;
  -webkit-box-shadow: 1px -1px 1px 1px #edbcbd;
  -moz-box-shadow: 1px -1px 1px 1px #edbcbd;
  -ms-box-shadow: 1px -1px 1px 1px #edbcbd;
  -o-box-shadow: 1px -1px 1px 1px #edbcbd;
  box-shadow: 1px -1px 1px 1px #edbcbd;
}
.wrap .homepage_bg .conter .line_top {
  position: absolute;
  top: 6.546875rem;
  left: 50%;
  margin-left: -3.3125rem;
}
.wrap .homepage_bg .conter .line_bottom {
  position: absolute;
  top: 7.515625rem;
  left: 50%;
  margin-left: -3.3125rem;
}
.wrap .homepage_bg .conter .year {
  width: 5.0625rem;
  height: 0.546875rem;
  position: absolute;
  top: 6.75rem;
  left: 50%;
  margin-left: -2.53125rem;
  z-index: 2;
}
.wrap .homepage_bg .conter .num {
  width: 4.21875rem;
  height: 0.40625rem;
  position: absolute;
  top: 8.03125rem;
  left: 50%;
  margin-left: -2.109375rem;
  z-index: 2;
}
.wrap .homepage_bg .conter .heart_one {
  width: 8.734375rem;
  height: 8.6875rem;
  position: absolute;
  top: 2.078125rem;
  left: 50%;
  margin-left: -4.375rem;
}
.wrap .homepage_bg .conter .text_img {
  width: 10rem;
  height: 2.421875rem;
  margin-top: 10.9375rem;
}
