* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "微软雅黑", "PingFangSC-Light";
}
html {
  font-size: 40px;
}
html,
body {
  max-width: 540px;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #333;
}
img {
  display: inline;
  border: none;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
input,
textarea,
button {
  border: none;
  background: none;
  border-radius: 0;
  outline: none;
}
button,
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}
ul {
  list-style: none;
}
.els2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.max-width {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}
/*清楚浮动*/
.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow:hidden;
}
.clearfix {
    zoom: 1;
}

/*盒子布局*/
.box {
  display: box;
  display: -webkit-box;
  display: -moz-box;
}
.boxhor {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
}
.boxver {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}
.boxflex {
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
.packcenter {
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
}
/*图标样式*/
.icon-arrowr {
  display: inline-block;
  background: url("../img/common/arrow@2x.png") center center no-repeat;
  background-size: 6px 11px;
}
.icon-back {
  display: inline-block;
  background: url("../img/common/clear2@2x.png") center center no-repeat;
  background-size: 14px 14px;
}
.blockitem {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0.48rem 0.37333333rem;
  position: relative;
  overflow: auto;
  font-size: 0.4rem;
  line-height: 0.45333333rem;
  color: #333;
}
.blockitem:after {
  content: '';
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #f4f4f4;
}
.blockitem .name {
  float: left;
}
.blockitem .cont {
  overflow: hidden;
}
.blockitem .photo {
  width: 0.74666667rem;
  height: 0.74666667rem;
  overflow: hidden;
  position: absolute;
  right: 0.8rem;
  top: 50%;
  margin-top: -0.37333333rem;
  border-radius: 100%;
}
.blockitem .photo img {
  width: 100%;
  height: 100%;
}
.blockitem .arrow {
  width: 6px;
  height: 11px;
  display: inline-block;
  background: url("../img/common/arrow@2x.png") center center no-repeat;
  background-size: 6px 11px;
  position: absolute;
  right: 0.4rem;
  top: 50%;
  margin-top: -5px;
}
.blockitem .removearrow {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0.34666667rem;
  top: 50%;
  margin-top: -7px;
  background: url(../img/common/remove2@2x.png) center center no-repeat;
  background-size: 15px 15px;
}
.blockitem .txt,
.blockitem .txt2 {
  float: right;
  padding-left: 0.26666667rem;
}
.blockitem .txt2 {
  padding-right: 0.48rem;
}
.main {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  overflow: auto;
  border-bottom: 0.32rem solid #efeff4;
}
/*按钮样式*/
.centerBack {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  margin-top: 2.74666667rem;
  margin-bottom: 0.4rem;
  padding: 0 0.4rem;
}
.centerBack a {
  display: block;
  width: 100%;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  border: 1px solid #f4f4f4;
  border-radius: 0.05333333rem;
  text-align: center;
  font-size: 0.45333333rem;
  color: #999;
}
/*头部标题*/
.activityTitle {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  position: relative;
  padding: 0.34666667rem 0.8rem;
  background-color: #efeff4;
  font-size: 0.4rem;
  line-height: 0.45333333rem;
  font-weight: normal;
  text-align: center;
  color: #666;
}
.activityTitle .backBtn,
.activityTitle .backBtn2 {
  position: absolute;
  right: 0.4rem;
  top: 50%;
  margin-top: -7px;
}
/*文本样式*/
.txtyellow {
  color: #f5a623;
}
.txtgreen {
  color: #417505;
}
.txtgreen2 {
  color: #509503;
}
.txtorage {
  color: #f57123;
}
.txtred {
  color: #d0021b;
}
/*返回小叉按钮*/
.backBtn,
.backBtn2 {
  display: block;
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url("../img/common/clear2@2x.png") center center no-repeat;
  background-size: 14px 14px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.taggray {
  height: 0.56rem;
  line-height: 0.56rem;
  margin: 0 auto;
  background-color: #ccc;
  border-radius: 0.05333333rem;
  clear: both;
  text-align: center;
  font-size: 0.32rem;
  color: #fff;
}
/*列表样式1*/
.listitem {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0 0.4rem;
  overflow: auto;
}
.listitem .photo {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  line-height: 0.74666667rem;
  font-size: 0.32rem;
  color: #333;
}
.listitem .photo img {
  float: left;
  width: 0.74666667rem;
  height: 0.74666667rem;
  margin-right: 0.24rem;
  border-radius: 100%;
}
.listitem .taggray {
  width: 2rem;
  margin-top: 0.56rem;
}
.listitem .listcont {
  width: 7.09333333rem;
  margin-left: 1.2rem;
  margin-top: 0.13333333rem;
  position: relative;
  padding: 0.32rem 0.37333333rem;
  background-color: #f4f4f4;
  border-radius: 0.05333333rem;
  line-height: 0.50666667rem;
  font-size: 0.32rem;
  color: #333;
}
.listitem .listcont:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: -0.53333333rem;
  top: 0.21333333rem;
  border: 0.26666667rem solid transparent;
  border-right: 0.4rem solid #f4f4f4;
}
.miaoclassmetalk .photo {
  text-align: right;
}
.miaoclassmetalk .photo img {
  float: right;
  margin-left: 0.24rem;
}
.miaoclassmetalk .listcont {
  background-color: #7ed321;
}
.miaoclassmetalk .listcont:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: initial;
  right: -0.53333333rem;
  top: 0.21333333rem;
  border: 0.26666667rem solid transparent;
  border-left: 0.4rem solid #7ed321;
}
/*列表样式-活动列表-热招中*/
.actitem {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0.33333333rem 0.4rem;
  overflow: auto;
  border-bottom: 0.32rem solid #efeff4;
}
.actitem .img {
  float: left;
  width: 4rem;
  height: 2.61333333rem;
  overflow: hidden;
}
.actitem img {
  width: 100%;
  height: 100%;
}
.actitem .cont {
  height: 2.61333333rem;
  padding-left: 0.42666667rem;
  overflow: hidden;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}
.actitem .cont h2 {
  margin-bottom: 0.02666667rem;
  font-weight: normal;
  line-height: 0.53333333rem;
  text-indent: -0.18666667rem;
  font-size: 0.4rem;
  color: #666;
}
.actitem .cont p {
  font-size: 0.32rem;
  color: #999;
}
.actitem .cont .tag {
  display: block;
  margin-top: 0.13333333rem;
  text-align: right;
  font-size: 0.34666667rem;
  clear: both;
}
.actitem .cont .txttag {
  margin-top: 0.13333333rem;
  font-size: 0.34666667rem;
}
.actitem:last-child {
  border: 0;
}
.tagbtn {
  width: 100%;
}
.tagbtn span {
  float: right;
  width: 1.41333333rem;
  height: 0.50666667rem;
  line-height: 0.52rem;
  margin-top: 0.10666667rem;
  text-align: center;
  font-size: 0.34666667rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.05333333rem;
}
.tagbtn .taggreen {
  border-color: #509503;
  color: #509503;
}
.tagbtn .taggrey {
  border-color: #999;
  color: #999;
}
.myactivity {
  display: block;
  width: 1.13333333rem;
  height: 1.13333333rem;
  padding: 0.13333333rem 0.24rem;
  overflow: hidden;
  background: #d0021b;
  border-radius: 100%;
  position: fixed;
  right: 0.4rem;
  bottom: 1.46666667rem;
  z-index: 99;
  font-size: 0.32rem;
  color: #fff;
}
.activityClass,
.activityList,
.activityListMy {
  overflow: auto;
  padding-bottom: 0.4rem;
}
.activityList {
  padding-bottom: 1.06666667rem;
}
.activityListMy {
  padding: 0;
  border-bottom: 0.32rem solid #efeff4;
}
.activityListMy .datetime {
  padding-left: 0.4rem;
  padding-top: 0.32rem;
  font-size: 0.32rem;
  color: #666;
}
.activityListMy .actitem {
  border-bottom: 1px solid #f4f4f4;
}
.activityListMy .actitem:last-child {
  border: 0;
}
.activityListMy:last-child {
  border: 0;
}
/*空页面*/
.actempty {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}
.actempty .actempty-icon {
  width: 159px;
  height: 170px;
  margin: 3.33333333rem auto 0 auto;
  background: url(../img/common/empt@2x.png) no-repeat;
  background-size: 159px 170px;
}
.actempty .actempty-word {
  margin-top: 0.69333333rem;
  text-align: center;
  line-height: 0.53333333rem;
  font-size: 0.4rem;
  color: #999;
}
.actempty .btnred {
  display: block;
  width: 4.53333333rem;
  height: 1.2rem;
  line-height: 1.2rem;
  margin: 0.58666667rem auto;
  background: #e51812;
  border-radius: 0.05333333rem;
  text-align: center;
  font-size: 0.48rem;
  color: #fff;
}
/*头部banner样式*/
.activityBanner {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  position: relative;
  background-size: 100% auto;
  background-position: left top;
  z-index: 1;
}
.activityBanner .banimg {
  position: relative;
  overflow: auto;
}
.activityBanner .banimg:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.activityBanner .rulebtn {
  display: block;
  width: 2.24rem;
  height: 0.58666667rem;
  line-height: 0.58666667rem;
  position: absolute;
  right: 0;
  top: 0.24rem;
  background-image: url(../img/common/ask@2x.png);
  background-color: rgba(238, 238, 238, 0.45);
  background-size: 11px 11px;
  background-repeat: no-repeat;
  background-position: 0.16rem center;
  border-top-left-radius: 0.10666667rem;
  border-bottom-left-radius: 0.10666667rem;
  text-indent: 0.58666667rem;
  font-size: 0.32rem;
  color: #666;
  z-index:99;
}
.activityBanner img {
  display: block;
  width: 100%;
}
.activityBanner .word,
.activityBanner .txt {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9;
  padding: 0 0.4rem 0.26666667rem 0.4rem;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.activityBanner .txt {
  padding-top: 4.26666667rem;
  overflow: auto;
  line-height: 0.53333333rem;
}
.activityBanner .txt2 {
  margin-top: -1.86666667rem;
  position: relative;
  z-index: 9;
  overflow: hidden;
  padding: 0 0.4rem 0.4rem 0.4rem;
}
.activityBanner .txt2:after {
  content: '';
  width: 100%;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 1.84rem;
  z-index: -1;
  background-color: #000;
}
.activityBanner .slidebtn {
  display: block;
  width: 18px;
  height: 8px;
  margin: 0.26666667rem auto 0 auto;
  background: url(../img/activity/arrow@2x.png) no-repeat;
  background-size: 18px 8px;
}
.activityBanner .slidebtnDown {
  -webkit-transform: rotate(-180deg);
}
.activityBanner h2,
.activityBanner h3 {
  font-size: 0.48rem;
  font-weight: normal;
  color: #fff;
}
.activityBanner h2 {
  text-indent: -0.24rem;
}
.activityBanner h3 {
  margin-top: 0.26666667rem;
}
.activityBanner p {
  min-height: 30px;
  margin-top: 0.13333333rem;
  font-size: 0.32rem;
  color: #fff;
}
.activityBanner .titbar {
  position: absolute;
  left: 0;
  top: 0.32rem;
  float: left;
  height: 0.56rem;
  line-height: 0.56rem;
  padding: 0 0.53333333rem;
  background: url(../img/activity/bar@2x.png) right center no-repeat;
  background-size: 100% 100%;
  text-align: center;
  font-size: 0.32rem;
  color: #fff;
}
.activityInfo {
  position: relative;
  z-index: 2;
  height: 1.6rem;
  margin-top: -0.14rem;
  margin-bottom: 0.32rem;
  padding: 0 0.4rem;
  line-height: 1.86666667rem;
  overflow: hidden;
  border-bottom: 1px solid #f4f4f4;
  font-size: 0.34666667rem;
}
.activityInfo .photo {
  float: left;
  width: 1.28rem;
  height: 1.28rem;
  margin-right: 0.26666667rem;
  border: 0.05333333rem solid #ffffff;
  border-radius: 100%;
}
.activityInfo .photo img {
  display: block;
  width: 100%;
  height: 100%;
}
.activityInfo .tag {
  float: right;
  color: #999;
}
.activityInfo .clockme {
  float: right;
  width: 1.46666667rem;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  margin-top: 0.64rem;
  background: url(../img/activity/clock@2x.png) 0.08rem center no-repeat;
  background-size: 12px 13px;
  background-color: #e51812;
  border-radius: 0.05333333rem;
  text-indent: 0.42666667rem;
  font-size: 0.32rem;
  color: #fff;
}
.activityWord {
  padding: 0 0.4rem 0.37333333rem 0.4rem;
  line-height: 0.42666667rem;
  border-bottom: 0.32rem solid #eeeeee;
  text-indent: 0.66666667rem;
  font-size: 0.32rem;
  color: #333;
}
.activityGB {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0.42666667rem 0.4rem;
  overflow: auto;
  background-color: #eee;
}
.activityGB .tit {
  float: left;
  padding-left: 20px;
  background: url(../img/common/notice@2x.png) left center no-repeat;
  background-size: 11px 11px;
  font-size: 0.32rem;
  color: #999;
}
.activityGB .marquee {
  padding-left: 0.08rem;
  overflow: hidden;
}
.activityGB marquee {
  float: left;
}
.activityGB a {
  float: left;
  font-size: 0.32rem;
  color: #5076a3;
}
.timelist {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0.56rem 0;
  height: 2.66666667rem;
  position: relative;
  border-bottom: 0.32rem solid #eeeeee;
  overflow-x: hidden;
}
.timelist .timelistBox {
  width: 100%;
  position: absolute;
  left: 0;
  overflow: auto;
}
.timelist ul {
  float: left;
  width: 100%;
}
.timelist li {
  float: left;
  width: 14.285%;
  position: relative;
  overflow: auto;
}
.timelist li:before {
  content: '';
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0.36rem;
  border-bottom: 1px solid #ccc;
}
.timelist .date {
  text-align: center;
  font-size: 0.32rem;
  color: #333;
}
.timelist .num {
  width: 0.72rem;
  height: 0.72rem;
  line-height: 0.72rem;
  margin: 0 auto;
  margin-top: 0.16rem;
  position: relative;
  z-index: 2;
  border-radius: 100%;
  background-color: #eee;
  text-align: center;
  font-size: 0.48rem;
  color: #666;
}
.timelist .num:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
}
.timelist .true .num:after {
  width: 10px;
  height: 8px;
  background: url(../img/common/right@2x.png) no-repeat;
  background-size: 10px 8px;
}
.timelist .false .num:after {
  width: 8px;
  height: 8px;
  background: url(../img/common/wrong@2x.png) no-repeat;
  background-size: 8px 8px;
}
.timelist .now .date {
  color: #f57123;
}
.timelist .now .num {
  background-color: #f57123;
  color: #fff;
}
.todayspeak {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0.34666667rem 0.4rem;
  line-height: 0.74666667rem;
  font-size: 0.34666667rem;
  color: #999;
}
.todayspeak .photo {
  float: left;
  width: 0.74666667rem;
  height: 0.74666667rem;
  overflow: hidden;
  margin-right: 0.26666667rem;
  border-radius: 100%;
}
.todayspeak .photo img {
  display: block;
  width: 100%;
  height: 100%;
}
.todayspeak .nextweek {
  float: right;
  padding-right: 12px;
  background: url(../img/common/arrow@2x.png) right center no-repeat;
  background-size: 6px 11px;
  font-size: 0.32rem;
  color: #f57123;
}
.todayspeak .word {
  text-align: center;
  font-size: 0.32rem;
  color: #666;
}
.todayspeak .audioItem {
  padding-left: 1.01333333rem;
}
.tabTit {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 0.96rem;
  line-height: 0.96rem;
  padding: 0 0.4rem;
  background-color: #eee;
  text-align: right;
  font-size: 0.34666667rem;
  color: #666;
}
.tabTit a {
  color: #666;
}
.tabTit span {
  margin-left: 0.26666667rem;
  margin-right: 0.13333333rem;
}
.workList {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding-bottom: 1.06666667rem;
  overflow: auto;
}
.workitem {
  padding: 0.66666667rem 0.4rem 0.42666667rem 0.4rem;
  overflow: auto;
  position: relative;
  border-bottom: 0.32rem solid #eeeeee;
}
.workitem .watermark {
  width: 3.86666667rem;
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  z-index: -1;
}
.workitem .photo {
  float: left;
  width: 0.74666667rem;
  height: 0.74666667rem;
  overflow: hidden;
  border-radius: 100%;
}
.workitem .photo img {
  display: block;
  width: 100%;
  height: 100%;
}
.workitem .mebinfo {
  padding-left: 0.24rem;
  overflow: auto;
  font-size: 0.32rem;
}
.workitem .other {
  color: #999;
}
.workitem .word {
  margin-top: 0.13333333rem;
  padding-left: 0.98666667rem;
  line-height: 0.53333333rem;
  font-size: 0.32rem;
  color: #666;
}
.workitem .img {
  margin-top: 0.26666667rem;
  padding-left: 0.98666667rem;
  overflow: auto;
}
.workitem .img img {
  display: block;
}
.workitem .imgone .imgitem {
  width: 3.8rem;
}
.workitem .imgone img {
  width: 100%;
}
.workitem .handle {
  margin-top: 0.24rem;
  padding-left: 0.98666667rem;
  line-height: 0.37333333rem;
  font-size: 0.32rem;
  color: #999;
}
.workitem .teachBtn {
  float: right;
  padding: 0.08rem 0.16rem;
  margin-top: -0.08rem;
  margin-left: 0.24rem;
  background-color: #f5a623;
  border-radius: 0.05333333rem;
  color: #fff;
}
.workitem .teachBtnGray {
  background-color: #ccc;
}
.workitem .vote {
  float: right;
  padding-left: 16px;
  background: url(../img/common/msg@2x.png) left center no-repeat;
  background-size: 13px 11px;
}
.workitem .zan {
  float: right;
  margin-right: 0.29333333rem;
  padding-left: 14px;
  background: url(../img/common/zan@2x.png) left center no-repeat;
  background-size: 10px 11px;
}
.workitem .teacherDP {
  margin-top: 0.46666667rem;
  padding-left: 0.98666667rem;
}
.workitem .teacherDP .cont {
  width: 100%;
  padding: 0.42666667rem;
  background-color: #ff9615;
  border-radius: 0.10666667rem;
}
.workitem .teacherDP .t {
  padding-left: 22px;
  background: url(../img/common/note@2x.png) left center no-repeat;
  background-size: 17px 14px;
  font-weight: 100;
  font-size: 0.4rem;
  line-height: 0.45333333rem;
  color: #fff;
}
.workitem .teacherDP p {
  margin-top: 0.18666667rem;
  line-height: 0.53333333rem;
  font-size: 0.34666667rem;
  color: #fff;
}
.workitem .meblist {
  padding-left: 0.98666667rem;
}
.workitem .meblist .cont {
  height: 1.04rem;
  margin-top: 0.42666667rem;
  padding: 0.13333333rem 0.26666667rem;
  background: #f4f4f4;
  border-radius: 0.10666667rem;
}
.workitem .meblist span {
  float: left;
  width: 12.5%;
  height: 0.78666667rem;
}
.workitem .meblist img {
  display: block;
  width: 0.78666667rem;
  height: 0.78666667rem;
  margin: 0 auto;
  border-raidus: 100%;
}
.workitem .meblist a {
  display: block;
  width: 0.78666667rem;
  height: 0.78666667rem;
  background: #e3e3e3 url(../img/common/point@2x.png) center center no-repeat;
  background-size: 10px 3px;
  border-radius: 100%;
}
.workitem .othervote {
  padding-left: 0.98666667rem;
  margin-top: 0.10666667rem;
}
.workitem .othervote .cont {
  background: #f4f4f4;
  border-radius: 0.10666667rem;
  line-height: 0.48rem;
  padding: 0.37333333rem 0.50666667rem;
  overflow: auto;
}
.workitem .othervote p {
  font-size: 0.32rem;
}
.workitem .viewmore {
  display: block;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  padding-left: ;
  text-align: center;
  font-size: 12px;
  color: #999;
}
.workitem .viewmore span {
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-left: 10px;
  vertical-align: -1px;
  background-image: url(../img/common/arrow2@2x.png);
  background-size: 16px 10px;
}
.workitem .viewmore .active {
  -webkit-transform: rotate(-180deg);
}
.workitem:last-child {
  border: 0;
}
.writeBtn {
  display: block;
  width: 44px;
  height: 44px;
  position: fixed;
  right: 0.4rem;
  bottom: 1.46666667rem;
  padding-top: 20px;
  background: url(../img/common/votebtn@2x.png) no-repeat;
  background-size: 44px 44px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
/*女神排行榜*/
.motherSort {
  padding: 0 0.4rem 1.06666667rem 0.4rem;
}
.motherSort .motherSortTit {
  padding: 0.4rem 0 0.4rem 21px;
  background: url(../img/activity/bang@2x.png) left center no-repeat;
  background-size: 14px 15px;
  font-size: 0.4rem;
  line-height: 0.45333333rem;
  color: #333;
}
.motherSort .motherSortTit .ruleBtn {
  float: right;
  padding-left: 14px;
  background: url(../img/common/ask@2x.png) left center no-repeat;
  background-size: 11px 11px;
  font-size: 0.32rem;
  color: #999;
}
.motherSortItem {
  width: 100%;
  height: 1.49333333rem;
  overflow: hidden;
  padding: 0.37333333rem 0;
  line-height: 0.74666667rem;
  border-top: 1px solid #f4f4f4;
  font-size: 0.32rem;
  color: #333;
}
.motherSortItem .title {
  float: right;
}
.motherSortItem .tagno {
  float: left;
  width: 21px;
  height: 28px;
  line-height: 24px;
  margin-right: 0.26666667rem;
  background-size: 21px 24px;
  background-repeat: no-repeat;
  background-position: left center;
  text-align: center;
  font-size: 15px;
  color: #e51812;
}
.motherSortItem .no1 {
  color: #fff;
  background-image: url(../img/activity/no1@2x.png);
}
.motherSortItem .no2 {
  color: #fff;
  background-image: url(../img/activity/no2@2x.png);
}
.motherSortItem .no3 {
  color: #fff;
  background-image: url(../img/activity/no3@2x.png);
}
.motherSortItem .photo {
  float: left;
  width: 0.74666667rem;
  height: 0.74666667rem;
  margin-right: 0.13333333rem;
  overflow: hidden;
  border-radius: 100%;
}
.motherSortItem .photo img {
  display: block;
  width: 100%;
  height: 100%;
}
.activityBigTit {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0 0.4rem;
  font-size: 0.34666667rem;
  color: #999;
}
.selfSubject {
  margin-bottom: 0.32rem;
  padding: 0.32rem 0.4rem 0.50666667rem 0.4rem;
  border-bottom: 1px solid #f4f4f4;
}
.selfSubject .name {
  text-align: center;
  font-size: 0.4rem;
  color: #666;
}
.selfSubject p {
  margin-top: 0.13333333rem;
  line-height: 0.64rem;
  text-align: center;
  font-size: 0.32rem;
  color: #333;
}
.subjectWord {
  margin-bottom: 0.32rem;
  padding: 0 0.4rem 0.32rem 0.4rem;
  border-bottom: 0.32rem solid #eeeeee;
}
.subjectWord p {
  margin-top: 0.42666667rem;
  line-height: 0.45333333rem;
  font-size: 0.32rem;
  color: #333;
}
.teamitem {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 0.32rem;
  padding: 0.4rem;
  overflow: auto;
  border-bottom: 0.32rem solid #eeeeee;
}
.teamitem .teamlist span {
  float: left;
  width: 0.78666667rem;
  height: 0.78666667rem;
  margin: 0 0.05333333rem;
  overflow: hidden;
  border-radius: 100%;
}
.teamitem .teamlist img {
  display: block;
  width: 100%;
  height: 100%;
}
.teamitem .teamlist i {
  float: left;
  margin-left: 0.05333333rem;
  line-height: 0.78666667rem;
  font-style: normal;
  font-size: 0.32rem;
  color: #666;
}
.loadmore {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0.18666667rem 0;
  height: 1.01333333rem;
  line-height: 0.64rem;
  border-top: 1px solid #f4f4f4;
  text-align: center;
  font-size: 0.32rem;
}
.loadmore a {
  line-height: 0.42666667rem;
  color: #999;
}
.border0 {
  border: 0;
}
.tabtop {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 1.09333333rem;
  line-height: 1.09333333rem;
}
.tabtop a {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  text-align: center;
  font-size: 0.42666667rem;
  color: #666;
}
.tabtop .active {
  color: #d0021b;
}
.tabtop .active:after {
  content: '';
  width: 70%;
  height: 0;
  position: absolute;
  left: 15%;
  bottom: 0;
  border-bottom: 0.05333333rem solid #d0021b;
}
.actlist {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding-bottom: 1.06666667rem;
  overflow: auto;
}
.actliteitem {
  width: 100%;
  position: relative;
  margin-bottom: 0.16rem;
  overflow: auto;
}
.actliteitem a {
  display: block;
  width: 100%;
}
.actliteitem img {
  display: block;
  width: 100%;
}
.actliteitem .tit {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0.96rem;
  z-index: 9;
  text-align: center;
  font-size: 0.4rem;
  color: #fff;
}
.actliteitem .tag {
  position: absolute;
  left: 0;
  top: 0.32rem;
  float: left;
  height: 0.56rem;
  line-height: 0.56rem;
  padding: 0 0.53333333rem;
  background: url(../img/activity/bar@2x.png) right center no-repeat;
  background-size: 100% 100%;
  text-align: center;
  font-size: 0.32rem;
  color: #fff;
}
.actliteitem .tagline {
  width: 7.36rem;
  line-height: 0.45333333rem;
  position: absolute;
  left: 50%;
  bottom: 0.42666667rem;
  z-index: 9;
  margin-left: -3.68rem;
}
.actliteitem .tagline span {
  display: block;
  width: 2.66666667rem;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 0.32rem;
}
.actliteitem .tagline span:before,
.actliteitem .tagline span:after {
  content: '';
  width: 2.34666667rem;
  height: 0;
  position: absolute;
  top: 50%;
  border-top: 0.01333333rem solid #cccccc;
}
.actliteitem .tagline span:before {
  left: -100%;
}
.actliteitem .tagline span:after {
  right: -100%;
}
.actliteitem .tagline i {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 0.13333333rem;
  background-size: 12px 12px;
  vertical-align: -0.05333333rem;
}
.actliteitem .taglineyellow span {
  color: #f57123;
}
.actliteitem .taglineyellow i {
  background-image: url(../img/activity/clock2@2x.png);
}
.actliteitem .taglinegreen span {
  color: #60b702;
}
.actliteitem .taglinegreen i {
  background-image: url(../img/activity/clock3@2x.png);
}
.actliteitem:after {
  content: '';
  width: 100%;
  height: 3.6rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(rgba(98, 98, 98, 0) 0%, rgba(51, 51, 51, 0.92) 92%);
  background-image: -o-linear-gradient(rgba(98, 98, 98, 0) 0%, rgba(51, 51, 51, 0.92) 92%);
  background-image: linear-gradient(rgba(98, 98, 98, 0) 0%, rgba(51, 51, 51, 0.92) 92%);
}
.actliteitem:last-child {
  margin-bottom: 0;
}
/*报名须知*/
.actlayer {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  z-index: 102;
  background-color: rgba(0, 0, 0, 0.5);
}
.actlayer .close {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
  background: url(../img/common/clear2@2x.png) center center no-repeat;
  background-size: 14px 14px;
}
.activityruleBox,
.sortruleBox {
  width: 9.2rem;
  margin: 0.48rem auto;
  padding: 0 0.97333333rem 0.53333333rem 0.97333333rem;
  overflow: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-color: #fff;
  border-radius: 0.10666667rem;
}
.activityruleBox .tit,
.sortruleBox .tit {
  width: 100%;
  padding: 0.6rem 0;
  text-align: center;
  font-size: 0.45333333rem;
  color: #666;
  font-weight: normal;
}
.activityruleBox .stit,
.sortruleBox .stit {
  margin-bottom: 0.4rem;
  line-height: 0.58666667rem;
  font-weight: normal;
  font-size: 0.34666667rem;
  color: #666;
}
.activityruleBox .word,
.sortruleBox .word {
  line-height: 0.50666667rem;
  font-size: 0.32rem;
  color: #666;
}
.activityruleBox .price,
.sortruleBox .price {
  margin-top: 1.06666667rem;
  text-align: center;
  line-height: 0.58666667rem;
  font-size: 0.48rem;
  color: #d0021b;
}
.activityruleBox .pricenote,
.sortruleBox .pricenote {
  text-align: center;
  line-height: 0.50666667rem;
  font-size: 0.4rem;
  color: #d0021b;
}
.activityruleBox .submitbtn,
.sortruleBox .submitbtn {
  display: block;
  width: 4.56rem;
  height: 1.2rem;
  line-height: 1.2rem;
  margin: 0.37333333rem auto 0.13333333rem auto;
  background-color: #e51812;
  border-radius: 0.10666667rem;
  text-align: center;
  font-size: 0.48rem;
  color: #fff;
}
.activityruleBox .protol,
.sortruleBox .protol {
  height: 36px;
  line-height: 36px;
  padding-bottom: 1.6rem;
  text-align: center;
  font-size: 0.32rem;
  color: #666;
}
.activityruleBox .radio,
.sortruleBox .radio {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url(../img/common/radio@2x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 18px;
  vertical-align: -0.34666667rem;
}
.activityruleBox .radioon,
.sortruleBox .radioon {
  background-image: url(../img/common/radioon@2x.png);
}
/*开启提醒弹出*/
.clockBox {
  width: 9.2rem;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  background-color: #fff;
  background-image: url(../img/activity/bg1@2x.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% auto;
  border-radius: 0.16rem;
  margin: 0 auto;
  overflow: auto;
}
.clockBox .tit {
  padding-top: 0.93333333rem;
  text-align: center;
  font-weight: normal;
  font-size: 0.48rem;
  color: #fff;
}
.clockBox p {
  width: 5.94666667rem;
  margin: 0.32rem auto;
  line-height: 0.45333333rem;
  text-align: center;
  font-size: 0.32rem;
  color: #fff;
}
.clockBox .openbtn {
  display: block;
  width: 4.56rem;
  height: 1.2rem;
  line-height: 1.2rem;
  margin: 2.48rem auto 1.2rem auto;
  background-color: #e51812;
  border-radius: 0.10666667rem;
  text-align: center;
  font-size: 0.48rem;
  color: #fff;
}
/*作业补交卡*/
.workcardBox {
  width: 9.2rem;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  overflow: auto;
}
.workcardBox .workcardBg {
  width: 100%;
  height: 7.06666667rem;
  background: url(../img/activity/bg2@2x.png) no-repeat;
  background-size: 100% 100%;
}
.workcardBox .word {
  width: 100%;
  overflow: auto;
  margin-top: -1px;
  background-color: #fff;
  border-bottom-left-radius: 0.10666667rem;
  border-bottom-right-radius: 0.10666667rem;
}
.workcardBox .tit {
  text-align: center;
  font-size: 0.48rem;
  color: #ff5a02;
}
.workcardBox p {
  text-align: center;
  font-size: 0.32rem;
  color: #ff5a02;
}
.workcardBox .submitBtn {
  display: block;
  width: 7.25333333rem;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  margin: 0.56rem auto;
  background: #e51812;
  border-radius: 0.10666667rem;
  text-align: center;
  font-size: 0.48rem;
  color: #fff;
}
.workcardBox .close {
  top: 1.6rem;
}
/*三千问列表*/
.icon-arrow {
  display: inline-block;
  background: url("../img/common/arrow@2x.png") center center no-repeat;
  background-size: 6px 11px;
}
.section {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0.4rem;
  overflow: auto;
  border-bottom: 0.32rem solid #efeff4;
}
.sectionBorder0 {
  padding-bottom: 0;
  border: 0;
}
.sectionTit {
  width: 100%;
  height: 0.37333333rem;
  line-height: 0.37333333rem;
  font-size: 0.32rem;
  color: #999;
  clear: both;
}
.sectionTit .refresh {
  float: right;
  padding-right: 15px;
  background: url(../img/common/refresh.png) right center no-repeat;
  background-size: 11px 11px;
  color: #999;
}
.sectionTit .more,
.sectionTit .more2 {
  float: right;
  padding-right: 15px;
  position: relative;
  font-size: 0.32rem;
  color: #999;
}
.sectionTit .more:after,
.sectionTit .more2:after {
  content: '';
  width: 6px;
  height: 11px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -5px;
  display: inline-block;
  background: url("../img/common/arrow@2x.png") center center no-repeat;
  background-size: 6px 11px;
}
.sectionTit .txtyellow {
  color: #f57123;
}
.icon-ask,
.icon-speak,
.icon-activity {
  float: left;
  width: 11px;
  height: 100%;
  margin-right: 0.10666667rem;
  background-size: 11px 11px;
  background-repeat: no-repeat;
  background-position: center 1px;
}
.icon-ask {
  background-image: url(../img/common/ask@2x.png);
}
.icon-speak {
  background-image: url(../img/common/speak@2x.png);
  background-size: 9px 11px;
}
.icon-activity {
  background-image: url(../img/common/activity@2x.png);
}
.recommendList li {
  padding: 0.21333333rem 0;
  border-bottom: 1px solid #f4f4f4;
}
.recommendList li:last-child {
  border: 0;
}
.recommendList .photo {
  float: left;
  width: 1.04rem;
  height: 1.04rem;
  position: relative;
}
.recommendList .photo:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(51, 51, 51, 0.5);
  background-image: url(../img/common/listen@2x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 23px 19px;
  border-radius: 100%;
}
.recommendList img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.recommendList .info {
  padding-left: 0.32rem;
  overflow: auto;
}
.recommendList h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: normal;
  font-size: 0.4rem;
  color: #666;
}
.recommendList .hottag,
.recommendList .newesttag {
  display: none;
  vertical-align: -0.04rem;
  width: 22px;
  height: 14px;
  margin-right: 0.10666667rem;
  background-size: 22px 14px;
  background-position: left center;
  background-repeat: no-repeat;
}
.recommendList .item .hottag,
.recommendList .item .newesttag {
  display: inline-block;
}
.recommendList .hottag {
  background-image: url(../img/common/hot@2x.png);
}
.recommendList .newesttag {
  background-image: url(../img/common/newest@2x.png);
}
.recommendList .other {
  margin-top: 0.16rem;
  font-size: 0.32rem;
  color: #999;
}
.recommendList .num {
  display: inline-block;
  margin-left: 0.53333333rem;
  padding-left: 0.48rem;
  background: url(../img/common/listen2@2x.png) left center no-repeat;
  background-size: 11px 8px;
}
.buyList {
  width: 100%;
  overflow: auto;
}
.buyList li {
  margin-top: 0.32rem;
  height: 1.92rem;
  padding-bottom: 0.32rem;
  overflow: hidden;
  border-bottom: 1px solid #f4f4f4;
}
.buyList li:last-child {
  height: 1.6rem;
  padding-bottom: 0;
  border: 0;
}
.buyList .photo {
  float: left;
  width: 2.53333333rem;
  height: 1.6rem;
}
.buyList .photo img {
  display: block;
  width: 100%;
  height: 100%;
}
.buyList .info {
  padding-left: 0.4rem;
  overflow: auto;
}
.buyList .tit {
  margin-top: -0.05333333rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  font-size: 0.4rem;
}
.buyList .tit a {
  color: #666;
}
.buyList p {
  margin-top: 0.05333333rem;
  font-size: 0.32rem;
  color: #999;
}
.buyList .other {
  margin-top: 0.13333333rem;
  font-size: 0.34666667rem;
  color: #666;
}
.buyList .join {
  float: right;
  padding-left: 15px;
  background: url(../img/common/flag@2x.png) left center no-repeat;
  background-size: 8px 11px;
  color: #666;
}
.buyList .word {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: -0.05333333rem;
  line-height: 0.53333333rem;
  font-size: 0.4rem;
  color: #666;
}
.buyList .num {
  margin-top: 0.18666667rem;
  font-size: 0.32rem;
  color: #ccc;
}
.tabslide {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  overflow: auto;
  clear: both;
}
/*打赏记录*/
.expectionList {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  overflow: auto;
}
.expectionItem {
  width: 100%;
  padding: 0.32rem 0.42666667rem;
  overflow: auto;
  border-bottom: 1px solid #f4f4f4;
}
.expectionItem .expectionInfo {
  position: relative;
  min-height: 0.90666667rem;
  overflow: auto;
  padding-left: 1.22666667rem;
}
.expectionItem .expectionInfo:after {
  content: '';
  width: 0.90666667rem;
  height: 0.90666667rem;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/center/money@2x.png) center center no-repeat;
  background-size: 20px 22px;
  background-color: #f57123;
  border-radius: 100%;
}
.expectionItem .time,
.expectionItem .name {
  font-size: 0.32rem;
  color: #333;
}
.expectionItem .name {
  margin-top: 0.08rem;
  line-height: 0.42666667rem;
}
.expectionItem .expectionMoney {
  float: right;
  margin-top: 0.10666667rem;
  padding-left: 0.32rem;
  line-height: 0.45333333rem;
  background: url(../img/center/icon1@2x.png) left center no-repeat;
  background-size: 9px 11px;
  font-size: 0.37333333rem;
  color: #d0021b;
}
/*我的荣誉*/
.honorTag li {
  float: left;
  width: 25%;
  margin: 0.66666667rem 0;
  overflow: auto;
}
.honorTag img {
  display: block;
  width: 1.38666667rem;
  height: 1.38666667rem;
  margin: 0 auto;
}
.honorTag p {
  margin-top: 0.13333333rem;
  text-align: center;
  font-size: 0.4rem;
  color: #333;
}
.workcardList {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 0.4rem;
}
.workcardItem {
  width: 100%;
  height: 3.06666667rem;
  margin-bottom: 0.32rem;
  position: relative;
  background: url(../img/center/bg1@2x.png) no-repeat;
  background-size: 100%;
}
.workcardItem .il {
  float: left;
  width: 60%;
  height: 100%;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
}
.workcardItem .tit {
  width: 4.26666667rem;
  margin: 0 auto;
  font-size: 0.64rem;
  color: #fff;
}
.workcardItem .name {
  width: 4.26666667rem;
  margin: 0.21333333rem auto 0 auto;
  line-height: 0.42666667rem;
  font-size: 0.32rem;
  color: #fff;
}
.workcardItem .ir {
  float: left;
  width: 40%;
  height: 100%;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
}
.workcardItem .tag {
  display: block;
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  margin: 0 auto;
  text-align: center;
}
.workcardItem .tag span {
  display: inline-block;
  padding: 0 0.26666667rem;
  vertical-align: top;
  margin-left: -0.4rem;
  background-color: #fff;
  border-radius: 0.2rem;
  text-align: center;
  font-size: 0.48rem;
  color: #ff5a60;
}
.workcardItem .date {
  margin-top: 0.18666667rem;
  margin-left: -0.4rem;
  text-align: center;
  font-size: 0.32rem;
  color: #c71e24;
}
.workcardItem .timed,
.workcardItem .used {
  width: 95px;
  height: 95px;
  position: absolute;
  left: 54%;
  top: 50%;
  margin-left: -47px;
  margin-top: -47px;
  background-size: 95px 95px;
}
.workcardItem .used {
  background-image: url(../img/center/used@2x.png);
}
.workcardItem .timed {
  background-image: url(../img/center/timed@2x.png);
}
.workcardItemGray {
  background: url(../img/center/bg2@2x.png) no-repeat;
  background-size: 100%;
}
.workcardItemGray .tag1 span {
  font-size: 0.32rem;
  color: #868686;
}
.workcardItemGray .tag2 span {
  font-size: 0.48rem;
  color: #868686;
}
.workcardItemGray .date {
  color: #868686;
}
/*个人中心首页*/
.mebcenterTop {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  overflow: auto;
  position: relative;
}
.mebcenterTop .bigP {
  display: block;
  width: 100%;
}
.mebcenterTop .mebcenterTopBox {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}
.mebcenterTop .cont {
  width: 100%;
  height: 100%;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
}
.mebcenterTop .name {
  margin-top: 0.13333333rem;
  text-align: center;
  font-size: 0.4rem;
  color: #fff;
}
.mebcenterTop .edit {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-left: 0.16rem;
  background: url(../img/center/edit@2x.png) no-repeat;
  background-size: 11px 11px;
}
.mebcenterTop .info {
  margin-top: 0.13333333rem;
  text-align: center;
  font-size: 0.32rem;
  color: #fff;
}
.mebcenterTop:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.icon-boy,
.icon-girl,
.icon-yun {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 0.13333333rem;
  vertical-align: -0.02666667rem;
}
.icon-boy {
  display: inline-block;
  background: url("../img/common/boy@2x.png") center center no-repeat;
  background-size: 11px 11px;
}
.icon-girl {
  display: inline-block;
  background: url("../img/common/girl@2x.png") center center no-repeat;
  background-size: 8px 11px;
}
.icon-yun {
  display: inline-block;
  background: url("../img/common/yun@2x.png") center center no-repeat;
  background-size: 8px 11px;
}
.centerMenu {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  overflow: auto;
  border-bottom: 0.12rem solid #efeff4;
}
.centerMenu li {
  float: left;
  width: 25%;
  padding-bottom: 0.45333333rem;
  overflow: auto;
  text-align: center;
}
.centerMenu a {
  display: block;
  padding-top: 0.50666667rem;
}
.centerMenu .icon {
  display: block;
  width: 30px;
  height: 25px;
  margin: 0 auto;
  font-size: 0;
}
.centerMenu .icon-road {
  display: inline-block;
  background: url("/res/img/center/m1@2x.png") center center no-repeat;
  background-size: 26px 25px;
  display: block;
}
.centerMenu .icon-step {
  display: inline-block;
  background: url("/res/img/center/m2@2x.png") center center no-repeat;
  background-size: 20px 25px;
  display: block;
}
.centerMenu .icon-order {
  display: inline-block;
  background: url("/res/img/center/m3@2x.png") center center no-repeat;
  background-size: 21px 25px;
  display: block;
}
.centerMenu .icon-fav {
  display: inline-block;
  background: url("/res/img/center/m4@2x.png") center center no-repeat;
  background-size: 29px 25px;
  display: block;
}
.centerMenu p {
  margin-top: 0.13333333rem;
  font-size: 0.4rem;
  color: #333;
}
.centerLink {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  overflow: auto;
}
.centerLink li {
  width: 100%;
  height: 1.14666667rem;
  line-height: 1.14666667rem;
  padding: 0 0.4rem;
  border-bottom: 1px solid #f4f4f4;
}
.centerLink a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/common/arrow@2x.png) right center no-repeat;
  background-size: 6px 11px;
  font-size: 0.4rem;
  color: #333;
}
.centerLink .icon {
  float: left;
  height: 100%;
  width: 0.77333333rem;
}
.centerLink .icon-lesson {
  display: inline-block;
  background: url("../img/center/l1@2x.png") center center no-repeat;
  background-size: 18px 15px;
  background-position: left center;
}
.centerLink .icon-qa {
  display: inline-block;
  background: url("../img/center/l2@2x.png") center center no-repeat;
  background-size: 16px 15px;
  background-position: left center;
}
.centerLink .icon-card {
  display: inline-block;
  background: url("../img/center/l3@2x.png") center center no-repeat;
  background-size: 18px 13px;
  background-position: left center;
}
.centerLink .icon-feed {
  display: inline-block;
  background: url("../img/center/l4@2x.png") center center no-repeat;
  background-size: 15px 15px;
  background-position: left center;
}
.centerLink .icon-about {
  display: inline-block;
  background: url("../img/center/l5@2x.png") center center no-repeat;
  background-size: 15px 15px;
  background-position: left center;
}
.exitBtn {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0 0.4rem;
}
.exitBtn a {
  display: block;
  width: 100%;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  margin: 0.72rem 0;
  text-align: center;
  border: 1px solid #f4f4f4;
  border-radius: 0.05333333rem;
  font-size: 0.45333333rem;
  color: #999;
}
/*尾部*/
.before {
  margin: 0 auto;
  top: 0;
}
.footer {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 1.30666667rem;
}
.footer .fixed {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  position: fixed;
  z-index: 101;
  background-color: #fff;
  height: 1.30666667rem;
  bottom: 0;
  border-top: 1px solid #ccc;
}
.footer .fixed .fixed-box {
  width: 100%;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  height: 100%;
}
.footer a {
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  height: 100%;
  text-align: center;
  color: #999;
  font-size: 0.32rem;
}
.footer a:before {
  content: '';
  height: 0.53333333rem;
}
.footer p {
  margin-top: 0.08rem;
}
.footer .ft1:before {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 50%;
  margin-top: -10px;
  background-image: url("");
  background-size: 20px 20px;
  background-image: url(../img/common/foot@2x.png);
  background-repeat: no-repeat;
  background-size: 77px 20px;
  background-position: 0 0;
  margin: 0 auto;
  top: 0;
}
.footer .ft2:before {
  display: block;
  width: 16px;
  height: 20px;
  position: relative;
  top: 50%;
  margin-top: -10px;
  background-size: 16px 20px;
  background-image: url(../img/common/foot@2x.png);
  background-repeat: no-repeat;
  background-size: 77px 20px;
  background-position: -20px 0;
  margin: 0 auto;
  top: 0;
}
.footer .ft3:before {
  display: block;
  width: 19px;
  height: 20px;
  position: relative;
  top: 50%;
  margin-top: -10px;
  background-image: url("");
  background-size: 19px 20px;
  background-image: url(../img/common/foot@2x.png);
  background-repeat: no-repeat;
  background-size: 77px 20px;
  background-position: -58px 0;
  margin: 0 auto;
  top: 0;
}
.footer .ft4:before {
  display: block;
  width: 20px;
  height: 21px;
  position: relative;
  top: 50%;
  margin-top: -10.5px;
  background-image: url("");
  background-size: 20px 21px;
  background-image: url(../img/common/foot@2x.png);
  background-repeat: no-repeat;
  background-size: 77px 20px;
  background-position: -37px 0;
  margin: 0 auto;
  top: 0;
  margin-top: -0.02666667rem;
}
.footer a.active {
  color: #e51812;
}
.footer a.active:before {
  background-image: url(../img/common/footon@2x.png);
}
/*音频*/
.audio {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  width: 100%;
  height: 1.2rem;
  margin-top: 0.26666667rem;
  padding: 0 0.4rem 0 0.18666667rem;
  background-color: #ff9615;
  border-radius: 0.32rem;
}
.audio audio {
  display: none;
}
.audio .play {
  display: block;
  width: 1.06666667rem;
  height: 100%;
}
.audio .play i {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 16px;
  height: 21px;
  position: relative;
  top: 50%;
  margin-top: -10.25px;
  background-image: url("../img/common/play@2x.png");
  background-size: 16px 21px;
}
.audio .pause i {
  display: block;
  width: 16px;
  height: 21px;
  position: relative;
  top: 50%;
  margin-top: -10.25px;
  background-image: url("../img/common/pause@2x.png");
  background-size: 16px 21px;
}
.audio .time {
  line-height: 1.2rem;
  color: #fff;
  font-size: 0.34666667rem;
}
.audio .wave {
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  height: 100%;
}
.audio .wave span {
  display: block;
  width: 2px;
  margin: 0 2px;
  position: relative;
  top: 50%;
  background-color: #ffcb77;
}
.audio .wave .active {
  background-color: #fff;
}
/*日历控件*/
.scroll,
.idenfy,
.ageperiod,
.sexscroll {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  font-size: 0.42666667rem;
  background: rgba(0, 0, 0, 0.5);
}
.scroll .scrollList,
.idenfy .scrollList,
.ageperiod .scrollList,
.sexscroll .scrollList {
  width: 90%;
  height: 268px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  margin-top: -139px;
  background-color: #fff;
  border-radius: 0.16rem;
}
.scroll .scrollTit,
.idenfy .scrollTit,
.ageperiod .scrollTit,
.sexscroll .scrollTit {
  width: 100%;
  height: 53px;
  color: #333;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: #e51812;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  border-radius: 6px 6px 0px 0px;
}
.scroll .scrollTit span,
.idenfy .scrollTit span,
.ageperiod .scrollTit span,
.sexscroll .scrollTit span {
  height: 53px;
  line-height: 53px;
  top: 0;
  margin: 0;
  text-align: center;
  color: #fff;
}
.scroll .line,
.idenfy .line,
.ageperiod .line,
.sexscroll .line {
  width: 100%;
  height: 38px;
  background-color: #eee;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
}
.scroll .per25,
.idenfy .per25,
.ageperiod .per25,
.sexscroll .per25,
.scroll .per33,
.idenfy .per33,
.ageperiod .per33,
.sexscroll .per33 {
  float: left;
  width: 25%;
  height: 120px;
  overflow: hidden;
  position: relative;
  top: 50%;
  z-index: 99;
  margin-top: -60px;
}
.scroll .per33,
.idenfy .per33,
.ageperiod .per33,
.sexscroll .per33 {
  width: 33.33%;
}
.scroll .perCont,
.idenfy .perCont,
.ageperiod .perCont,
.sexscroll .perCont {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.scroll .perCont span,
.idenfy .perCont span,
.ageperiod .perCont span,
.sexscroll .perCont span {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  color: #9b9b9b;
}
.scroll .perCont .active,
.idenfy .perCont .active,
.ageperiod .perCont .active,
.sexscroll .perCont .active {
  color: #333;
}
.scroll .handleBtn,
.idenfy .handleBtn,
.ageperiod .handleBtn,
.sexscroll .handleBtn {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 27px;
  text-align: center;
}
.scroll .handleBtn a,
.idenfy .handleBtn a,
.ageperiod .handleBtn a,
.sexscroll .handleBtn a {
  display: inline-block;
  width: 2.93333333rem;
  height: 34px;
  line-height: 35px;
  margin: 0 5px;
  border-radius: 0.08rem;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
.scroll .handleBtn .btn_cancle,
.idenfy .handleBtn .btn_cancle,
.ageperiod .handleBtn .btn_cancle,
.sexscroll .handleBtn .btn_cancle {
  background-color: #9b9b9b;
}
.scroll .handleBtn .btn_sure,
.idenfy .handleBtn .btn_sure,
.ageperiod .handleBtn .btn_sure,
.sexscroll .handleBtn .btn_sure {
  background-color: #e51812;
}
.idenfy {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  font-size: 0.42666667rem;
  background: rgba(0, 0, 0, 0.5);
}
.idenfy .perCont {
  padding: 0.64rem 0.32rem 0 0.32rem;
  position: relative;
}
.idenfy .perCont span {
  height: 52px;
  line-height: 52px;
  border-bottom: 1px solid #eee;
}
.idenfy .handleBtn {
  margin-top: 20px;
  position: relative;
  bottom: initial;
}
.idenfy .idenfyList {
  width: 90%;
  overflow: auto;
  margin: 0 auto;
  position: relative;
  top: 50%;
  margin-top: -139px;
  padding-bottom: 40px;
  background-color: #fff;
  border-radius: 0.16rem;
}
.ageperiod .ageperiodList,
.sexscroll .sexscrollList {
  width: 90%;
  height: 268px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  margin-top: -139px;
  padding-bottom: 40px;
  background-color: #fff;
  border-radius: 0.16rem;
}
.ageperiod .ageperiodItem,
.sexscroll .sexscrollItem {
  float: left;
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: relative;
  top: 50%;
  z-index: 99;
  margin-top: -60px;
}
.ageperiod .line {
  margin-top: -38px;
}
.sexscroll .line {
  display: none;
}
.sexscroll .sexscrollItem span {
  border-bottom: 1px solid #f4f4f4;
}
.containerAct {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding-bottom: 1.6rem;
  background: #fff;
  position: absolute;
  top: 100%;
}
.containerActBox2 {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  position: absolute;
  top: 100%;
  overflow: auto;
}
.containerAct2 {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding-bottom: 1.6rem;
  background: #fff;
  position: absolute;
  top: 100%;
}
.addBtn,
.removeBtn {
  float: left;
  line-height: 18px;
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px 18px;
  font-size: 15px;
  color: #333;
}
.addBtn {
  margin-right: 18px;
  background-image: url(../img/common/plus@2x.png);
}
.removeBtn {
  background-image: url(../img/common/minuse@2x.png);
}
.zyzd {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0.53333333rem 0.4rem 1.86666667rem 0.4rem;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.zyzd .zyzdBox {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  padding: 0.64rem 0;
  max-height: 100%;
  overflow: auto;
  background-color: #fff;
  border-radius: 0.10666667rem;
}
.zyzd .tit {
  text-align: center;
  font-size: 0.45333333rem;
  color: #666;
}
.zyzd .zyzdItem div {
  padding: 0.4rem 0.74666667rem;
  border-bottom: 0.32rem solid #efeff4;
}
.zyzd .zyzdItem h2 {
  padding-bottom: 0.16rem;
  font-weight: normal;
  font-size: 0.4rem;
  color: #666;
}
.zyzd .zyzdItem p {
  line-height: 0.50666667rem;
  font-size: 0.32rem;
  color: #666;
}
.zyzd .zyzdItem div:last-child {
  border: 0;
  padding-bottom: 0;
}
.zyzd .zyzdBtn {
  display: block;
  width: 4.53333333rem;
  height: 1.22666667rem;
  line-height: 1.22666667rem;
  margin: 0 auto;
  margin-top: 0.4rem;
  background-color: #e51812;
  border-radius: 0.10666667rem;
  text-align: center;
  font-size: 0.48rem;
  color: #fff;
}
/*我的作业本*/
.myworkList .numBox {
  float: left;
  width: 0.72rem;
  height: 0.72rem;
  line-height: 0.72rem;
  position: relative;
  background-color: #eee;
  border-radius: 100%;
  font-size: 12px;
  text-align: center;
  color: #666;
}
.myworkList .workitem {
  padding-bottom: 0;
  position: relative;
  border-bottom: 0;
  overflow: hidden;
  /*padding:50*@base 30*@base 32*@base 30*@base;*/
}
.myworkList .workitem:before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  left: 0.76rem;
  top: 0;
  border-left: 1px solid #eee;
}
.myworkList .workitem:first-child:before {
  top: 0.66666667rem;
}
.myworkList .numBox:after {
  content: '';
  width: 10px;
  height: 8px;
  background: url(../img/common/right@2x.png) no-repeat;
  background-size: 10px 8px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.myworkList .workitem .other {
  line-height: 0.72rem;
}
.myworkList .workitem .handle {
  padding-bottom: 1px;
  overflow: auto;
}
.myworkList .workitem .teacherDP {
  margin-top: 12px;
}
.myworkList .workitem .word a {
  color: #f5a623;
  text-decoration: underline;
}
.myworkList .workitem .othervote {
  margin-top: 12px;
}
.myworkList .workitemWrong .numBox:after {
  content: '';
  width: 10px;
  height: 8px;
  background: url(../img/common/wrong@2x.png) no-repeat;
  background-size: 8px 8px;
  position: absolute;
  right: 0;
  bottom: 0;
}
/*喵问喵答-发表喵问*/
.myAsk {
  display: none;
  padding-top: 1.09333333rem;
}
.tabtop2 {
  max-width: 540px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
}
.miaoTextarea {
  margin-top: 20px;
  padding: 0 15px;
  border-bottom: 10px solid #efeff4;
}
.miaoTextarea textarea {
  width: 100%;
  height: 130px;
  padding: 6px 15px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: none;
  -webkit-appearance: none;
}
.miaoTit {
  padding: 10px 15px;
  background-color: #efeff4;
  font-size: 12px;
}
.miaoTel {
  float: right;
  width: 100%;
  margin-top: -2px;
  padding: 0 20px;
  text-align: right;
  font-size: 14px;
}
.miaoSubmit {
  display: block;
  width: 180px;
  height: 36px;
  line-height: 36px;
  margin: 30px auto;
  background-color: #e51812;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.miaoTips {
  margin-bottom: 10px;
  padding: 0px 15px;
  overflow: auto;
  font-size: 12px;
}
.scroll,
.idenfy {
  z-index: 101;
}
.scroll .scollItem {
  height: 120px;
  overflow: hidden;
  position: relative;
  top: 50%;
  z-index: 99;
  margin-top: -60px;
}
.scrollList .scrollTit {
  line-height: 53px;
  text-align: center;
  color: #fff;
}
.myAskTit {
  position: relative;
  top: 0;
  padding: 6px 15px;
  background-color: #efeff4;
  font-size: 12px;
  color: #333;
}
.myAskTitFixed {
  width: 100%;
  max-with: 540px;
  position: fixed;
  top: 1.09333333rem;
  z-index: 99;
}
.miaoAskContaer {
  padding-top: 0.89333333rem;
}
.myAskList {
  position: relative;
  padding-top: 0.59333333rem;
}
.myAskList li {
  padding: 8px 15px;
  border-bottom: 1px solid #f2f2f2;
}
.myAskList li:last-child {
  border-bottom: 0;
}
.myAskList .miaoAsk,
.myAskList .miaoAnswer {
  width: 100%;
  position: relative;
  padding-left: 40px;
  padding-top: 6px;
  min-height: 30px;
  overflow: auto;
  font-size: 12px;
  line-height: 20px;
  color: #333;
}
.myAskList .miaoAsk:before,
.myAskList .miaoAnswer:before {
  content: '问';
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 0px;
  top: 0;
  background-color: #ffcc99;
  border-radius: 100%;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.myAskList .miaoAsk:after,
.myAskList .miaoAnswer:after {
  content: '';
  width: 0px;
  height: 100%;
  border-left: 1px solid #e4e4e4;
  position: absolute;
  left: 15px;
  top: 0;
  z-index: -1;
}
.myAskList .miaoAsk .timeout,
.myAskList .miaoAnswer .timeout {
  text-align: right;
  padding-bottom: 10px;
  color: #999;
}
.myAskList .miaoAsk a,
.myAskList .miaoAnswer a {
  color: #ff9987;
}
.myAskList .miaoAsk .resubmit,
.myAskList .miaoAnswer .resubmit {
  color: #3f9bd5;
}
.myAskList .miaoAnswer:before {
  content: '答';
  background-color: #66cc99;
}
.myAskList .miaoAnswer:after {
  display: none;
}
.blockitem {
  font-size: 14px;
}
.yucan,
.ageitem {
  display: none;
}
.miaobaoTit {
  padding: 10px 0.37333333rem;
  font-size: 14px;
  font-weight: bold;
  background-color: #f4f4f4;
}
.miaobaoTit .addbao {
  float: right;
  font-weight: normal;
  font-size: 12px;
  color: #169bd5;
}
.miaobao {
  font-size: 14px;
}
.miaobao .miaobaoItem {
  padding: 0.48rem 0.37333333rem;
  border-bottom: 1px solid #f4f4f4;
}
.miaobao .sex {
  margin: 0 14px;
}
.miaobao .radio {
  float: left;
  width: 24px;
  height: 24px;
  margin-top: -2px;
  margin-right: 4px;
  background-image: url(../img/common/radio@2x.png);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center center;
}
.miaobao .radioActive {
  background-image: url(../img/common/radioon@2x.png);
}
.yucan {
  display: none;
}
/*适配iphone4*/
@media screen and (min-width: 320px) and (max-width: 374px) {
  html {
    font-size: 32px;
  }
}
/*适配iphone6*/
@media screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 37.5px;
  }
}
/*适配iphone6plus*/
@media screen and (min-width: 414px) and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  html {
    font-size: 41.4px;
  }
}
/*适配480*/
@media only screen and (min-device-width: 480px) and (max-device-width: 719px) {
  html {
    font-size: 24px;
  }
}
@media only screen and (min-device-width: 720px) and (max-device-width: 1079px) {
  html {
    font-size: 36px;
  }
}
@media only screen and (min-device-width: 1080px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 54px;
  }
}
/*魅族*/
@media only screen and (min-device-width: 1080px) and (-webkit-min-device-pixel-ratio: 2.5) {
  html {
    font-size: 43.2px;
  }
}
/*mate7*/
@media only screen and (min-device-width: 1080px) and (-webkit-min-device-pixel-ratio: 3) {
  html {
    font-size: 36px;
  }
}