/*格式化*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "微软雅黑", PingFangSC-Light;
}
html {
  height: 100%;
}
html,
body {
  max-width: 540px;
  min-height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #333;
}
img {
  display: inline;
  border: none;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
input,
textarea,
button {
  border: none;
  background: none;
  border-radius: 0;
  outline: none;
}
button,
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}
ul {
  list-style: none;
}
.max-width {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}
/*二维码页面*/
.logo {
  display: block;
  margin-left: 0.4rem;
  margin-top: 0.53333333rem;
  width: 3.06666667rem;
}
.code {
  display: block;
  width: 5.76rem;
  margin: 1.65333333rem auto 0 auto;
}
.codeTxt {
  width: 7.28rem;
  margin: 0.53333333rem auto 0 auto;
  line-height: 0.56rem;
  text-align: center;
  font-size: 0.4rem;
  color: #999;
}
.noteword {
  width: 7.28rem;
  margin: 0 auto;
  margin-top: 1.46666667rem;
  padding-top: 0.72rem;
  border-top: 1px solid #cccccc;
  line-height: 0.53333333rem;
  font-size: 0.4rem;
  color: #999;
}
.noteword p:first-child {
  margin-bottom: 0.26666667rem;
}
.titlogo {
  display: block;
  width: 3.17333333rem;
  margin: 0.8rem auto 0 auto;
}
.formLogin {
  margin-top: 1.06666667rem;
}
.inputitem {
  width: 7.49333333rem;
  height: 1.14666667rem;
  margin: 0 auto;
  position: relative;
  padding-left: 1.01333333rem;
  border-bottom: 1px solid #eee;
}
.inputitem input {
  display: block;
  width: 100%;
  padding: 0.32rem 0.58666667rem 0.32rem 0;
  font-size: 0.4rem;
  color: #666;
}
.inputitem .clear {
  display: none;
  width: 0.58666667rem;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  background: url(../img/login/clear.png) right center no-repeat;
  background-size: 11px 11px;
}
.inputphone {
  background: url(../img/login/phone.png) 0.13333333rem center no-repeat;
  background-size: 14px 24px;
}
.inputcode {
  background: url(../img/login/psw.png) 0.02666667rem center no-repeat;
  background-size: 19px 24px;
}
.inputcode input {
  padding-right: 2.66666667rem;
}
.inputcode .getCode {
  display: block;
  width: 2.61333333rem;
  height: 0.69333333rem;
  line-height: 0.69333333rem;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.34666667rem;
  border-left: 1px solid #eee;
  text-align: center;
  font-size: 0.37333333rem;
  color: #666;
}
.formTxt {
  margin-bottom: 0.69333333rem;
  padding: 0.42666667rem 0;
  text-align: center;
  font-size: 0.32rem;
  color: #e51812;
  visibility: hidden;
}
.loginBtn,
.cancleBtn {
  display: block;
  width: 4.53333333rem;
  height: 1.2rem;
  line-height: 1.2rem;
  margin: 0 auto;
  background: #e51812;
  border-radius: 4px;
  font-size: 0.48rem;
  text-align: center;
  color: #fff;
}
.cancleBtn {
  background: none;
  font-size: 0.4rem;
  color: #999;
}
.loginOther {
  padding: 0 0.4rem;
  margin-top: 1.06666667rem;
}
.loginOtherBox {
  width: 100%;
  position: relative;
}
.loginOtherBox:after {
  content: '';
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  top: 0.2rem;
  border-top: 1px solid #eee;
}
.loginOtherBox span {
  display: block;
  width: 2.53333333rem;
  height: 0.4rem;
  line-height: 0.4rem;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  background-color: #fff;
  text-align: center;
  font-size: 0.32rem;
  color: #ccc;
}
.loginOtherBox .loginWx {
  display: block;
  width: 2.50666667rem;
  height: 0.69333333rem;
  line-height: 0.69333333rem;
  margin: 0.53333333rem auto 0 auto;
  position: relative;
  border: 1px solid #60b702;
  border-radius: 0.05333333rem;
  text-align: center;
  font-size: 0.37333333rem;
  color: #60b702;
}
.loginOtherBox .loginWx:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 15px;
  margin-right: 5px;
  background: url(../img/login/wx.png) no-repeat;
  background-size: 18px 15px;
  vertical-align: -3px;
}
.more {
  float: right;
  margin-top: 0.56rem;
  margin-right: 0.4rem;
  margin-bottom: 0.26666667rem;
  font-size: 0.32rem;
  color: #999;
}
.drag {
  width: 7.49333333rem;
  height: 1.14666667rem;
  line-height: 1.14666667rem;
  position: relative;
  background: #eee;
  border-radius: 0.05333333rem;
  overflow: hidden;
  margin: 0.4rem auto 0 auto;
  font-size: 0.4rem;
  text-align: center;
  color: #666;
}
.drag .dragTxt {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  text-align: center;
  font-size: 0.4rem;
  color: #666;
  letter-spacing: 3px;
}
.drag .dragBg {
  width: 0;
  height: 100%;
  background-color: #60b702;
  overflow: hidden;
  text-align: center;
  font-size: 0.4rem;
  color: #fff;
}
.drag .dragBlock {
  display: block;
  width: 1.14666667rem;
  height: 1.14666667rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  background: #ffffff url(../img/login/arrow.png) center center no-repeat;
  background-size: 10px 14px;
  border: 1px solid #979797;
  border-radius: 0.05333333rem;
  cursor: move;
}
.drag .right {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.14666667rem;
  height: 1.14666667rem;
  background: #ffffff url(../img/login/right.png) center center no-repeat;
  background-size: 20px 10px;
  border: 1px solid #979797;
  border-radius: 0.05333333rem;
}
