.wrapPage {
  width: 100%;
  max-width: 540px;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapPage .paymentHeader {
  width: 93%;
  margin: 0.3rem auto 0;
  border-bottom: 0.02666667rem solid #f2f2f2;
}
.wrapPage .paymentHeader .surplus {
  font-size: 0.4rem;
  padding-top: 0.4rem;
  color: #868686;
  text-align: center;
}
.wrapPage .paymentHeader .payTime {
  font-size: 0.50666667rem;
  padding-top: 0.26666667rem;
  color: #0099FF;
  text-align: center;
  font-weight: 600;
  padding-bottom: 0.53333333rem;
}
.wrapPage .paymentHeader .voucherLeft {
  font-size: 0.38rem;
  padding-bottom: 0.21333333rem;
  float: left;
}
.wrapPage .paymentHeader .voucherRight {
  float: right;
  font-size: 0.36rem;
  color: #0099FF;
}
.wrapPage .paymentMon {
  border-bottom: none;
  padding-bottom: 0.26666667rem;
}
.wrapPage .paymentMon .imgLeft {
  float: left;
}
.wrapPage .paymentMon .imgLeft img {
  width: 2.8rem;
  height: 1.6rem;
}
.wrapPage .paymentMon .imgLeft .payImg {
  width: 100%;
  margin-left: 0.26666667rem;
  padding-right: 0.21333333rem;
}
.wrapPage .paymentMon .imgLeft .payKing {
  width: 100%;
}
.wrapPage .paymentMon .textRight {
  float: left;
  padding-left: 0.15rem;
}
.wrapPage .paymentMon .textRight h4 {
  font-size: 0.38rem;
  color: #333;
}
.wrapPage .paymentMon .textRight .audience {
  font-size: 0.3rem;
  background: url('../img/u40.png') no-repeat left center;
  background-size: 5%;
  padding-left: 0.53333333rem;
  color: #A1A1A1;
  margin-top: 0.2rem;
}
.wrapPage .paymentMon .textRight .payTxt {
  font-size: 0.3rem;
  color: #A1A1A1;
  margin-top: 0.2rem;
}
.wrapPage .paymentMon .textRight .money {
  font-size: 0.44rem;
  color: #FF9900;
  padding-top: 0.1rem;
}
.wrapPage .paymentMon .textRight .money span {
  font-size: 0.38rem;
}
.wrapPage .line {
  width: 100%;
  height: 0.10666667rem;
  background-color: #eee;
}
.wrapPage .initDiv {
  width: 93%;
  margin: 0.4rem auto 0.15rem;
}
.wrapPage .initDiv table {
  width: 93%;
  border: 0px;
  border-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.3rem;
}
.wrapPage .initDiv table tbody td {
  padding: 0 0.1rem;
  position: relative;
  font-size: 0.4rem;
}
.wrapPage .initDiv table tbody td .leixing {
  position: absolute;
  left: 0.2rem;
  font-weight: bold;
}
.wrapPage .initDiv table tbody td .mnSpen {
  font-style: oblique;
  font-size: 0.7rem;
}
.wrapPage .initDiv table tbody td .listTime {
  font-size: 0.3rem;
  color: #A1A1A1;
  padding-top: 0.26666667rem;
}
.wrapPage .initDiv table tbody td .listMon {
  color: #333;
  font-size: 0.4rem;
  font-weight: 600;
}
.wrapPage .initDiv table tbody td .listMon span {
  font-size: 0.36rem;
  font-weight: 300;
}
.wrapPage .initDiv table tbody td .couponIdRadio {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  float: right;
  margin-right: -0.6rem;
  cursor: pointer;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 0 1px #ccc;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}
.wrapPage .initDiv table tbody .gelixian {
  background: url(../img/coupon/u116.png) left center repeat-y;
}
.wrapPage .initTop {
  margin-top: 0.15rem;
}
.wrapPage .paymentFooter {
  width: 100%;
  padding-top: 2rem;
}
.wrapPage .paymentFooter p {
  font-size: 0.3rem;
  color: #BCBCBC;
  text-align: center;
  margin-bottom: 0.4rem;
}
.wrapPage .paymentFooter .planJoin {
  position: fixed;
bottom: 1rem; 
left: 50%;
transform: translate(-50%, 0); 
width: 60%;
padding: 0.16rem 0;
text-align: center;
-webkit-border-radius: 1.33333333rem;
-moz-border-radius: 1.33333333rem;
-ms-border-radius: 1.33333333rem;
border-radius: 1.33333333rem;
background-color: #ff9900;
}
.wrapPage .paymentFooter .planJoin a {
  color: #fff;
  font-size: 0.34666667rem;
}
