.wrap .public {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0.3rem;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap .public .testDivision {
  width: 100%;
  max-width: 540px;
  min-height: 17rem;
  position: relative;
}
.wrap .public .testDivision .testMess {
  width: 100%;
  background-color: #fff;
}
.wrap .public .testDivision .testMess .messLeft {
  width: 10%;
  min-height: 17rem;
  float: left;
  border-right: 1px dashed #e3e2e1;
  font-size: 0.29333333rem;
}
.wrap .public .testDivision .testMess .messLeft span {
  display: block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  /* Internet Explorer 9*/
  -moz-transform: rotate(-90deg);
  /* Firefox */
  transform: rotate(-90deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(-90deg);
  /* Opera */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform-origin: 0 0 ;
  -moz-transform-origin: 0 0 ;
  -o-transform-origin: 0 0 ;
  transform-origin: 0 0 ;
  color: #BCBCBC;
}
.wrap .public .testDivision .testMess .messLeft .testName {
  position: absolute;
  left: 0.26666667rem;
  top: 75%;
}
.wrap .public .testDivision .testMess .messLeft .testBaby {
  position: absolute;
  left: 0.26666667rem;
  top: 45%;
}
.wrap .public .testDivision .testMess .messLeft .testTime {
  position: absolute;
  left: 0.26666667rem;
  top: 25%;
}
.wrap .public .testDivision .testMess .messLeft .scissors {
  width: 7%;
  position: absolute;
  bottom: 1rem;
  left: 0.58666667rem;
}
.wrap .public .testDivision .testMess .messRight {
  width: 90%;
  float: left;
  padding-right: 0.26666667rem;
  padding-bottom: 3rem;
}
.wrap .public .testDivision .testMess .messRight .rightTit {
  padding-top: 1.6rem;
}
.wrap .public .testDivision .testMess .messRight .rightTit h3 {
  font-size: 0.4rem;
  background: url(../../img/prekindergarten/page/test/u546.png) no-repeat left 0.15rem;
  background-size: 2%;
  padding-left: 0.4rem;
  font-weight: 600;
  margin-left: 0.53333333rem;
}
.wrap .public .testDivision .testMess .messRight .rightContent {
  width: 100%;
  padding-top: 0.5rem;
}
.wrap .public .testDivision .testMess .messRight .rightContent .conL {
  float: left;
  width: 15%;
  font-size: 0.37333333rem;
  color: #333;
  font-weight: 600;
  padding: 0.3rem 0.5rem 0.2rem 1rem;
}
.wrap .public .testDivision .testMess .messRight .rightContent .conR {
  float: left;
  font-size: 0.32rem;
  color: #333;
  width: 80%;
  line-height: 0.6rem;
  padding: 0.3rem 0 0.2rem 0.1rem;
}
.wrap .public .testDivision .testMess .choiceCycle {
  width: 90%;
  float: left;
  margin-bottom: 0.8rem;
}
.wrap .public .testDivision .testMess .choiceCycle .costMon {
  width: 50%;
  float: left;
  background-color: #ff9933;
  -webkit-border-radius: 0 1.33333333rem 1.33333333rem 0;
  -moz-border-radius: 0 1.33333333rem 1.33333333rem 0;
  -ms-border-radius: 0 1.33333333rem 1.33333333rem 0;
  border-radius: 0 1.33333333rem 1.33333333rem 0;
  min-height: 1rem;
  line-height: 1rem;
  text-align: center;
}
.wrap .public .testDivision .testMess .choiceCycle .costMon .costNum {
  color: #fff;
  font-size: 0.4rem;
  margin-left: 0.4rem;
}
.wrap .public .testDivision .testMess .choiceCycle .costMon .costOrig {
  font-size: 0.37333333rem;
  color: #fff;
}
.wrap .public .testDivision .testMess .choiceCycle .testNext {
  float: right;
  color: #BCBCBC;
  line-height: 1rem;
  font-size: 0.37333333rem;
  padding-right: 1.06666667rem;
}
.wrap .public .testDivision .testMess .choiceCycle .testSub {
  float: right;
  -webkit-border-radius: 1.33333333rem 0 0 1.33333333rem;
  -moz-border-radius: 1.33333333rem 0 0 1.33333333rem;
  -o-border-radius: 1.33333333rem 0 0 1.33333333rem;
  border-radius: 1.33333333rem 0 0 1.33333333rem;
  vertical-align: middle;
}
.wrap .public .testDivision .testMess .choiceCycle .testUp {
  float: left;
  padding-left: 1.06666667rem;
}
.wrap .public .testDivision .testMess .testTimeBtn {
  text-align: center;
  padding-bottom: 0.8rem;
  color: #169BD5;
}
.wrap .public .testDivision .testMess .Btn {
  text-align: center;
  color: #169BD5;
}
